[2018-06-22 16:46] smarie opened #1 "Support case data generators (using yield)"

[2018-06-26 19:43] smarie opened #2 "Explain custom type hints in usage doc"

[2018-06-29 12:57] smarie opened #3 "Test on python 2"

[2018-07-05 12:53] smarie opened #4 "Allow cases for several test functions to coexist in the same module file"
For example we could provide a way to 'tag' the case functions with any object(s), and to 'filter' the case functions based on tag match in the `@cases_data` decorator

[2018-07-05 13:05] #4 closed

[2018-07-05 15:33] smarie opened #5 "It should be easy to include cases and tests in the same file"
Maybe a special constant THIS_MODULE will do the trick ?

[2018-07-05 15:46] #5 closed

[2018-07-05 17:10] #1 closed

[2018-07-05 19:53] smarie opened #6 "Add support for test case data caching"
See https://stackoverflow.com/questions/46913043/pytest-parametrised-fixture-with-different-cases

As of v0.3.0, using `@lru_cache` on case functions raises an exception.

[2018-07-05 19:56] #6 closed

[2018-07-05 21:24] smarie opened #7 "Explain how cases can be injected in test suites with several steps"

[2018-07-05 21:28] #7 closed

[2018-07-06 09:22] smarie opened #8 "Improve filtering mechanism"
It should be easier to
 * select cases one by one in a test function
 * select them based on basic and / or logic on the tags
 * use advanced filtering logic

See [this discusssion](https://stackoverflow.com/a/51199035/7262247)

[2018-07-06 09:48] smarie opened #9 "Allow case functions to have parameters, to be used in test suites"

[2018-07-06 10:39] #9 closed

[2018-07-06 16:00] #8 closed

[2018-07-10 08:59] smarie opened #10 "Show an example where test steps results are stored in the case object"

[2018-07-10 09:01] smarie opened #11 "Could generator be useful ? Provide a `case_data.yield()` function"
If the case function is written as

[code]

then I guess a a `case_data.yield()` could be used to retrieve the case data for the various steps.

Try it and add it in the documentation if it works as expected

[2018-07-27 10:14] smarie commented on #2
Done in api reference

[2018-07-27 10:14] #2 closed

[2018-07-27 10:15] smarie commented on #11
Fixed in 0.4.0.
The way it is done is a bit different than the above, but the 'yield' way was overly complex

[2018-07-27 10:15] #11 closed

[2018-07-27 10:29] smarie opened #12 "Change all examples so that they are more intuitive"
For example

Cases: Orange, Strawberry

Test: test_fruit

Test steps (only for the pytest-steps example):
 - peel (may fail)
 - mix (does not depend on peel)
 - eat (depends on mix)

[2018-08-03 16:25] #3 closed

[2018-11-09 12:49] smarie opened #13 "Update the tests so that they run pytest (move to "meta-testing")"
Basically we should copy what is done in [pytest-harvest](https://smarie.github.io/python-pytest-harvest/). Note that the continuous integration configuration should also be updated so as to run the correct matrix of pytest version x python version

[2018-11-21 16:39] smarie commented on #13
Considering the tests that are currently present, maybe updating the travis matrix will be good for now - meta testing can be done later

[2018-11-21 16:40] smarie opened #14 "Compliance with pytest 2.x, pytest 3.x, and python 2.x, python 3.x"
as mentioned in https://github.com/smarie/python-pytest-cases/issues/13 we should at least make travis run all configurations to be sure the lib works everywhere.

[2018-11-21 16:47] smarie opened #15 "Ability to create "case fixtures""
As of today a test function decorated with `@case_data` is a great way to perform the data retrieval inside the test function body: that way, if a single dataset fails to be retrieved, we do not fail the whole test suite.

However the fact that data retrieval is done inside the test function body might be a concern if test duration is monitored: the time spend to retrieve and/or parse each dataset

[2018-11-21 16:47] smarie opened #16 "Explain "case fixtures" in documentation"

[2018-11-21 18:01] #14 closed

[2018-11-21 18:01] #15 closed

[2018-11-21 18:01] #16 closed

[2018-11-21 18:02] smarie commented on #12
Is this really needed ? I let users give feedback on the ticket if they feel that way.

[2018-11-29 12:51] smarie opened #17 "Propose additional mechanisms to collect cases"
Two things would be cool:

 - load all subclasses of a given class
 - load all python scripts located in a folder (less sure of the need)

[2018-12-21 09:34] smarie opened #18 "Provide a uniqueness `@cases_fixture`"
session-scoped fixtures are not guaranteed to be unique by session, and module-scoped fixtures are not guaranteed to be unique for an unique parameter, in pytest. See pytest-dev/pytest#2846

We could at least try to provide a workaround in the `@cases_fixture` decorator, such as `ensure_unique=True`.

Note that https://github.com/pytest-dev/pytest/issues/3393 will not solve the problem because if

[2018-12-21 10:31] smarie opened #19 "Make `@cases_fixture` support `@pytest.mark.parametrize`"
This [idea](https://github.com/pytest-dev/pytest/issues/3960) will probably eventually be part of pytest, if users find it interesting.

But for older versions of pytest and also in the meantime, we could provide a workaround and support the following syntax:

[code]

Note that fixing it would also immediately make additional `@cases_data` usable, assuming we change the argument name. Indeed they

[2019-01-07 16:59] #19 closed

[2019-01-07 17:01] smarie commented on #18
Updated this issue since `@cases_fixture` is now deprecated and equivalent to `@pytest_fixture_plus` + `@cases_data`

[2019-01-08 12:51] smarie opened #20 "Improve generated fixture names for `@pytest_fixture_plus`"
`gen_paramfixture__<fixturename>__<paramname>` is not a very convenient name,

and besides it does not appear next to `<fixturename>` which is the decorated fixture name.

Suggested naming: `<fixturename>__<paramname>`. Simple and straightforward

[2019-01-08 12:55] #20 closed

[2019-02-01 13:21] smarie opened #21 "Add the possibility to use pytest marks on cases"
For example I would like to mark a particular case as skipped

[code]

[2019-02-01 14:12] smarie opened #22 "The parametrization order appears to be random when `@pytest_fixture_plus` is used with several `@pytest.mark.parametrize`"
Consider the following example:

[code]

The order of execution will randomly be 1-10, 1-20, 2-10, 2-20 or 10-1, 10-2, 20-1, 20-2.

[2019-02-01 14:16] smarie commented on #22
This was a stupid error in the code: a `dict` was used instead of an `OrderedDict`

[2019-02-02 07:16] smarie opened #23 "marks on cases do not work with pytest 3.3"

[2019-02-02 13:46] #23 closed

[2019-03-08 14:00] smarie opened #24 "Allow `cases_generator` to have a function to return the ids rather than only the template."
Like in pytest parametrize. For example providing a callable instead of a template in `name_template`. Also supporting an explicit name list could be great.

[2019-03-08 14:09] #24 closed

[2019-03-08 16:38] smarie opened #25 "Replace `my_decorator` with `makefun`"
`decorator` stays focused on signature-preserving scenarii (https://github.com/micheles/decorator/pull/58 ), and that makes sense.

I therefore created `makefun` to separate the concerns and focus solely on dynamic function generation in particular for signature modification scenarii.

We can now safely replace the `my_decorator.py` hack that was pending in here, by usage of `makefun`.

[2019-03-12 10:03] #25 closed

[2019-03-17 00:50] Sup3rGeo opened #26 "pytest_fixture_plus error with simple example"
Hi,

I am testing this code:

[code]

And getting this exception:

[code]

This is my environment:

[code]

Maybe I am doing something wrong?

Thanks!

[2019-03-19 10:04] smarie commented on #26
Indeed that was a regression without a proper non-regression test :)
I'm fixing it in a minute, you should receive a notification when the new release is created by travis

[2019-03-19 10:07] #26 closed

[2019-03-19 12:08] Sup3rGeo opened #27 "Exception in fixture_plus if parametrization has whitespace between argument string"
This works:

[code]

Now adding a whitespace to the parametrize arguments, after the comma:

[code]

fails with

[code]

This works fine when parametrizing a test in pytest.

[2019-03-19 12:41] Sup3rGeo opened #28 "id for fixtures parametrized with pytest.mark.parametrize"
I can explain it in the following example:

[code]

Which renders:

[code]

So basically the test id for `test_one`, parametrized using `pytest_fixture_plus` is not very pretty. It would be better to follow the same rules pytest uses for test ids in parametrization, resulting perhaps in something like this:

[code]

[2019-03-19 17:21] smarie commented on #27
Good catch. Strangely enough `pytest` does split the parameter names but does not strip the whitespaces so when I ask for the list of param names I get the whitespace in it :)

[2019-03-19 17:23] #27 closed

[2019-03-20 08:52] smarie commented on #28
Thanks @Sup3rGeo . Note that this seems to only happen when several parameters are passed in the same `parametrize`. I'll investigate

[2019-03-20 10:24] Sup3rGeo commented on #28
If not possible to have it as nice as the values themselves in the id, I believe we could at least name the fixtures in a more friendly way, maybe something like `myfix_arg1_arg2` or `myfix_arg1_x_arg2`.

[2019-03-20 11:29] #28 closed

[2019-03-20 11:33] smarie commented on #28
This, as well as Ronny's comments in https://github.com/pytest-dev/pytest/issues/3960, made me change the design in order to now simply collect all parametrization marks on the fixture and  make a "super parameter" out of them. That way, no fixture is generated anymore.

The side effect is that I have to generate the ids myself - which was precisely the reason why I did not want to do this. But th

[2019-03-21 20:07] Sup3rGeo opened #29 "pytest_fixture_plus does not seem to work with pytest.param parameters"
First of all let me thank you for the nice `pytest_fixture_plus`, I am really excited about it.

The problem I am having can be seen in the following example.

This works:

[code]
[code]

But if we enclose the fixture parameters using `pytest.param`, it does not anymore:

[code]

[code]

[2019-03-22 12:40] smarie commented on #29
That's strange because this happens when you use `@cases_data` and one of the cases is marked with `@pytest.mark.skip`. And it works. So I'll check and see why there is a difference..

[2019-03-22 12:55] smarie commented on #29
Ok I see what is happening. Found and fixed - the code was supporting only the case where a single parameter name was present.

[2019-03-22 13:03] #29 closed

[2019-03-22 15:14] Sup3rGeo commented on #29
Thanks for solving!

I didn't try your other packages because so far I did not find a reason to use them. But sure I will check if I ever need it.

[2019-03-22 15:16] Sup3rGeo opened #30 "pytest_fixture_plus does not honor parameter id"
Hi, another one! :)

Example:

[code]

result:

[code]

expected result:

[code]

[2019-03-22 15:53] Sup3rGeo opened #31 "Independent parameter"
Hi, this is a feature suggestion, which I believe is the missing piece of parametrization

We can define an individual parameter used for parametrization that is not either intrinsically tied to a fixture or test function like this:

[code]

The example above is bad because we are using a fixture to mask what is really a parameter. But we can solve this by doing:

[code]

and then the test becomes

[2019-03-22 16:57] smarie commented on #29
Ok - fair enough :) for info:

 - Using "cases" is a matter of style and architecture: when your parameters list becomes big (many items) and complex  (each parameter contains several things), it becomes much clearer to automatically create it from a separate file containing case functions.

 - Using "harvest" is handy if in your tests you want to do "meta-testing", on other words collect results

[2019-03-22 17:00] smarie commented on #30
Noted. A workaround is to use `ids=` at the `pytest.mark.parametrize` level

[2019-03-22 17:04] smarie commented on #31
I am not sure that I understand what you wish to do here.

Is this that you wish to reuse parameters for multiple tests ? Or that you dislike the `@pytest.mark.parametrize` syntax so much that you wish to create an alias ? ;)

[2019-03-22 18:38] Sup3rGeo commented on #31
No no, I like parametrize, but it injects the parameter for the specific test or fixture it is decorating.

That`s it, or reuse it in a fixture and a test, which is the first two code snippets I presented, which you can already do today. But what I can't do is have that for parametrizing a pair/triple/n-uple of parameters.

[2019-03-22 20:36] smarie commented on #31
I see. Well yes I guess that the answer to your need is indeed a "parameter fixture" as you show.

We *could* imagine a `param_fixture` helper function (basically a renaming of your first `parameter` function above). But as you point out we would have to extend it to support n-tuples. This is relatively easy: we would simply have to create several fixtures depending on each other (whatever the ord

[2019-03-25 09:31] #30 closed

[2019-03-25 09:32] smarie commented on #30
Done. Note that I also fixed that for marks too, you can test it by using a skip mark :

[code]

[2019-03-25 10:29] smarie commented on #31
I managed to implement it but in case of several parameter names, I had to create a "root" fixture above all parameters. Anyway it works as expected, I'll ship 1.5.0 so that you can give it a try.

[2019-03-25 10:36] #31 closed

[2019-03-25 10:45] smarie commented on #31
Note: may I kindly ask you to support these new features into the main `pytest` project (I saw that you opened a thread already) if they suit your needs ? Indeed it would be better for everyone I think, rather than keeping them here.

[2019-03-25 21:22] Sup3rGeo commented on #31
Thanks, I will check it out (and probably make an issue if I find anything wrong)!

And sure I also believe this should eventually get into pytest itself, as many people are using this pattern of creating fixture parameters and this makes it more explicit.

[2019-03-25 21:37] Sup3rGeo opened #32 "Ids look ok but not values in param_fixtures"
In this somewhat complex example:

[code]

The ids are ok but returned values are not when printing them:

![image](https://user-images.githubusercontent.com/20566367/54955780-935e8780-4f4e-11e9-8c9e-b7a4b9c2bef1.png)

[2019-03-26 08:48] smarie commented on #31
perfect! let me know

[2019-03-26 11:42] smarie commented on #32
I was sure that you would find something :) thanks, I'll have a look.

[2019-03-26 12:04] smarie commented on #32
Urgh this was an ugly one. My python favourite: the "late binding" issue.

https://stackoverflow.com/questions/3431676/creating-functions-in-a-loop

I fixed it, patch is shipping.

[2019-03-26 12:06] #32 closed

[2019-03-28 10:24] smarie opened #34 "`fixture_union()` able to take a list of fixtures instead of a list of values"
This seems like the missing piece. When we have this feature, combining it with `param_fixture` / `param_fixtures` will enable us to reproduce any of the scenarios mentioned in
https://github.com/pytest-dev/pytest/issues/349

Note that we could also provide a helper goodie `@pytest_parametrize_plus(..., fixtures=[...])` to do the same but directly on a function.

[2019-03-28 16:23] smarie commented on #34
A few notes after a couple hours on this topic: I managed to find a way using the hooks, to change the CallSpecs of the tests, that is, the list of calls that are to be made (together with the associated parameter values).

However now I'm stuck with this prototypical example

[code]

What should be the correct list of calls to `test_fixture_union` ?

[2019-03-28 18:52] smarie commented on #34
Update: first implementation seems to work correctly:

![image](https://user-images.githubusercontent.com/3236794/55184646-fb9dab00-5192-11e9-9e85-2035036e6e08.png)

[2019-04-03 07:48] smarie commented on #34
It seems that my second example was wrong in terms of expected results. Indeed I forgot the `a`.
This seems to be the appropriate list:

[code]

By seeing this list we clearly see that ids need to contain something indicating which fixture was selected by the union.

[2019-04-03 12:42] smarie commented on #34
New version works as expected. Ready to merge into master

![image](https://user-images.githubusercontent.com/3236794/55479570-a6441c80-561e-11e9-9b1d-6fd693d5ae9f.png)

[2019-04-03 14:10] smarie commented on #34
Fixed in 6e2f3c1f6291b494cd4d3ff3fc208ddadfab5419

[2019-04-03 14:10] #34 closed

[2019-04-03 14:52] smarie opened #36 "`param_fixtures` (with an s) seems to create auto-use fixtures"
This test fails because instead of being `[1]` the node id is `[a-1]`. In other words the first `arg` fixture created seems to be in 'auto use' mode.

[code]

Note that this does not happen with `param_fixture`.

[2019-04-03 15:07] smarie commented on #36
This seems like a pytest bug. We can reproduce it without `pytest_cases`:

This works:

[code]

while this does not

[code]

[2019-04-03 17:07] smarie opened #37 "Fixtures get called with `NOT_USED` as a parameter when using a fixture union"
[code]

[2019-04-03 17:13] #37 closed

[2019-04-05 09:25] smarie commented on #36
At least we can solve it for the dummy case where `param_fixtures` is used for a single parameter.

[2019-04-05 16:17] smarie opened #38 "If 2 fixtures without parameters are used in a fixture union, their setup/teardown should be done in sequence too"

[2019-04-05 16:20] smarie commented on #38
... and only once !

[code]

[2019-04-05 19:23] smarie commented on #38
This was an issue with `@pytest_fixture_plus` not correctly handling the `NOT_USED` parameter, that is actually added in the list so each fixture is called twice.

[2019-04-05 19:39] #36 closed

[2019-04-05 19:39] #38 closed

[2019-04-05 19:39] smarie commented on #12
wont fix, really.

[2019-04-05 19:39] #12 closed

[2019-05-28 15:22] smarie opened #39 "Improve the error message when the name template is wrong in `@cases_generator`"
As of today the exception can be tricky to understand :)

[code]

[2019-05-28 17:25] #39 closed

[2019-06-13 08:28] smarie opened #40 "`@pytest_parametrize_plus` decorator able to handle `fixture_ref`s in parameter values"
According to many users (see https://github.com/pytest-dev/pytest/issues/349) it would be useful to use fixture references in pytest parameter values.

Now that we support union fixtures this should be feasible.

[2019-06-13 14:46] #40 closed

[2019-06-14 08:23] smarie opened #41 "Alternatives created by fixture unions should be easily visible in test ids"
[code]

Currently leads to the following ids:

[code]

It will maybe not be very understandable in more complex cases. Besides as of today if one tries to set the ids manually he will get an error `ValueError: ids cannot be set on a union fixture`.

I propose to (1) allow ids to be set on union fixtures, and (2) propose an additional "idstyle" argument with three options:

 * `idstyle=None`: `a`,

[2019-06-14 08:26] smarie opened #42 "`pytest` Acceptance tests concerning fixture order should pass"
With our new replacement for the fixture closure and parametrization engine (to enable fixture unions in addition to cartesian products), we might have broken the basics. Let's make sure this is not the case.

See https://github.com/pytest-dev/pytest/blob/master/testing/acceptance_test.py#L1096

From https://github.com/pytest-dev/pytest/issues/2405 that was fixed by https://github.com/pytest-dev/p

[2019-06-14 10:55] #42 closed

[2019-06-14 10:55] #41 closed

[2019-06-14 12:46] smarie opened #43 "ValueError: 1 tests specified with X ids"

[2019-06-14 16:30] smarie opened #44 "Error when using session- or module- scoped fixtures and fixture unions."
While trying to solve this : https://stackoverflow.com/questions/46909275/parametrizing-tests-depending-of-also-parametrized-values-in-pytest

I found out that my proposal with union fixtures was not working correctly.

[2019-06-14 16:34] #43 closed

[2019-06-14 16:34] #44 closed

[2019-06-14 21:11] smarie opened #45 "Instead of always disabling the pytest "smart ordering" for session and module scoped fixtures, propose an option"
In current version, the pytest order optimization (`reorder_items` [here](https://github.com/pytest-dev/pytest/blob/master/src/_pytest/fixtures.py#L209)) is completely disabled (the original order is restored after it has been executed), so that the annoying bug concerning module-scoped fixtures order disappears.

That allows the right order to be set for example in [this example](https://stackove

[2019-06-15 11:10] browniebroke opened #46 "Issue in pytest-cases 1.8.1 with markers"
First of all, thanks for this neat library, it has simplified our tests quite a bit for [cookiecutter-django](https://github.com/pydanny/cookiecutter-django/blob/master/tests/test_cookiecutter_generation.py).

I'm not sure if I missed a change in 1.8 or if it's an actual bug, but it seems that 1.8.1 is not playing nicely with pytest markers. We use markers to spread markers over multiple workers o

[2019-06-15 13:17] smarie commented on #46
Thanks for the feedback !

Two main things changed indeed

 - the `pytest` optimized order for session- and module-scoped fixtures was disabled thanks to the `pytest_collection_modifyitems` hook. I already noted in #45 that this was too dangerous and should be only done with an explicit commandline option. This should only have an impact about the number of setups/teardowns, not about the number o

[2019-06-17 13:10] #45 closed

[2019-06-17 14:05] #46 closed

[2019-06-17 14:25] smarie commented on #46
I found the issue, it was with the reordering. Let me know if 1.9.0 fixes your problem (it should)

[2019-06-17 17:05] browniebroke commented on #46
Yea, looks like the execution time and load spreading is back to usual figures, thanks for the quick fix!

[2019-06-17 17:06] smarie commented on #46
you're welcome, thanks for the feedback !

[2019-06-25 10:58] smarie opened #47 "Support `fixture_ref()` in tuple of parameters"

[2019-06-25 10:58] smarie opened #48 "ValueError: too many values to unpack (expected 2)"
With pytest 3.7

[code]

[2019-06-25 11:33] smarie commented on #48
Still there :(

https://travis-ci.org/smarie/python-azureml-client/jobs/550201093

[2019-06-25 11:33] #48 closed

[2019-06-27 08:45] smarie opened #49 "Issues when parametrize argnames contains a list"
`IndexError: list index out of range` or `AttributeError: 'list' object has no attribute 'replace'` can happen even with normal pytest parametrize when `argnames` contains a list/tuple.

[2019-06-27 08:51] smarie commented on #49
[code]

[2019-06-27 16:47] #49 closed

[2019-07-03 08:31] smarie opened #50 "feature to unpack a fixture into several fixtures"
See

 - https://stackoverflow.com/questions/37351349/returning-multiple-objects-from-a-pytest-fixture

 - https://stackoverflow.com/questions/46568060/is-it-possible-to-use-a-fixture-in-another-fixture-and-both-in-a-test

[2019-07-03 09:33] #50 closed

[2019-07-03 09:46] smarie opened #51 "Add `unpack_into` to `union_fixture` too"

[2019-07-03 10:10] #51 closed

[2019-07-03 10:12] smarie commented on #47
It seems that if the fixture represents the whole tuple, it works, but it is not possible to use the reference for only one element of the tuple. To investigate, in order to see if this is really desirable.

[2019-07-03 11:32] smarie opened #52 "`pytest_fixture_plus(unpack_into=)` not taken into account when no parameters are provided"

[2019-07-03 11:47] #52 closed

[2019-07-31 03:53] hurricanehrndz opened #54 "Can not use fixture_ref when it returns an iter item"
[code]

[code]

[2019-07-31 07:36] smarie commented on #54
There is a mistake in your code: pytest parametrize requires a list for the `argvalues` argument. So this will work:

[code]

See https://docs.pytest.org/en/latest/reference.html#pytest-mark-parametrize-ref

[2019-07-31 07:36] #54 closed

[2019-07-31 07:36] smarie commented on #54
Note that I added a more intuitive error message so that other users figure it out by themselves. To be released in a few minutes.

[2019-07-31 07:45] smarie commented on #47
To add a more explicit description: this does not work yet because the fixture reference is only used as a **part** of the parameters tuple:

[code]

[2019-07-31 11:52] hurricanehrndz commented on #54
@smarie

Thank you so much for quick response. I really appreciation your help Unfortunately, when the code is changed as per your suggestion, it only prints the array as a whole. Ideally I would have expected the test function to loop through the array elements.

[2019-07-31 11:57] hurricanehrndz commented on #54
@smarie

Output example
[code]

vs
[code]

[2019-07-31 12:47] smarie commented on #54
Ok, I see. This is a misunderstanding of pytest `fixture` concept, unfortunately (I know, it is not obvious from the `pytest` doc)

Please have a look at this answer: https://stackoverflow.com/questions/50231627/python-pytest-unpack-fixture/56865893#56865893

[2019-08-01 09:27] yashtodi94 opened #55 "Compatibility issues with pytest-factoryboy"
Hello,

Thanks for creating this extremely useful plugin.

I get thrown an error when I try running pytest when 'pytest-cases' and 'pytest-factoryboy' both are installed.

The  tests run fine  if either 'pytest-cases'  or 'pytest-factoryboy' is installed but not both.

What can be the issue?

[code]

[2019-08-01 09:51] yashtodi94 commented on #47
Please add this feature. Would be of great use in testing different combinations in a complex function.

Also, the tests would be more reliable as one will then be able to do:

`assert p == 'a'` instead of `assert p in ['a', 'b', 'c']`

[2019-08-01 11:25] smarie commented on #55
This is unfortunately a limitation of changing the whole fixture system but not merging back this feature into `pytest`. `pytest-cases` is used as an experiment to validate the new features of fixture unions and fixture references, but this requires a drastic change of the way fixture closures are computed. Currently I do this without pytest knowing about it, by replacing `metafunc.fixturenames`,

[2019-08-01 11:33] smarie commented on #47
Sorry my example code was wrong. I updated it to reflect what should actually be the behaviour (it uses pytest-harvest to get the synthesis)

[2019-08-01 12:42] yashtodi94 commented on #55
The tests don't matter. The mere existence of `pytest-factoryboy` being installed itself leads to this error irrespective of the test(s) I try to run (even for the tests where I am not using factoryboy at all)

[2019-08-01 12:52] yashtodi94 commented on #47
Yes that is exactly what I am referring to. This will make the test code's syntax (and functionality) similar to how `@pytest.mark.parametrize` actually works. Will help in testing out multiple combinations of parameters. Also, saves a person from writing multiple tests just to test the combinations.

What do you think?

[2019-08-01 14:29] smarie commented on #55
I know but... to fix it it matters :)

Indeed the only thing I can do right now is to cancel everything `pytest-factoryboy` does. This cancellation will be done for all you pytest sessions, even if you do not use pytest-cases in it. So you probably do not want that: it would be similar to asking you to uninstall factoryboy, but it would be less obvious.

Since I have no idea of how factoryboy work

[2019-08-01 14:31] smarie commented on #47
perfect. I'll see what I can do.

[2019-08-01 16:22] #47 closed

[2019-08-01 16:23] smarie commented on #47
Done in 1.11.0. But I warn you: the names become hard to follow ! :)

Let me know if it works for you.

[2019-08-02 10:01] yashtodi94 commented on #55
As it turns out, `pytest-cases` was of more value to me rather than `pytest-factoryboy` so I did uninstall the latter. :P

But for this issue's sake, you can consider the test from [here](https://pytest-factoryboy.readthedocs.io/en/stable/#factory-fixture)

[code]

[2019-08-02 12:01] smarie commented on #55
Thanks ! Unfortunately this example does not work (`Author` is not defined) and I have no idea from the doc how to make it work. I tried to replace it with a string : `model = 'Author'` but that does not work either.

If you are familiar with the project, can you please guide me here ?
In the meantime I fixed at least part of the issue: I now tolerate that factoryboy tries to add an empty list of

[2019-08-02 12:03] #55 closed

[2019-08-06 12:15] smarie opened #56 "Allow case functions to require a fixture"
As of now

 - `@cases_data` performs a `@pytest.mark.parametrize` with as many values as case functions
 - `@pytest_parametrize_plus` is able to support `@fixture_ref`s in the list of values

So we could easily close the loop and allow user to decorate some case functions with `@requires_fixture(*fixture_names)`. For each of these case functions we would dynamically generate a fixture and inject i

[2019-08-06 16:42] smarie opened #57 "Support adding marks in `@cases_generator` case functions"
For single static cases, pytest marks can be applied already (skipif, etc.)

With `@cases_generator` it is not possible.

In order to be the most generic as possible, maybe we should support a `post_process` argument accepting a callable, that we would call to apply whatever marks are needed. Or if we find something simpler, lets do it :)

[2019-08-08 08:25] yashtodi94 commented on #55
@smarie

I tested it again with pytest-cases v1.11.1. The problem seems that my fixtures are in `conftest.py` and  tests are in various test files. In all the examples considered, the fixtures and tests existed in the same file which is not the practical case in my project.

[2019-08-08 11:23] smarie commented on #55
I do not understand what you mean, sorry :) . Do you mean that the issue is not actually solved by 1.11.1 and should be reopened ? If so please provide a reproducible example.

Otherwise, could you still provide a reproducible example of `pytest-factoryboy` ? as mentioned above, I did not manage to reproduce your example.

Thanks a lot, I really can't start to work on fixing anything if I have no

[2019-09-05 14:05] smarie opened #58 "UnboundLocalError: local variable 'sorted_fixturenames' referenced before assignment"
This strange issue happens when pytest is used with doctest

[2019-09-05 14:07] smarie commented on #55
I realized that my fix was never released, I do not know what happened in my mind that day... the version I was mentioning was 1.11.2. Very sorry for that, I'll release it now.

[2019-09-05 14:10] smarie commented on #58
The actual error is

[code]

[2019-09-05 14:13] #58 closed

[2019-09-19 06:27] yashtodi94 opened #60 "Make fixtures available without explicitly importing them from conftest.py"
Currently, I need to explicitly import a fixture or write the fixture in the same file as the test to use them in `fixture_ref()` of `pytest_parametrize_plus()`

[code]

Pytest automatically imports the fixtures defined in `conftest.py` and makes them available for all test files to be used as arguments in test functions. This does not seem possible when I use `fixture_ref` in `pytest_parametrize_

[2019-09-19 08:57] smarie commented on #60
Thanks for the feedback. This sounds like a bug, I will investigate

[2019-09-19 09:05] smarie commented on #60
I can not reproduce the bug :(

Indeed if I define a fixture in `contest.py` for example

[code]

I can then use it in any test file:

[code]

Yields:

[code]

So there is maybe something more complex in the issue that you spotted, can you investigate ?

[2019-09-19 09:17] yashtodi94 commented on #60
I think the issue is that I am using the actual value instead of passing the name of the fixture as string to `fixture_ref()`

I am using this:

`@pytest_parametrize_plus('main_msg', ['nothing', fixture_ref(global_fixture)])`

instead of:

`@pytest_parametrize_plus('main_msg', ['nothing', fixture_ref('global_fixture')])`

Let me confirm if it works.

[2019-09-19 09:28] smarie commented on #60
Both work for me - either using the symbol or the fixture name.

Internally the fixture name is retrieved using [`get_fixture_name`](https://github.com/smarie/python-pytest-cases/blob/afd87921ec74b054a01f8a4d73365961c3cdff22/pytest_cases/common.py#L27). Could you check what is the output of `get_fixture_name(global_fixture)` in your case ? It should be `'global_fixture'`.

[2019-09-19 15:22] yashtodi94 commented on #60
This is what I get:

[code]

[2019-09-19 15:43] smarie commented on #60
I updated the travis configuration to see if this is related to pytest 5: https://travis-ci.org/smarie/python-pytest-cases/builds/587077162

[2019-09-19 15:45] smarie commented on #60
Can you please send the full stack trace of your error message ?

[2019-09-20 02:41] yashtodi94 commented on #60
[code]

[code]

Stack Trace (there are other items collected too, can be ignored):
[code]

[2019-09-20 02:42] yashtodi94 commented on #60
The string part worked for me. I guess I am going to continue with that. Thanks.

[2019-09-20 07:18] smarie commented on #60
The solution is very simple :) you forgot to import the symbol so the python interpreter is not happy: in your test file simply add `from <xxx>.conftest import global_fixture`.

[2019-09-20 08:09] yashtodi94 commented on #60
Haha, I know this solution (Said that in the very first line of the thread :)).

Till now I was making it work with the `import` itself. But I have a lot of fixtures and didn't want to import everyone or all of them unnecessarily (coz `pytest` does it anyway).

The string solution works fine with me.

But it would be better if I do not need to explicitly.

[2019-09-23 07:39] smarie commented on #60
Ok then, no worries !

Unfortunately we are limited by the language capabilities here: if you do not import it, you can only use a new symbol if it is a new variable, function or class definition, or an input name.

I should maybe even prevent users to pass symbols so that there is only one way to do it (the string name).

Anyway thanks for the feedback !

[2019-09-23 07:39] #60 closed

[2019-10-22 16:37] rafspiny opened #62 "Standard PyTest parametrize decorator broken"
When using a standard parametrize decorator while pytest_cases is installed, seems to cause these tests to become broken.
If I uninstall `pytest_cases` I am able to collect the test and run it, successufully.

I am attaching a very simple example to reproduce it.

I am using the following versions:

$ pip freeze | grep -i pytest

[code]

Leads to the following output:
[code]

[2019-10-23 12:03] smarie commented on #62
Thanks for reporting this ! it is a python-2 only issue apparently, due to the fact that at some point I do `isinstance(argnames, str)` and this returns false when `argnames` is a python 2 string.

I'll fix this in a minute.

[2019-10-23 12:29] #62 closed

[2019-10-23 14:58] smarie commented on #62
1.11.4 release should do the trick, feel free to reopen if that does not. Thanks again!

[2019-10-25 21:59] gjoseph92 opened #63 "pytest_parametrize_plus incompatible with classes"
[code]
This causes `fixture 'self' not found` on the `TestCase` class:

[code]
Notice that with the `test_thing_pytest` function, normal `pytest.mark.parametrize` handles `self` just fine.

Pipfile:
[code]

[2019-11-05 10:12] smarie commented on #63
Thanks for reporting this ! I'll have a look

[2019-11-05 10:42] #63 closed

[2019-11-05 10:42] smarie commented on #63
Fixed in `1.11.5`, it should be deployed in a few minutes. Thanks again for reporting !

[2019-11-05 11:24] smarie commented on #63
Bad luck : travis has issues https://travis-ci.org/help?anchor=top&page=https%3A%2F%2Ftravis-ci.org%2Faccount%2Frepositories

The release will be done afterwards. Sorry for the delay

[2019-11-12 14:52] ze-phyr-us opened #64 "Test collection fails when fixtures are indirectly parametrised"
Hi, I think I found a bug that looks similar to #62, but is probably something completely different.

In a pytest test case, you can parametrise a fixture that's not used by the test case directly, but is used by another fixture:

[code]

Unfortunately, it seems `sort_according_to_ref_list` in pytest_cases/plugin.py:979 does not expect this and crashes because `my_fixture` is being parametrised bu

[2019-11-12 20:33] raddessi opened #65 "Unable to install in tox env - ImportError: No module named six"
Hey, this looks great but I'm unable to install this locally in my tox test envs. On installation of the package pip tries to run setup.py but then complains that six is not installed. Ive tried to add a pyproject.toml with `dependencies` and `build-system` sections to no avail, have you seen this yourself yet?

Here is a trimmed `tox.ini` file I can recreate with:

[code]

[2019-11-13 17:30] smarie commented on #64
Nice catch ! Thanks for reporting. I'll have to have a look in the following days. Yes it is maybe not an easy one for a PR :)

[2019-11-13 17:33] smarie commented on #65
Someone else already reported something similar for another of my projects and proposed a `pyproject.toml`: https://github.com/smarie/python-makefun/pull/44/files

From current build (travis) I do not rely on a `pyproject.toml`, I just install the requirements at https://github.com/smarie/python-pytest-cases/blob/master/ci_tools/requirements-pip.txt before actually using.

Maybe you could get insp

[2019-11-13 17:40] raddessi commented on #65
I actually did fork this off and try to make this work with a `pip install git+https://blah` using both setup.ini and then pyproject.toml but I couldn't get it to install the packages `setuptools_scm` or `six` before trying to run setup.py, which would then fail since they were missing. I can dig more when I have time, I was hoping you would know more than I do about packaging and there was just s

[2019-11-13 18:57] raddessi commented on #65
Actually.. I may have a working change at the moment. I think this issue is fixed in the fork and now another package has the same exact issue and I just wasn't reading the failing package name correctly. Let me work on this for a bit and I'll send a PR if this is resolved. Thanks!

[2019-11-13 19:04] raddessi commented on #65
It works! pytest-cases was pulling in decopatch which had the same issue, and I wasn't reading the output correctly and assumed it was the same failure from pytest-cases. PRs incoming

[2019-11-14 16:58] smarie commented on #65
cool, thanks ! I answered in the PRs

[2019-11-17 06:50] raddessi commented on #65
Do you release new versions to pypi regularly?

[2019-11-17 15:18] smarie commented on #65
sorry I thought you were working from sources - yes, it is fully automated on tag so I can do it anytime if needed

[2019-11-17 15:18] smarie commented on #65
I dont know why I thought that btw since the stacktrace we pretty explicit :)

[2019-11-17 16:00] smarie commented on #65
decopatch 1.4.7 and pytest-cases 1.11.6 released. Let me know if this closes the ticket. Thanks again !

[2019-11-18 08:20] smarie commented on #64
Update: I am able to reproduce.

[2019-11-18 09:58] #64 closed

[2019-11-18 17:37] raddessi commented on #65
Oh no problem, there was plenty of confusion on my side as well ;) Yes this works perfectly now! tox builds from pypi just with the name pytest-cases, I will close this out. Great work on this project and thank you for the quick responses btw, have a great week!

[2019-11-18 17:37] #65 closed

[2019-11-18 20:03] ze-phyr-us commented on #64
Thank you for the quick fix!

I am now getting UserWarnings from the plugin. Are they harmless and can I just ignore them in pytest.ini?

[code]

[2019-11-19 09:01] smarie commented on #65
Thanks for the feedback! Great week to you too

[2019-11-19 09:03] smarie commented on #64
Yes. As explained in the documentation, `pytest-cases` changes the default ordering procedure of tests. When pytest tries to change the order for some reason, we do not take into account the change and raise this warning instead. This is harmless except if you are very much attached to the legacy ordering.

[2019-11-19 15:33] ze-phyr-us commented on #64
Thanks! I am sorry I didn't notice that in the docs.

If anyone else finds this: it might be helpful to know that this is how the warning can be ignored in your pytest.ini:

[code]

[2019-11-19 16:29] smarie commented on #64
![image](https://user-images.githubusercontent.com/3236794/69165637-2e196100-0af2-11ea-8d7f-d33039a7d9cf.png)

thanks again !

[2019-11-20 18:37] mskoenz opened #67 "importing a fixture_union from subdir fails with KeyError"
Hi, first thx for the cool package!

### Situation
Have my fixtures and fixture union in a subdir and import it in my test file. It does not work, unless I import every fixture somehow part of the union.

[code]

[code]

[code]

### Fails
this fails upon calling pytest with:
[code]
### Ugly workaround
but if I `from subdir import *`it works since fix_a, fix_b are now present. It seems to resolve t

[2019-11-20 20:06] smarie commented on #67
Nice one, thanks for reporting! I'll have a look in the upcoming days.

[2019-11-21 15:14] smarie commented on #67
I was able to reproduce the bug. I'll have a look.

[2019-11-21 15:16] mskoenz commented on #67
Great! I was just surprised is all, depending on how it is documented it doesn't have to be a bug :) I could imagine that changing that behavior has larger implications...

[2019-11-21 17:25] smarie commented on #67
Apparently this is a known issue with pytest in general:

https://stackoverflow.com/questions/47402435/pytest-fixture-of-fixture-not-found

So I guess I wont "fix" anything but silently escape the KeyError so that you get the same error as everyone else ("fixture not found").

[2019-11-21 22:48] mskoenz commented on #67
I tested the example and can confirm. I agree, it does not make sense to "fix" pytest, it would need to be a deliberate enhancement.
Thats a good idea, so googeling the error will lead people to pytest.
Thanks and feel free to close the issue.

[2019-11-22 12:30] #67 closed

[2019-11-22 12:31] smarie commented on #67
perfect, thanks! fixed in 1.11.8

[2019-11-25 13:31] ze-phyr-us opened #68 "Collision with pytest_asyncio - related to FixtureClosureNode.append"
Hi,
I think the stub (non)implementation of `FixtureClosureNode`'s list interface is causing a problem when [pytest-asyncio](https://pypi.org/project/pytest-asyncio/) is also used. This simple test passes when `pytest-cases` is not installed:

[code]

However, as soon as I install `pytest-cases` the same test fails:

[code]

That UserWarning in there is telling, I think. But I have no idea how to

[2019-11-28 17:27] smarie commented on #68
Thanks for reporting ! I was able to reproduce it.

[2019-11-28 17:39] smarie commented on #68
Unfortunately this is due to the fact that `pytest_asyncio` is injecting a fixture dependency in a way that is not "standard" (i.e. it does not add a parameter to the function ; instead it adds the fixture name to the fixture closure).

I am not sure if fixing this will be easy, probably not. How "critical" is the issue for now ? Does the workaround work for you today ? If so I'd like to postpone

[2019-11-29 21:05] ze-phyr-us commented on #68
Thank you for looking into this. We have 500+ tests utilising pytest-asyncio, so adding that unwanted `event_loop` argument to all of them would be quite sad, not to mention adding all those `# pylint: disable=unused-argument` comments 😞

If pytest-asyncio's way of injecting the dependency is not standard, is it perhaps worth opening an issue with them?

[2019-12-01 11:14] smarie commented on #68
Indeed. I'll have to check this "non standard" assertion, I might be wrong. `pytest` API is quite broad so there are often many ways to do the same thing, several more "hacky-looking" than others - that may not mean that this is not "standard". I'll look into this, maybe with the help from pytest team

[2019-12-11 12:21] #68 closed

[2019-12-11 12:22] smarie commented on #68
I managed to make this work :) should ship in 1.11.9 when travis has built

[2019-12-13 16:01] ze-phyr-us commented on #68
Thanks a lot! Works for me too.

[2019-12-18 16:43] smarie opened #69 "Unnecessary prefix in test ids when `fixture_ref` is used in parametrize_plus"
@smarie Thank you for pytest-cases, i've managed to get what i wanted, and it looks almost fine, except for fixture names :)

[code]

<details>
<summary>test output</summary>

[code]
</details>

_Originally posted by @last-partizan in https://github.com/pytest-dev/pytest/issues/349#issuecomment-566777286_

[2019-12-18 16:54] last-partizan commented on #69
My first attempt to fix it was to wrap fixture_ref in pytest.param with explicit id, but pytest-cases expects values to be tuple, not ParameterSet.

In current output there is clearly unneded prefix `test_get_or_create`, do you think it can be removed? or it serves some purpose elsewhere?

[2019-12-18 18:11] smarie commented on #69
So you issue is that the generated test id name is a bit unfriendly ;) (`test_get_or_create_book_name_expects_is_fixtureproduct__0`).

Well I agree, but at the same time I have no clue on how to do better here. Here is how I proceed:

 - when `@pytest_parametrize_plus` is used for a **single parameter** and contains at least one `fixture_ref()` in its values, the function is not parametrized as us

[2019-12-18 21:00] smarie commented on #69
Concerning your suggestions:

 - ParameterSet should be supported in the list of values but I do not know if I correctly copy the id. If not could you please file an issue here ?

 - great idea to remove the unneeded prefix actually: I did not realize that since I already use custom ids (and not the fixture names, that need the prefix to be unique), I could actually do it. Will do tomorrow ! Thank

[2019-12-18 22:50] last-partizan commented on #69
[code]

First case is working, but yes, name is copied incorrectly, i get 'name0' instead of 'alice', i'll open separate issue.
Second and third cases throwing errors:
[code]

Do they supposed to throw it or can it be fixed? By my understanding, it can, but with my first idea ids will be lost:
https://github.com/smarie/python-pytest-cases/blob/b541402786b4fe980b5b6c14eb5a24a8ab2f9442/pytest_cases/

[2019-12-18 23:08] last-partizan commented on #69
Oh, i missed first message, and now i just read it.

Wait a minute, i was trying to do this:
[code]
And it passed collect stage, but crashed at test stage (same as simple pytest.mark.parametrize, so i assume this is fine, and i should not use tuples with pytest.param inside).

[2019-12-18 23:20] last-partizan commented on #69
By 'ParameterSet should be supported in the list of values' you mean this?

[code]

Here is actually two issues: incorrect id, and it doesn't work (it passes ParameterSet to test_function), just like pytest, so here is nothing to fix.

When using `pytest.param(fixture_ref("book1"), id="book1")` ids is working fine.

[2019-12-19 10:17] smarie commented on #69
Yes I meant `pytest.param`. So I understand that here `pytest-cases` works similar to `pytest` so there is no particular issue. Am I correct ? If so, please open the ticket in a separate issue with a minimal reproducing example + actual/expected outcome so that I can handle it properly.

Now concerning removing the prefix, I'm on it.

[2019-12-19 10:18] smarie opened #70 "TypeError: got an unexpected keyword argument 'indirect'"
[code]

raises `TypeError: got an unexpected keyword argument 'indirect'`

[2019-12-19 10:19] smarie commented on #70
`Python 3.7.3, pytest-5.0.0`

[2019-12-19 11:13] last-partizan commented on #69
Yes, you are correct.

Thanks!

[2019-12-19 11:48] #69 closed

[2019-12-19 11:48] #70 closed

[2020-01-06 08:49] adnanmuttaleb opened #71 "PluginValidationError: unknown hook 'pytest_fixture_plus'"
I have installed `pytest_cases`, but when using it in `conftest.py`:

[code]

I get the following error:

[code]

I tried to upgrade `pluggy`, but this did not work.

[2020-01-06 10:46] adnanmuttaleb commented on #30
what is `pytest_param` @smarie ?

[2020-01-09 03:55] lawschlosser opened #72 "case functions not properly found after first run"
## Description
Hi,
I believe I've encountered a bug where cases aren't properly identified/used on secondary runs of the test..  In other words, I can run a full pytest invocation as expected (cases work great).  However, if I invoke the same pytest command again, cases are not properly gathered, resulting in skipped tests.

## Repro

[code]

[code]

[code]

Works as expected. Excellent!

Let's tr

[2020-01-16 11:16] smarie commented on #30
Oops it was `pytest.param` I guess. That's the usual way to customize a single parametrized test in pytest, see https://docs.pytest.org/en/latest/parametrize.html#pytest-mark-parametrize-parametrizing-test-functions

[2020-01-16 16:36] smarie commented on #71
Thanks ! I was able to reproduce this. `pytest` thinks that `pytest_fixture_plus` is a plugin because it starts with `pytest_` :)

[2020-01-16 17:42] smarie commented on #71
A quick and dirty workaround is to rename the symbol:

[code]

[2020-01-17 08:24] smarie commented on #72
Thanks for reporting ! I'll investigate now

[2020-01-17 08:29] smarie commented on #72
I can not reproduce the issue on windows. On which platform are you running this ? The pytest caching mechanism/lib seems to be platform-dependent

[2020-01-17 08:48] #71 closed

[2020-01-17 08:48] #72 closed

[2020-01-17 18:57] lawschlosser commented on #72
@smarie Ah, sorry.  I forgot to mention my platform info:
- ubuntu bionic
- python 2.7.15

libs:
[code]

Thanks for fixing!

[2020-01-17 19:47] smarie commented on #72
Thanks for the additional info!
Let me know if the new version does not solve the issue

[2020-01-27 16:32] asharmarx opened #73 "Is it possible to parametrize a fixture that returns a list?"
Hello everyone,

I was wondering if it is possible to parametrize a fixture that returns a list using some combination of parametrize_plus, fixture_ref, and/or unpack_into.

For ex:
[code]

Is something like this possible?

I am running Python 3.7.3 and pytest-cases version 1.12.0.

[2020-01-27 16:55] smarie commented on #73
Thanks for asking !

Indeed the roles and responsibilities of fixtures and parameters in pytest are not very clear to get. Please check first this post : https://stackoverflow.com/questions/42228895/how-to-parametrize-a-pytest-fixture/56871701#56871701

It should help you understand why what you are asking for is unfortunately not possible :(

[2020-01-27 16:56] smarie commented on #73
Actually this one is even clearer: https://stackoverflow.com/questions/50231627/python-pytest-unpack-fixture/56865893#56865893

[2020-01-27 17:05] asharmarx commented on #73
Wow, thank you so much! Though it's a bummer I can't achieve what I wanted, I now learned something more about pytest.

[2020-01-27 17:05] #73 closed

[2020-01-27 17:18] smarie commented on #73
Note that you can achieve what you want - you just cannot with fixtures "out of the box". Why do you absolutely need this list to be a (*dynamically* created) fixture ? You could instead create it as a variable anywhere in the scripts (created before the collection phase ends) and use this variable to source your pytest parameters.

[2020-01-28 15:00] smarie commented on #71
Fixed in 1.12.1 - sorry for the deployment delay, I actually forgot to tag :)

[2020-01-28 15:01] smarie commented on #72
Fixed in 1.12.1 - sorry for the deployment delay, I actually forgot to tag :)

[2020-02-18 13:40] jitsejan opened #74 "[Tiny bug] Wrong deprecation warning for parametrize_plus"
`main_fixtures.py`

warn("`parametrize_plus` is deprecated. Please use the new alias `parametrize_plus`. ")

[2020-02-18 16:23] smarie commented on #74
!! thanks :)

[2020-02-18 17:21] smarie commented on #74
Fixed in df95845

[2020-02-18 17:21] #74 closed

[2020-03-06 13:22] smarie opened #75 "More explicit error messages when `unpack_fixture` or `fixture_union` is used on something that is not a fixture."
It can happen that people forget to decorate their fixtures. Let's help them find it out quickly.

[2020-03-06 13:25] #75 closed

[2020-03-17 14:36] Sauci opened #76 "ValueError: This should not happen anymore"
Hello,
I'm trying to use nested ```fixture_plus``` into my [tests](https://github.com/Sauci/pydbc/blob/master/test_grammar.py), but I get a **ValueError**, with message **This should not happen anymore**, raised from *plugin.py*, line 387. Bellow, a code snippet to reproduce this issue. I hope I'm not doing something wrong...
[code]

Here, the full stack trace:
Testing started at 15:27 ...
C:\User

[2020-03-18 10:30] smarie commented on #76
Thanks for reporting ! I'll have a look, indeed this should not happen anymore.

[2020-03-19 13:04] smarie commented on #76
I managed to fix the issue, I will release it soon. I end up with `AttributeError` in your test example, but I guess this is now just a human mistake, not related to the engine:

[code]

[2020-03-19 13:22] #76 closed

[2020-03-19 13:31] smarie commented on #76
1.12.4 will be available once [the build has completed](https://travis-ci.org/github/smarie/python-pytest-cases) and it should fix this. Let me know if it is not the case !

[2020-03-19 17:10] Sauci commented on #76
Thank you very much, it works now

[2020-03-30 08:54] liushanguo opened #77 "Name param value can automatic generated by the kwargs"
The `cases_generator` decorator  `name` param is too long?
I think it's can be automatic generated by the kwargs

Like this:

    from decopatch import function_decorator
    from pytest_cases import cases_generator

    @function_decorator
    def wrap_cases_generator(names=None, lru_cache=False, **kwargs):
        if names is None:
            names = ''
            for key in kwargs.keys():

[2020-03-30 13:44] smarie commented on #77
Hi @liushanguo and thanks for this ticket !

Indeed I seem to have forgotten to include a default behaviour when `names=None`. I'll fix this right away.

[2020-03-30 13:47] #77 closed

[2020-03-30 13:51] smarie commented on #77
This should be fixed in 1.13.0 that will be released on pypi when the build [completes](https://travis-ci.org/github/smarie/python-pytest-cases/builds/668770976)

[2020-03-31 08:50] liushanguo commented on #77
thanks !

[2020-04-25 13:11] smarie opened #78 "Improve packaging"
- py.typed
 - setup.cfg universal_wheel
 - setup.py remove six dependency

[2020-04-25 13:12] #78 closed

[2020-05-16 21:50] pehala opened #79 "Allow usage of pytest.param in parametrize_plus"
Pure `parametrize` can be given arguments wrapped in `pytest.param` to for example pass additional mark for that specific case (https://docs.pytest.org/en/latest/example/parametrize.html). I think it would be a good idea to support it (if it isn't already working) also for `parametrize_plus`.

[2020-05-18 13:23] smarie commented on #79
Thanks for the suggestion @pehala  ! It *should* work out of the box, as `**kwargs` are passed along. However I have no explicit test in the test suite for this, so I would be glad to add one if you are able to provide some example code.

[2020-05-19 07:40] pehala commented on #79
@smarie I have created PoC tests to see if it works and it sadly seems like it doesn't.

[2020-05-19 10:27] smarie commented on #79
Thanks for the PR !

This is a bit strange since `pytest.param` works with `@pytest_fixture_plus` (see [this test](https://github.com/smarie/python-pytest-cases/blob/fa74fd047981a6b1c3fee12d2c76e57e3bed4045/pytest_cases/tests/fixtures/test_fixtures_parametrize.py)).

Maybe it is the interaction with `fixture_ref` that generates the issue.

If you are ok to investigate a bit, I would be very glad t

[2020-05-19 10:37] smarie commented on #79
I had an afterthought though. `pytest.param(fixture_ref(b), id="id-b")` can obviously work when the referenced fixture `b` is not parametrized itself, but what if this fixture is parametrized ? It does not seem trivial to determine what to allow or disallow here.

Which behaviour shall we adopt with each option provided by `pytest.param` when the parameters value is a fixture reference or one of t

[2020-05-19 11:33] pehala commented on #79
I think it is reasonable to allow it only for non-parametrized fixtures, there are just too many edge cases to cover.

[2020-05-19 11:57] pehala commented on #79
I have minimalized it into 2 smaller issues.
 * The `fixture_ref` in pytest.param is not translated into an actual value. This code fails even though it is correct.
[code]
* Marks and IDs are used for multiple cases, you can see in the output that all cases from `test_mark` were skipped and all cases from `test_id` have the specified id.
[code]

[2020-05-26 07:06] smarie commented on #79
This is great, thanks @pehala ! sorry for answering so late, I'll have a look.

[2020-05-26 08:13] smarie opened #81 "Annoying warning "WARNING the new order is not taken into account !!""
this happens in pytest 4+ even if fixture unions (or fixture refs, that create fixture unions) are not used. We could at least support the reordering when no fixture unions are present and the fixture closure is a list, not a tree.

[2020-05-26 08:49] #81 closed

[2020-05-26 13:59] smarie opened #83 "Provide an easy way to debug "behind the scenes" fixture creation with hooks"
Many functions in the `pytest_cases` API create fixtures behind the scenes:

 * `unpack_fixture`
 * `fixture_union`
 * `param_fixture[s]`
 * `parametrize_plus`

This is because the design philosophy is not to mess with `pytest` internals when possible.

However, users may get lost when something unexpected happens. Besides all these fixture functions created behind the scenes can not be easily dec

[2020-05-26 17:22] smarie opened #85 "SyntaxError when creating an union containing the same fixture twice"
Yes, this is not common :)

But this should be supported for the sake of completeness, and to prepare the case where different marks can be applied on each part of the union.

Consider this:

[code]

Right now it raises `SyntaxError: duplicate argument 'a' in function definition`

[2020-05-26 17:41] #83 closed

[2020-05-27 07:21] smarie opened #86 "Improve ids for pytest parametrize"
Current id generation strategy in parametrize plus seems suboptimal. Consider this:

[code]

It generates the following ids:

[code]

Several things could be improved:

 - `arg1_arg2_is_0to1` could be renamed `arg1_arg2_is_P0toP1` to denote that these are parameter indices
 - `arg1_arg2_is_3-4-4` can be simplified in `arg1_arg2_is_P3` or even `arg1_arg2_is_4-4`: no need for a parametrized fixture

[2020-05-27 07:37] smarie commented on #86
We could even remove the `arg1_arg2_is_` prefix ! An option in `parametrize_plus` could ease the process of adding it. Note that otherwise passing `ids="arg1_arg2_is_{}".format` should lead to the same result but I'm pretty sure it doesn't as of now

[2020-05-27 08:31] smarie opened #87 "Inconsistent priority order between custom ids in `fixture_plus`"
In standard pytest, ids passed through `pytest.param` have precedence over the `ids` argument. In `pytest_cases.fixture_plus` this is not the case

[code]

yields

[code]

while it should yield

[code]

[2020-05-27 11:31] #85 closed

[2020-05-27 11:31] #87 closed

[2020-05-31 15:43] #79 closed

[2020-05-31 15:43] #86 closed

[2020-06-01 08:45] smarie commented on #79
It took me much more time than I expected, but it was worth it: the ids and marks are now properly managed in all of the API, consistently with pytest behaviour. Users can use `pytest.param` everywhere, it works.

Thanks a lot @pehala for spotting the issue and triggering the process

[2020-06-01 09:18] pehala commented on #79
Thanks a lot for fixing it @smarie!

[2020-06-01 14:55] smarie commented on #79
Version `1.15` is now available. Let me know if it works as expected.

[2020-06-02 12:43] smarie opened #90 "V2: Align case functions with parametrize_plus/fixture_ref experience"
Now that `parametrize_plus` fully supports `fixture_ref` and `pytest.param`, we should be able to fully uniformize the experience provided in "case functions" with the experience of `parametrize_plus`:

 - passing ids and marks should be similar/aligned.

     - For single case functions: as of now we have a `@case_name` decorator to customize the id, and on the other hand case functions can be de

[2020-06-02 12:57] smarie opened #91 "Enforce file naming pattern: automatically get cases from file named `test_xxx_cases.py`"
We suggest this pattern in the doc, we could make it a default.

[2020-06-02 15:43] smarie opened #92 "Support for `lazy_value` in `parametrize_plus`"
A missing part for V2 (convergence between case functions and pytest mechanisms, see #90 ) is the capability to not create a fixture for every case function. Indeed this is not necessarily needed: for example when the case function has no parametrization at all and does not depend on any fixture.

Also we might argue that when a case function only has parametrization (case generator) but no fixtur

[2020-06-03 10:23] jnoortheen opened #93 "alternate approach as cases inside class"
I really like this library but it seems to require lot of boilerplate code to get running.

Can we have a class based approach as well to the existing approaches?
What do you think about the following way?.
[code]

 I know I can just put this inside  generate_tests to parameterize the test, but not sure, how to pass the parameters from the case functions and make the case functions behave like fix

[2020-06-03 13:15] smarie commented on #93
@jnoortheen thanks for the feedback !

I agree with you - this is why I am in the process of making the experience closer to pytest. (See #90 )
This should happen within one or two weeks, so I suggest that we take this conversation again when it (and the associated new readme) is done.

Sorry for delaying, and thanks for your patience !

[2020-06-11 07:58] smarie opened #94 "Use `pytest_fixture_setup` hook for a more readable implementation of fixture union "NOT_USED" ?"
to investigate: maybe also that will be necessary to handle `lazy_value` in fixtures

[2020-06-11 13:04] #92 closed

[2020-06-11 19:39] saroad2 opened #96 "Support default test cases"
I would like to be able to use the `cases_data` decorator without the need to specify the cases every time.

consider the following test module:

[code]

As you can see, In this example the cases should be taken by default **from the current test module**, if it wasn't specified otherwise.

This will clean a lot of the boilerplate code you are trying to avoid by using `parameterized_plus`.

Person

[2020-06-12 08:55] smarie commented on #96
Thanks for the proposal and kind words :) And thanks for the feedback about the easier-to-read decorators than pytest.mark.parametrize.

Did you try `@cases_data(module=THIS_MODULE)` ? (you need to import THIS_MODULE from pytest_cases)

Otherwise, I agree on the boilerplate, however the current plan was to have as default the file named `test_xxx_cases.py` (see #91 ). Obviously I will keep the `TH

[2020-06-12 08:56] smarie commented on #90
See #96: the user-friendly decorators should be kept !

[2020-06-12 10:54] saroad2 commented on #91
Awesome solution! personally, I prefer much better the *cases_XXX.py*. The reason for that is that paths starting with *test_* are for, well, tests (not cases)!  Starting with the *cases_* prefix will make it much clearer.

What do you think?

[2020-06-12 10:58] saroad2 commented on #96
Hey, thank you very much for the answer! After I published this issue, I found out about `THIS_MODULE`.

In any case, #91 will solve the entire problem! Take a look there and see that I've suggested a new pattern for the cases path. I think it will be much better.

[2020-06-12 12:37] smarie commented on #91
Well to be honest my first implementation in the early days was just like you propose :)

But then I found out that my test folders were "hard" to manage because the file containing the cases was sitting "far" from its test counterpart in the sorting order of my IDE (PyCharm), which was alphabetical. Still, I agree that this is much more nicer to read! Maybe I'll make that one the default (cases_x

[2020-06-12 12:38] smarie commented on #96
Thanks @saroad2 . I answer in #91 . I'll close this one, please feel free to reopen if needed

[2020-06-12 12:38] #96 closed

[2020-06-12 16:05] smarie opened #97 "`lazy_value` : build a nicer id when the function is a partial"
See https://stackoverflow.com/a/62348105/7262247

[2020-06-17 22:01] saroad2 opened #98 "Add "before/after_each_case" and "before_all_cases""
Hey!

I need the ability to run a method before/after each case and each test and before/after all cases.
For example, consider the following code:
[code]

This should print the following output:
[code]

It shouldn't be extremely hard to implement, but it would be very helpful.
Once you approve. I'll implement it.

[2020-06-20 12:19] smarie commented on #98
You can do this today with a pytest fixture:

[code]

Let me know if it works for you

[2020-06-23 13:53] smarie opened #99 "support marks on `lazy_value`"
Still something that will be needed in v2 see #90 .

Note that is a `pytest.param` already exists on a `lazy_value` marks should be merged

[2020-06-23 13:57] smarie opened #100 "Suppress annoying warning when a mark is used on a case"
[code]

[2020-06-23 14:23] #97 closed

[2020-06-23 14:23] #99 closed

[2020-06-23 14:23] #100 closed

[2020-06-23 15:13] smarie opened #102 "`lazy_value` is called at pytest "call" stage, not pytest "setup" stage"

[2020-06-23 15:36] #102 closed

[2020-06-25 08:26] smarie opened #104 "Move the exception handling "trick" to a dedicated pytest goodie"
In the perspective of V2 #90 I would like to remove from pytest-cases any kind of template or recommendation on the case functions output, to let the users free to invent any usage.

However this documentation section https://smarie.github.io/python-pytest-cases/usage/basics/#handling-exceptions is interesting and there is maybe a way to offer this functionality as an independent pytest goodie. Fo

[2020-06-26 11:50] smarie opened #105 "Cryptic error message when we make a mistake with the argnames in `@parametrize_plus`"
A mistake in the argnames

[code]

raises `IndexError: list index out of range`.

[2020-06-26 13:26] smarie opened #106 "`parametrize_plus` could provide alternate ways to parametrize a test functions"
We have in `cases_generator` an illustration of a different way to parametrize something, using a string formatter for multiple arguments at once. We could improve `parametrize_plus` to support such alternate ways to parametrize tests.

[2020-06-28 19:57] smarie opened #107 "in V2, provide symbols with the `_plus` suffix removed"
for those user who don't care about the distinction with pytest symbols :)

[2020-07-03 16:24] smarie commented on #57
will be fixed in 2.0 by #103

[2020-07-03 19:20] smarie opened #108 "Provide an easier API for filtering cases"
We could

 - allow the user to query a different prefix (e.g. `data_` instead of `case_`) for the main filter

 - for the second level of filtering, there is currently `has_tags` and `filter` (a callable). Maybe we could also accept a glob-like pattern in `filter`, for example `*success*` or `*error*`

[2020-07-09 09:18] #90 closed

[2020-07-09 09:18] #91 closed

[2020-07-09 09:18] #104 closed

[2020-07-09 09:18] #93 closed

[2020-07-09 09:18] #105 closed

[2020-07-09 09:18] #106 closed

[2020-07-09 09:18] #107 closed

[2020-07-09 09:18] #108 closed

[2020-07-09 09:21] #57 closed

[2020-07-09 09:21] smarie commented on #56
fixed in v2

[2020-07-09 09:21] #56 closed

[2020-07-09 09:22] smarie commented on #93
@jnoortheen sorry for taking so much time but I finally release version 2.0.0 today. It should provide a good answer to your concerns. Let me know !

[2020-07-09 10:34] jnoortheen commented on #93
It looks great Thanks :)

[2020-07-09 11:49] smarie commented on #98
Hi @saroad2, did the above answer resolve your issue ? Let me know and feel free to reopen if this is not the case

[2020-07-09 11:49] #98 closed

[2020-07-09 11:50] smarie opened #109 "Add a documentation page about theory of fixture unions"

[2020-07-09 13:11] smarie opened #110 "support `fixture_ref` in the new-style `idgen` in `@parametrize`"
Using the new-style generates awful ids:

[code]

[2020-07-09 13:56] smarie opened #111 "Simplify handling of union fixtures in the engine and remove the associated warning"
Currently an annoying warning is issued when fixture unions are used (`"WARNING the new order is not taken into account !!"`).

This is due to the fact that we keep in memory all the tree built during creation of the alternate fixture closures. But this tree is actually not useful anymore after construction: we should flatten it into a list of alternate closures (one per tree leaf).

Once we do th

[2020-07-09 13:57] #109 closed

[2020-07-09 13:57] #110 closed

[2020-07-09 21:24] smarie opened #112 "Lazy values should have a better string representation"
in particular when they appear in pytest-harvest results tables, they look ugly :)

[2020-07-09 21:27] #112 closed

[2020-07-10 07:05] smarie opened #113 "Module String is decomposed when passed to `cases`"
`@parametrize_with_cases("data", cases='.my_sub_module')` tries to import module '.' and then 'm' and 'y'.....

[2020-07-10 12:10] mganisin opened #114 "cases breaks autouse with parametrization"
When

[code]

then

[code]

but

[code]

Compare loaded plugins and used fixtures (python version doesn't matter)

[2020-07-10 15:00] smarie commented on #114
Indeed, thanks for spotting this ! I'll have a look.

[2020-07-10 15:05] #113 closed

[2020-07-10 15:05] #114 closed

[2020-07-10 15:15] smarie commented on #114
fixed in 2.0.3, thanks a lot !

[2020-07-12 20:41] bvsn opened #115 "is_fixture_union_params throws an error when params have a type of generator"
I have installed pytest-cases but in this test, I don't use it.

[code]
Exception when I run it:
[code]

[2020-07-12 21:05] smarie commented on #115
Thanks for reporting ! I'll have a look

[2020-07-12 21:17] #115 closed

[2020-07-12 21:17] smarie commented on #115
fixed in 2.0.4. Sorry, this was stupid :)

[2020-07-12 22:01] bvsn commented on #115
Thank you :)

[2020-07-27 08:32] smarie opened #116 "AttributeError: 'FixtureClosureNode' object has no attribute 'remove'"
From https://github.com/pytest-dev/pytest-bdd/issues/380

I need to better understand why removing a fixture from the closure is needed though :)

[2020-07-27 08:34] smarie commented on #116
This should be easily fixed when #111  is fixed

[2020-07-27 09:43] The-Compiler commented on #116
I don't know exactly! FWIW the code was originally implemented (as `request.fixturenames.remove(arg)`) in https://github.com/pytest-dev/pytest-bdd/commit/d3928c7e4d5162ef764fb7365caf2471111d9a3c.

[2020-07-28 03:31] jcwilson opened #117 "Cannot stack @parametrize_with_cases() if cases use fixtures and have the same suffix name"
Running this code:
[code]

results in this error:

[code]

However, if I remove `monkeypatch` or `freezer` from one of the cases, or if I change the name of one of the cases, it runs the test.

[2020-07-28 14:09] smarie commented on #117
Thanks for reporting ! I'll have a look

[2020-07-29 10:48] smarie opened #118 "`@parametrize` with new **kwargs style leads to a counter-intuitive fixture closure (but still runs all tests correctly)"
This is a minor issue as it seems to have no impact on the outcome.

Passing all parameters in the same parametrization, where at least one of them is a `fixture_ref`

[code]

is not strictly equivalent to

[code]

In the first situation, `parametrize` will remove all parameters from the signature and create one single parametrized fixture `b_u_i` parametrized with the cartesian product of `u` and

[2020-07-29 12:59] #111 closed

[2020-07-29 12:59] #116 closed

[2020-07-29 15:48] smarie opened #120 "unparametrized session and module-scoped fixtures seem to be torn down/setup across fixture union alternatives"
In the presence of fixture unions, some test nodes may use a fixture while others dont.

In order to prevent unused function-scoped fixtures to be setup/torn down when they are not used, they are artificially marked as parametrized with a used / not used parameter. This is a dirty hack but it works.

However, only function-scoped fixtures should be modified this way ; all other fixtures (module or

[2020-07-29 16:02] #120 closed

[2020-07-29 17:02] smarie commented on #117
Sorry I finally take the time to look now actually - I had to close a series of other things.
I was able to reproduce the issue (note for future readers: no need to use the freezer plugin, using `request` fixture instead of `freezer` also produces the same bug)

When pytest cases collects some cases that require a fixture, it creates a fixture for that case. This fixture is registered locally in t

[2020-07-29 17:06] #117 closed

[2020-07-30 07:07] jcwilson commented on #117
Thanks for the quick response!

And yeah, there's nothing special about the fixture names in my example. Just had them handy. Sorry if that added some confusion.

[2020-07-30 07:33] smarie commented on #117
2.1.0 was released, please feel free to reopen if it does not fix the issue for you ! Thanks a lot for contributing

[2020-07-30 07:35] smarie opened #121 "Support pytest 6"
Apparently pytest 6 is not supported - see #119

We should modify the travis config so that it is taken into account, and merge that PR

[2020-07-30 07:50] #121 closed

[2020-07-30 07:56] smarie commented on #121
All versions now work fine: https://travis-ci.org/github/smarie/python-pytest-cases/builds/713201473

[2020-08-06 21:28] chinghwayu opened #122 "Installing pytest-cases seems to break Black"
After installing, upon running
`coverage run --source myproj -m pytest`
For every file, it will error with:
`E       AttributeError: 'BlackItem' object has no attribute 'funcargs'`

setup.cfg is
[code]
This is with pytest-black installed.

[2020-08-10 07:41] smarie commented on #122
Indeed, thanks for reporting @chinghwayu !

[2020-08-10 07:43] #122 closed

[2020-08-11 18:00] saroad2 opened #124 "cases_generator doesn't work with parametrize_with_cases"
As of the latest version, `cases_data` is deprecated and the user is instructed to replace it with `parametrize_with_cases`.
I tried to replace it as instructed, and got a weird error. A little digging showed me that the problem is that `parametrize_with_cases` doesn't play nice with `cases_generator`.

Here is a simple example:

Assume I have the following code:
[code]

If I want to replace `case

[2020-08-12 08:07] smarie commented on #124
I @saroad2 thanks for spotting this ! Indeed `case_generator` is deprecated, but it should work through retrocompatibility.
I had a look now and was able to reproduce the bug, so I'll fix this asap

[2020-08-12 08:15] saroad2 commented on #124
Thank you mate for the quick response!

I think it doesn't warn that `cases_generator` is deprecated as it is for `cases_data`. Maybe you should add this warning.

So my next question is: what is the alternative for `cases_generator`?
My use case is this: I use `cases_generator` in order to read cases from *json* files in a specific directory. Each time I add a json file, it reads it automatically

[2020-08-12 08:23] smarie commented on #124
Yes, I'll add the deprecation warning. So the conclusion is that `@case_generator` works as long as it is used with `@cases_data` (old API continues to work), but if you change one you have to change the other.

This is how you do the same with the new API :

[code]

As you can see the difference is that there is no specific decorator for cases any more: cases can be parametrized with the same dec

[2020-08-12 08:38] #124 closed

[2020-08-12 08:39] smarie commented on #124
(closed automatically from commit message for 2.1.3 release but of course feel free to reopen if the above does not work for you)

[2020-08-17 09:40] last-partizan opened #125 "Case fixture got called when not selected"
[code]

In following example, when i run `pytest -v tests.py -s -k one` i expect only fixture `one` to be called. But in reality - fixture two is called also.

When i don't use fixtures in cases, it works as expected.

[2020-08-17 19:55] stephenlagree opened #126 "Fixture applied more than once - when running multiple tests"
It seems I can only use my set of cases with a fixture for one test or else I get the following error

`    "fixture is being applied more than once to the same function"
E   ValueError: fixture is being applied more than once to the same function`

Here is code that reproduces:

[code]

If I remove the second test, it works fine.  Also, if I make the cases not depend on a fixture, it works fine.

[2020-08-18 09:58] smarie commented on #125
Thanks very much for reporting ! I'll have a look

[2020-08-18 09:58] smarie commented on #126
Thanks very much for reporting ! I'll have a look

[2020-08-18 11:39] smarie commented on #125
The answer is quite simple: use `pytest_case.fixture` instead of `@pytest.fixture`:

[code]

I'll try to make this clearer in the doc.

[2020-08-18 12:16] #125 closed

[2020-08-18 16:41] smarie commented on #126
This is related to the way I handle cases requiring fixtures as of today: I create one fixture for each such case, and I register this fixture in the collection host (module, class) of the test function/fixture parametrized with the cases. This was not entirely bullet proof as you discovered: I was not properly creating a copy (hence the error message you receive, saying that the case function tha

[2020-08-19 08:27] last-partizan commented on #125
@smarie Thank you!

[2020-08-19 16:18] #126 closed

[2020-08-19 16:27] smarie commented on #126
This was a hard one :) It seems to be fixed in 2.2.0 (to be released soon by travis: https://travis-ci.org/github/smarie/python-pytest-cases/builds )
Please feel free to reopen if it is not fixed ! Thanks again for reporting @stephenlagree

[2020-08-20 05:34] last-partizan opened #128 "fixture not found when using parametrized case from case file"
Hello, i found a strange behaviour when using parametrized cases.

Here is example:

#### test.py
[code]
#### test_cases.py
[code]

This is failing with "Fixture 'one' not found", but only when used parameter for case AND cases in separate file or class. When case with fixture in the same file, it works fine. Here is full test log:

#### poetry run pytest test.py
[code]

[2020-08-20 05:42] last-partizan commented on #128
Note: this is not related to `@fixture` from pytest-cases, it happens with pytest.fixture, and built-in pytest fixtures too. pytest_cases.fixture here is just an example.

[2020-08-20 08:33] smarie commented on #128
Thanks @last-partizan  ! Can you please try with latest version 2.2.0 released yesterday ?

[2020-08-20 12:49] last-partizan commented on #128
@smarie yep, this is working now!

But i have another broken exmaple :))

[code]

#### produces:
[code]

[2020-08-20 13:42] smarie commented on #128
Updating makefun to 1.9.3 should fix the problem. I'll update setup.py to enforce this.

[2020-08-20 16:16] last-partizan commented on #128
This is fixed now! Thank you!

[code]

[2020-08-20 16:16] #128 closed

[2020-08-20 19:17] jonastim opened #129 "Test case with fixture within class of cases doesn't load - fixture not found"
I am struggling to make a test case inside a class of cases work with a fixture.
In the same file there are other tests that load the fixture just fine. Loading the case as a free function in the file also works fine (`@parametrize_with_cases("input", cases=[case_fixture])` or `@parametrize_with_cases("input", cases=".")`. However, if I try to load a case with a fixture from any other file or from

[2020-08-21 08:01] smarie commented on #129
Thanks @jonastim ! This has been fixed in 2.2.1:

[code]

works fine. Can you please confirm ?

[2020-08-21 08:03] smarie commented on #128
Thanks @last-partizan  !

[2020-08-25 16:58] edmondo1984 opened #130 "unpack_to is incompatible with generators"
Take the following fixture:

[code]

Fails with the following error:

[code]

Is there a work around for the purpose?

[2020-08-26 09:27] smarie commented on #130
Thanks @edmondo1984 ! it seems that your code example is not working :( I'll work from the stackoverflow code until you fix it: https://stackoverflow.com/a/56869515/7262247

[2020-08-26 09:33] smarie commented on #130
The following works:

[code]

Since I am not very familiar with `mock`, can you please fix the above example so that I can reproduce your error ? Thanks !

[2020-08-26 09:40] smarie commented on #130
I managed to make your code work:

[code]

So I guess that you probably use an old version of `pytest-cases`. Can you try to update to the latest version ?

[2020-09-03 14:54] saroad2 opened #131 "Run all case *without* a tag"
Hello!

First and foremost: this library is becoming more and more beneficial to my testing suites in all of my repositories. It makes the code much more granular and makes me focus my effort on cases instead of behaviors. Thank you for that!

One thing that I'm currently missing is to use `parametrize_with_cases` **without** a tag. For example, Assuming that I have a lot of cases, and I want to m

[2020-09-03 16:02] smarie commented on #131
Thanks so much for the positive feedback @saroad2 ! I am very glad to read that this library reaches its goal: spending more time on the test cases.

Concerning your need, I am more and more convinced that putting the information directly in the case id (case function name) is easier in term of API complexity and code readibility, this is why I introduced `glob` and `filter` in addition to `tag`.

[2020-09-03 16:08] saroad2 commented on #131
Maybe pytest-case can provide some sort of "default filters" such as `contains_tag` and `not_conatains_tag`. In my example:

[code]

How about that?

[2020-09-03 16:56] smarie commented on #131
This is a good idea. we can even make it more pythonic by providing a function creating a function. so `filter=contains_tag("tag1")` directly. I would need to think about it a bit longer to confirm that this would actually be better than letting users define this shortcut themselves.

May I ask, do you actually prefer tags (legacy, set with `@case(tags=...)` over keywords directly in the case ids

[2020-09-03 20:22] saroad2 commented on #131
I prefer tags because it allows me to keep the case name specific and compact. I like that I don't have to add the `@case` decorator in order for *pytest-case* to know it's a case. It makes everything much more intuitive.

But, if I can suggest another API for the tags, how about that:

[code]

In that way, we get the cases by searching for functions starting with `case_`, but we can tag some of t

[2020-09-04 12:36] smarie commented on #131
So basically you were preferring the api from v1 ? https://github.com/smarie/python-pytest-cases/blob/1.17.0/docs/api_reference.md#case_tags

I made it disappear because I thought that it was overkill to have a dedicated decorator "just for tags" :)
I'm open to bring it back of course

[2020-09-06 20:00] saroad2 commented on #131
I don't have a strong opinion either way. Just a suggestion :)

[2020-09-07 19:31] smarie opened #133 "`parametrize_with_cases` should accept a list or tuple for `argnames` just as `pytest.mark.parametrize` does"

[2020-09-07 19:39] #133 closed

[2020-09-11 08:33] 6Hhcy opened #134 "How to use builtin Pytest fixtures"
I want to pass `tmp_path_factory ` from Pytest into my case. What is the recommended way to do this?

,Thanks

[2020-09-11 08:49] 6Hhcy commented on #134
just needed to pass it to the fixture, like in regular pytest. Apologies.

[2020-09-11 08:49] #134 closed

[2020-09-11 09:54] smarie commented on #134
Thanks for the feedback @6Hhcy , absolutely no problem with such reports ! it builds up the knowledge base :)

[2020-09-16 09:17] jackirvine97 opened #135 "Making available on conda-forge"
I'm using pytest-cases on a number of projects destined to be made available on conda-forge as well as PyPI. I'm currently stuck in doing this because having a dependency that isn't available itself on conda-forge blocks the build process. I'd like pytest-cases to be available on conda-forge.

Would this be possible?

Thanks for making a really useful tool!

[2020-09-18 14:52] smarie commented on #135
Thanks @jackirvine97 for the kind words and the proposal.

I am not at all against publishing in conda forge and I think that

On a side note, I saw pyproprop: on the same have you tried [pyfields](https://smarie.github.io/python-pyfields/)+autoclass+vtypes(optional), or attrs, or pydantic ? Just in case you do not know these projects. There are so many libs achieving this goal already that seeing

[2020-09-20 15:43] jackirvine97 commented on #135
Thanks @smarie! Let me know how you get on/if you need any help on this!

And thanks for pointing out - I'll be sure to checkout those libs.

[2020-09-22 12:59] smarie commented on #130
Closing this issue as it seems to be related to an old version. @edmondo1984 feel free to reopen if this is not the case

[2020-09-22 12:59] #130 closed

[2020-09-22 13:00] smarie commented on #129
Closing this issue as it has been fixed in 2.2.1. @jonastim please feel free to reopen if this is not the case

[2020-09-22 13:00] #129 closed

[2020-09-24 08:08] smarie opened #136 "TypeError: _idval() got an unexpected keyword argument 'item'"
Happening with pytest 3.4.2.

relates to #119 : it seems that the version where they introduced this `item` parameter in `_idval` was not 3.0.0 but later

[2020-09-24 08:09] smarie commented on #136
The parameter was introduced in 3.8.0

[2020-09-24 10:59] pehala opened #137 "paramterize_plus runs fixtures even if they should be skipped"
If you use `pytest.param `with `fixture_ref`, the referenced fixtures will be run even if they should be skipped due to `pytest.mark.skipif`
[code]
Result:
[code]
Tested on:
pytest-cases: 2.2.2
pytest: 6.0.2

[2020-09-24 15:47] #136 closed

[2020-09-24 16:27] smarie commented on #137
Thanks for reporting @pehala ! This is strange indeed. I'll have a look next week - not a lot of bandwidth these days :(

[2020-10-01 08:30] smarie commented on #137
Ok so this is related to the scope of the fixtures: if they use function scope the bug does not appear. (Note that you can use the new names `fixture` and `parametrize` instead of the `..._plus` form):

[code]

[2020-10-01 08:36] smarie opened #138 ""Created fixture names are not unique, please report" when duplicate fixture reference is provided in a pytest.param"
[code]

[2020-10-01 08:57] smarie commented on #137
This issue comes from the fact that since fixture unions are not actually handled by the pytest fixture engine, I "cheat" to deactivate them by adding a parameter to them containing a key symbol `NOT_USED`. Doing so when the fixture is functions-scoped is ok, because the fixture would anyway be recreated the next time it is needed. However, doing so for session- or module-scoped fixtures forces py

[2020-10-01 15:48] smarie commented on #137
@pehala I turned the problem in my head for a while and did several tests, and as a conclusion I think that this is not something I will be able to fix, unfortunately :( .

Indeed I only found two ways to fix this:

 - either by doing for session- and module-scoped fixtures the same thing that I do already for function-scoped fixtures. That is, adding them a NOT_USED parameter when they are not us

[2020-10-02 20:11] smarie opened #139 "Marks set on a cases class do not seem collected and applied on the cases inside the class"

[2020-10-02 21:02] #139 closed

[2020-10-06 11:57] smarie commented on #135
@jackirvine97 small message to let you know about my progress. I created the PR to publish `makefun` on conda forge today: https://github.com/conda-forge/staged-recipes/pull/12830

Then I'll do `decopatch` and finally `pytest-cases`.
Kind regards

[2020-10-06 12:03] jackirvine97 commented on #135
Brilliant, thanks for the update!

[2020-10-12 20:56] romanponomaryov opened #140 "'parametrize_with_cases' does not work with 'cases=AUTO2' param"
Hi, Sylvain!

The problem is as follows:
I have a file 'test_\<name>.py' with test functions. In the same directory I also have a file with cases, which is called 'cases_\<name>.py'.
If I use in 'test_\<name>.py':
[code]
then when I run my tests I get an error:
[code]

Mind the "unable to import AUTO" - it's supposed to be "AUTO2" as I understand..

If I use 'test_\<name>_cases.py' as a name for t

[2020-10-13 08:08] smarie commented on #140
Thanks @romanponomaryov  for reporting this !

Indeed it seems weird. I tried to reproduce the error but could not, unfortunately :(

Can you try to do this in debug mode, and to put a breakpoint at the beginning of your `cases_<name>.py` file ? I suspect that there is an error in your cases file, which leads to an import error, which is then wrapped into the valueerror and maybe not displayed in

[2020-10-13 20:50] romanponomaryov commented on #140
I don't think there's a problem with my cases file, as

I created 'test_experiment.py' which has only one function from my initial file with tests
and
renamed my initial file with cases into 'cases_experiment.py'
and
tried to run such a configuration with "cases=AUTO2" in parametrize_with_cases and - it worked!
So, the problem seems to be somewhere in my 'test_<name>.py'.
I will try to narrow it d

[2020-10-13 21:35] romanponomaryov commented on #140
It turns out that in my 'test_\<name>.py' I had another test function:
[code]

And this was causing the issue. When I updated 'cases=AUTO2' for this function as well - the issue went away.
So, if one is using 'cases=AUTO2' (and thus 'cases_\<name>.py' naming) - they have to ensure that it is explicitly used in **all** test functions that use parametrize_with_cases in this file, otherwise running *

[2020-10-13 21:41] romanponomaryov commented on #140
One more note concerning the string variant (cases=AUTO2 vs cases="AUTO2"). It's not a problem to make an import of AUTO2, but to figure out that I needed to make it in order to use it as a value for the parameter took some time and seemed counterintuitive. Maybe it's just me, though.

[2020-10-14 09:29] smarie commented on #140
Thanks for the detailed feedback @romanponomaryov  ! Glad you could find a way to fix this

I'll leave this ticket open for later times (I will soon be inactive for family reasons for a couple of weeks), so that I can try to imagine a way to improve the user experience for the future.

Maybe one way would be to automate the search completely (merging AUTO2 into AUTO so that both names are searched

[2020-10-19 19:53] romanponomaryov commented on #140
Ideally, three cases can be satisfied here:
1) A convenient default way of cases discovery.
2) The way to tweak cases discovery for all tests without explicitly declaring it in every test.
3) The way to set different cases discovery for some tests.

How to do this though...
Maybe:
- for cases 1 and 2 - introduce a pytest wide setting, for example in pytest.ini, using something like  "cases_file_pr

[2020-10-23 12:50] smarie commented on #140
Thanks for the proposal @romanponomaryov !

I very much like your `pytest.ini` suggestion. I like less the additional decorator, since users already have to use `@parametrize_with_cases`. That being said the new decorator could be helpful to change things on a whole class as you suggest. I'll think about it when I have again some dev time to spend on this (in a few weeks)

[2020-10-26 14:36] romanponomaryov commented on #140
New decorator is not needed per se for case 3. Same thing can be achieved e.g. via having same parameters "cases_file_prefix" and "cases_file_suffix" in @parametrize_with_cases. And maybe @parametrize_with_cases can be made to work with test classes.

[2020-10-29 12:53] albertjan opened #141 "parameterise on a fixture that returns an iterable"
I feel this is possible but I'm just not getting my head around it.

We have a bunch of acceptance tests and in one of them I have a service that tells me the options to test for based on the user's region. Something like this:

[code]

I've tried using cases, I looked at the case generator, but all of them require the list of things to test for to be defined in the decorator. Or am I missing some

[2020-10-31 20:44] smarie commented on #141
Hi @albertjan thanks for posting this ! If I understand your question correctly, you wish to parametrize tests based on the iterable returned by a fixture. Unfortunately this is not possible with `pytest` by design : see my answer [here in stackoverflow](https://stackoverflow.com/a/56865893/7262247)

[2020-10-31 21:07] romanponomaryov opened #142 "Using parametrization on cases function makes the id of the test case run to start with an unexpected hyphen symbol"
Hi @smarie!
I've noticed that if I apply `@parametrize `or `@pytest.mark.parametrize` to my cases function like this:

[code]
then in the test report instead of
[code]
I get
[code]

Moving case function to another file makes no difference.
Is parametrizing cases even a proper way? I just don't want to create a separate case function for every case, and sometimes the test values are packed in separ

[2020-11-01 20:58] TheCaffinatedDeveloper opened #143 "request.getfixturevalue('somevalue') returns lazyvalue"
I often use a pattern of performing some additional setup via another fixture by using the "special" request object to introspect the current test method. Once scenario involves using the request.getfixturevalue('foo') which should return the actual value being used in the current context but with pytest_cases I get the lazy object and have to call the .get() to get the value.

The problem is that

[2020-11-02 00:07] romanponomaryov commented on #142
I've looked into it, and it seems these lines are to blame:
https://github.com/smarie/python-pytest-cases/blob/1d33f2fc5b703b98e83fa538b9c961247153ff91/pytest_cases/case_parametrizer_new.py#L299-L300

If I change it so the case where there is no case_id is being accounted for:
[code]
my problem goes away

[2020-11-02 08:32] smarie commented on #143
Hi @TheCaffinatedDeveloper ! The principle of `pytest_cases` is that you create many case functions, that are used to parametrize your test function. Since case functions can take some time to execute and be memory consuming, I chose to follow the pattern that `pytest` uses everywhere else, that is, to execute these functions just when they are needed - exactly what happens with function-scope fix

[2020-11-02 08:33] smarie commented on #142
I @romanponomaryov , which version of `pytest-cases` do you use ? Indeed if I execute your original code, I can not reproduce the issue. I get:

[code]

[2020-11-02 08:49] smarie commented on #143
I have an afterthought here: currently `_LazyValue` does not have a cache mechanism as opposed to `LazyTuple`/`_LazyTupleItem`. So your `get()` call would trigger an *additional* call to the case function, instead of just calling it *earlier*.
I could quite easily add such a cache in a next version, following what I did in `LazyTuple`.

[2020-11-02 10:36] romanponomaryov commented on #142
Hey @smarie , sorry for misinforming you.
The problem indeed only happens with one additional option - prefix. Otherwise I get the same result as you.
So, my code looks like this:
[code]
I am using the latest version of pytest-cases (2.3.0)
As for the prefix option - I need to use it, because in my cases file there are many case functions, each needed for different test function in my tests file.

[2020-11-02 12:55] #142 closed

[2020-11-02 12:56] smarie commented on #142
Now I understand and I am able to reproduce it. I fixed it for next version: `"<empty_case_id>"` will appear when the case id is empty.

[2020-11-02 15:46] albertjan commented on #141
Alright thanks, I figured as much but there was a little spark of hope it would be possible with pytest-cases 😄.

[2020-11-02 15:46] #141 closed

[2020-11-02 21:06] smarie commented on #141
:) The issue is that the list of test nodes can not grow dynamically. So the entire list of parameters must be available during the test collection phase. You can therefore work around this limitation quite easily:

[code]

[2020-11-03 16:22] romanponomaryov commented on #142
Hi @smarie ,
I've managed a workaround for my problem, but only partly. There is still something there I don't understand, so if you could please help me or explain where to look.
So, I have a workaround for parametrizing single values:

[code]

This works ok and I get in report:
[code]
But this does not work with parametrizing more than one value:
[code]
and I get in report:

[code]
while I'm aim

[2020-11-03 20:20] smarie commented on #142
Hi @romanponomaryov , I think that there was some misunderstanding here. The easiest workaround until the new release ships is just to use a non empty case id. So the case function names should have a suffix after the prefix, for example:

[code]

Yields:

[code]

I do not think that there is a need to remove the case function name from the test id in the particular situation where there is a sing

[2020-11-03 21:26] romanponomaryov commented on #142
Hey @smarie
"I do not think that there is a need to remove the case function name from the test id in the particular situation where there is a single case function." - for backwards compatibility with `@pytest.mark.parametrize` it would be ideal to have an option to mimick `@pytest.mark.parametrize` output. I think this is mostly useful for other plugins, as in my case.
In my specific case, I nee

[2020-11-05 09:02] smarie opened #144 "`@parametrize`: custom `ids` are not taken into account for `lazy_value` argvalues when a single lazy value is used for a tuple of parameters"
From #142  @romanponomaryov found out this bug that can be reduced down to:

[code]

The issue is that the custom id `"hello"` is not taken into account

[2020-11-07 05:20] TheCaffinatedDeveloper commented on #143
@smarie Thank you for your timely response and suggestions. I was thinking of checking for the lazy items adhoc but was unaware of the is_lazy method - thank you for pointing me in that direction. I think it is worthwhile adding it to the official api. The current project I work on uses the test method doc string to update test descriptions (that get synced to a cloud requirements tool) during a "

[2020-11-07 05:24] TheCaffinatedDeveloper commented on #143
Great point, this would stay in line with only needing to call the TC function once and the second call would simply retrieve the value from cache - nice!

[2020-11-09 10:54] smarie commented on #143
Cool @TheCaffinatedDeveloper thanks for the feedback. I'll do my best when I have some bandwidth again - for now I am in paternity leave so my dev time is fairly limited as you can imagine

:D if open source development was a path to fame and money we would all know it by now :) but I appreciate your kind words and positive feedback, this is a far better reward !

[2020-11-14 07:06] TheCaffinatedDeveloper opened #146 "when @parametrize finds a fixture_ref in its argvalues, the parameter is not anymore accessible through `request.getfixturevalue`"
Hi again @smarie!

Trying to figure out how to maintain the return values from cases that use a fixture as their own fixture name.

Example

conftest.py
[code]

mock_test.py
[code]

expected:   [request, ..., ..., important_value, other_important_value, ...]
actual:        [request, ..., ..., test_some_test_important_value_other_important_value, ...]

Note: this only happens when I use a fixture o

[2020-11-14 09:10] TheCaffinatedDeveloper commented on #146
I should note that I was able to use the follow to accomplish what I was looking for:

[code]

I didn't change anything in the case_ functions. While this works, it would be cool to have similar functionality for @parametrize_with_cases by having an option to prevent packing or union etc.

[2020-11-15 15:55] smarie commented on #146
Hi @TheCaffinatedDeveloper , I am not sure to understand what the actual issue is.
All fixture names **are** preserved. However additional new fixtures are created automatically behind the scenes by `@parametrize` when there is at least a `fixture_ref` in the parameters. This happens when `@parametrize_with_cases` finds a case that relies on a fixture: it creates a fixture for the case, and then c

[2020-11-16 19:48] TheCaffinatedDeveloper commented on #146
@smarie Thank you for your reply. That definitely makes sense. To clarify my example, if you print a list of fixtures using `request.node.fixturenames` the names do appear to be preserved here.

Even further, if you were use request.getfixturevalue('important_value') it would say that the fixture does not exist.

Again, this is only when a case_ is using a fixture_ref.

[2020-11-17 05:10] TheCaffinatedDeveloper commented on #146
@smarie I know you are busy so I created a repl to demonstrate the issue:
[Example](https://repl.it/@WilliamWells1/HandmadeNarrowLocks)

[2020-11-18 20:36] smarie commented on #146
Thanks @TheCaffinatedDeveloper for this example ! I did not know about repl.it, quite cool :)

I copy the examples here for reproducibility

[code]

and

[code]

I think that there is a small misunderstanding here: `important_value` is not a fixture, this is a parameter. But since the `pytest` api is misleadingly named `getfixturevalue` it is quite normal to do the mistake :)
Ok I see the issue, a

[2020-11-18 21:07] TheCaffinatedDeveloper commented on #146
@smarie Thanks, glad you found REPL.it useful 👍

[2020-11-26 10:05] smarie commented on #144
For reference this issue is actually lower-lever and can be reproduced with

[code]

It yields:

[code]

So the custom id is not taken into account for the lazy value.

[2020-11-26 10:25] #137 closed

[2020-11-26 10:28] smarie commented on #135
Hi @jackirvine97 , quick update on this topic. I was able to make `makefun` (one of pytest-cases dependencies) available on conda-forge. However after a bit of thinking I do not feel that this is right, and I even plan to remove it.

Indeed, publishing a package on conda-forge is really only interesting if the package has some binary (cython) part. Otherwise, if this is a pure python wheel, I do n

[2020-11-26 11:00] #143 closed

[2020-11-26 11:00] #144 closed

[2020-11-26 11:02] smarie commented on #144
@romanponomaryov this will ship with 2.4.0 probably topday when travis wakes up : it seems to be extremely slow these days

[2020-11-26 11:02] smarie commented on #143
@TheCaffinatedDeveloper this will ship with 2.4.0 probably topday when travis wakes up : it seems to be extremely slow these days

[2020-11-26 11:27] brocksam commented on #135
Hi @smarie, thanks very much for your update. I'm replying on behalf on @jackirvine97 as he's no longer actively working on the project in which we're using pytest-cases. I think the key point for me here is that pip/PyPI and conda/conda-forge serve two different purposes (although here they appear to overlap significantly). It's probably best explained with an example:

I have a Python package wh

[2020-11-26 12:15] smarie commented on #135
Thanks @brocksam ! So if I understand correctly, you can **not** publish your package on conda-forge if it has a test dependency (pytest-cases) that is not on conda forge ?

[2020-11-26 13:06] brocksam commented on #135
I've double checked with conda-forge and the dependencies (even test dependencies) do need to be on conda-forge for the test suite to be run as part of the build process. However, in this case I can get round pytest-cases not being on conda-forge by just skipping running the test suite in that part of the build process (which is apparently pretty common).

I think the consensus is that because mul

[2020-11-26 14:04] smarie commented on #135
Oh, sad to see this multi-package feature just now :(

I added https://github.com/conda-forge/staged-recipes/pull/13337
and https://github.com/conda-forge/staged-recipes/pull/13342

So that should be done soon

[2020-11-26 14:06] brocksam commented on #135
Thank you very much @smarie! You've been an excellent help!

[2020-11-26 20:32] smarie commented on #135
It seems to be available: https://github.com/conda-forge/pytest-cases-feedstock

@brocksam can you please check and let me know so that I can then close the ticket ? Thanks !

[2020-11-26 21:49] Ps0ke opened #147 "`glob` parameter description is misleading"
The API Reference says about the [`glob` parameter][1]

Unfortunately it is not clear at all, what "glob-like" means.
The [man page for `bash`][2]

[Python's own `glob` implementation][3] has a slightly different flavor

Note how there is no mention of negation by `^` or tilde expansion.

In order to figure out how to properly do negation in my `pytest` `glob` pattern, I had to go through the sour

[2020-11-27 09:47] brocksam commented on #135
Thank you @smarie! I've tested pytest-cases from conda-forge this morning, both locally and on CI and it's working properly. That's such a great help, thank you very much. Please go ahead and close the issue 🙂

[2020-11-27 11:10] smarie commented on #135
Perfect thanks @brocksam  !

[2020-11-27 11:10] #135 closed

[2020-11-27 11:55] smarie commented on #147
Thanks @Ps0ke for opening this issue, and for the detailed explanation and proposals !

Indeed the doc for API reference was not rendered properly: the stars were not escaped in the markdown.

I'll propose something resembling your proposal 3 for now, but simpler:

In parallel I'll modify the code so that all regex special characters are automatically escaped. That way, this parameter is definitel

[2020-11-27 17:00] Ps0ke commented on #147
That sounds alright to me. Even though I'm not fully sold on the simplicity, I understand your rationale. I haven't looked using a `filter` as I just ended up expoliting the regex under the hood. But I kind of see now why you'd be inclined to offer a "basic filtering glob" and a "full powered callable" approach. I guess something like `filter=lambda f: re.search("(?!special_case)", f.__name__)` wo

[2020-11-28 15:34] smarie commented on #147
This is a great proposal @Ps0ke , a contribution would be very much appreciated ! Unfortunately I discovered your message a bit too late yesterday and had already made the mods in doc and tests. (I pushed it today in 2.5.0).

Maybe for another one, or for that "regex" additional parameter if you find it missing after all ?
Thanks a lot once again for opening this. Most people don't know it, but op

[2020-12-01 00:01] plammens opened #148 "parametrize implementation doesn't support infinite generators"
Per the `pytest` documentation, the `ids` parameter of `pytest.mark.parametrize` also accepts a (possibly infinite) generator of ids, e.g. `(f"foo{i}" for i in itertools.count())`. (This has the advantage of not having to care about keeping the lenght of `argvalues` and `ids` in sync.) However, `pytest_cases`'s custom managing of ids tries to consume the iterator all at once, hence causing the pro

[2020-12-01 14:10] plammens opened #149 "Add a parameter to `parametrize_with_cases` to re-compute cases for every invocation"
I think it could be useful to add a way to ensure that test cases are recomputed each time they appear in a test invocation (node). For example, if a function is parametrized with the cartesian product of two sequences of arguments `x` and `y`, there should be a way that for each different value of `y`, each value of `x` is computed afresh, and viceversa. This allows one to use mutable case object

[2020-12-01 15:11] plammens opened #150 "Indirect parametrization of fixture with multiple params with `parametrize_with_cases`"
I know this might not have been intended to be possible in the first place, but fixtures that take multiple parameters can't be indirectly parametrized with `parametrize_with_cases`:

[code]

This raises a `ValueError` before the fixture is invoked. (BTW this does work if the fixture has only a single parameter.)

<details>
This seems to be because the single `LazyValue` given by the case is iterp

[2020-12-01 15:17] smarie commented on #148
Thanks @plammens ! Indeed, good catch. I'll fix this now

[2020-12-01 15:28] smarie commented on #148
Actually could you please provide a reproducible example that enters into this particular case ? Indeed it does not seem to happen
with a basic test:

[code]

I guess that it happens with some custom `pytest.param` or other things.

[2020-12-01 16:43] smarie commented on #150
Thanks @plammens ! In all honesty I do not like the `indirect` parameter at all. I do not think that is intuitive to understand, and it makes things extremely ugly. If a fixture is to be parametrized in two different ways for two different tests, I would create two fixture relying on the same code, or on the same root fixture.

Maybe I should raise a `NotImplementedError` when `indirect=True` is u

[2020-12-01 16:55] smarie commented on #149
This can be reproduced with the underlying `lazy_value` util:

[code]

Now the tricky thing is that a cache mechanism was precisely requested by #143 , so that another plugin could inspect the value without calling the method again.

And in general I think that both behaviours (cached and not cached) might be desirable.

Maybe we could have the following policy:

 - make sure that the method is ca

[2020-12-01 17:20] TheCaffinatedDeveloper commented on #149
@plammens @smarie This is definitely an interesting scenario. The first thought that comes to mind is that mutating objects can lead itself to some unintended behavior. If I needed to accomplish this, I would probably do something with deepcopy like:

[code]

With that said, I like the idea of allowing the flexibility @smarie proposed with adding caching via a decorator. It is also explicit and re

[2020-12-01 20:39] plammens commented on #148
Ah! Should have mentioned that this happened only when parametrizing a fixture (i.e. `pytest_cases.fixture` on top of `pytest.mark.parametrize` decorators). I've edited the issue to add a reproducible example.

[2020-12-01 20:52] plammens commented on #149
I think that sounds good! Providing flexibility to do both seems the best solution. And I also think that calling the case function each time is a sensible default, since one would expect each invocation to be completely independent from the others.

Regarding the caching mechanism, I'd just go for the simpler solution of letting users do it themselves if their case functions need to be cached for

[2020-12-01 21:06] plammens commented on #150
Yeah it makes sense it's not worth adding another hack—`pytest` in general is already full of hacks... Plus as you said there are other ways to achieve this (although making a new fixture just to get a specific subset of a broader fixture also feels a bit unsatisfying to me).

Yeah I think explicitly raising an error is a very good idea. I would say that probably there are very few people relying

[2020-12-01 21:21] plammens commented on #150
By the way, I've been looking around and you've got some really awesome libraries/packages! I'm repeatedly finding that you have already written something that makes my life easier in certain recurrent programming problems. I've recently started using `valid8` and `pytest-cases`.

Huge thanks for putting the time into these and distributing them for free, @smarie!

[2020-12-02 08:44] smarie commented on #148
Thanks @plammens for your reactivity. Fixing this now

[2020-12-02 09:26] #148 closed

[2020-12-02 09:29] smarie commented on #149
Thanks @TheCaffinatedDeveloper and @plammens for this quick feedback ! After sleeping on this I came to the same conclusion as @plammens : it is so easy for users to implement the cache themselves with `@lru_cache` that it is not worth trying to do it for them. I'll implement this now, and add a doc section

[2020-12-02 09:49] arut-grigoryan opened #151 "Strange test name"
Python 3.6.8
pytest-6.1.2
cases-2.5.0

Test flask application

test_file
[code]
db, flaskClient, clearMongo, mocked_oid, mocked_uuid - fixtures

case file
[code]
Test name is **test_create[inputs_request_data_is_simple]**. Without fixture barToFoo in params case_create_2, test name is **test_create[simple]**.
How do i get the name **test_create[simple]** with fixture barToFoo?

[2020-12-02 10:01] arut-grigoryan opened #152 "Use @pytest.mark.usefixtures decorator for case function"
Can I somehow use decorator @pytest.mark.usefixtures for case function? I prefer it when the fixture sets some system state but returns nothing.

[2020-12-02 10:47] smarie commented on #150
Thanks @plammens for the kind feedback ! Yes, in general I hate low-level coding so I prefer to spend months solving things once and for all (or until someone else provides a better lib of course), so that I can later focus on more interesting things.

If you're curiours, you should probably look into `pyfields` too, it relies on valid8 but makes it usable for classes in a very similar fashion tha

[2020-12-02 11:06] smarie commented on #152
Thanks @arut-grigoryan . I am not familiar with this decorator. Can you please provide an example showing that it is not properly taken into account ? That would ease the process of creating the test and adding support for it. Thanks in advance !

[2020-12-02 11:33] #149 closed

[2020-12-02 13:01] arut-grigoryan commented on #152
**@pytest.mark.usefixtures** in pytest documentation - https://docs.pytest.org/en/stable/fixture.html#use-fixtures-in-classes-and-modules-with-usefixtures

Example:
Test flask application. There is a variable in the config that sets the validation of incoming data. The fixture **validationOff** disables validation but returns nothing. Essentially sets the state of the system.

test file
[code]
cas

[2020-12-02 14:42] smarie commented on #151
Thanks @arut-grigoryan for this feedback.

Well this is actually a limitation of the implementation.

 - when all cases do not require any fixture, a `@parametrize` decorator is created with argvalues set as a list of `lazy_value`s, each referring to a case. Since none of them is a fixture_ref, `@parametrize` defaults to `pytest.parametrize` and the ids correspond to the "simple" version.

 - when

[2020-12-02 15:00] #151 closed

[2020-12-02 17:44] #152 closed

[2020-12-02 17:46] smarie opened #153 "Add new `regex` parameter to complement `glob` in `@parametrize_with_cases`"
As suggested in #147 by

[2020-12-02 17:47] smarie commented on #147
Closing in favour of #153 where the new regex will be discussed when you'll have some time

[2020-12-02 17:47] #147 closed

[2020-12-02 19:10] arut-grigoryan commented on #152
It was very fast, thank you very much

[2020-12-02 19:26] arut-grigoryan opened #154 "Strange test name, used idstyle=None"
Python 3.6.8
pytest-6.1.2
cases-2.7.1

After solving problem #151, some tests took the name from `@case(id)`, but others began to look strange.
Example:
test_file
[code]
db, flaskClient, clearMongo, mocked_oid, mocked_uuid - fixtures

case file
[code]
Names:
test_create[current_object]
test_create[not_valid]
**test_create[test_create_inputs_request_data_is_P2toP3-history_object]** ?? fixture valid

[2020-12-02 20:53] smarie commented on #152
you're welcome ! The implem is not very optimal but if it does the job for now, it is good :)
It should be on pypi by now by the way

[2020-12-02 21:15] smarie commented on #154
the P2toP3 means "from parameter 2 to parameter 3". However I'm not sure it is supposed to appear when idstyle is None.

Also when idstyle is **not** none, it is a bit strange that "inputs_request_data_is_" is not present in all ids ?

I'll try to reproduce this one of these days and check what happens.

Do you confirm that the usefixtures mark behaves correctly here ?

[2020-12-02 23:04] arut-grigoryan commented on #154
Usefixtures mark works correctly.
As I understand it "inputs_request_data_is_" does not appear because there I am not using fixture **validationOff**.

[2020-12-03 09:09] smarie commented on #154
Here is a summary of the mess. I modded your example to reference a parametrized fixture too.

![image](https://user-images.githubusercontent.com/3236794/100988030-88476180-354f-11eb-81aa-8a56446f5709.png)

[2020-12-03 09:34] smarie commented on #154
Proposed solutions so far:
 - add a custom `id` parameter to `fixture_ref` so that we can fix issue 3 a

Pending questions:

[2020-12-03 20:18] smarie commented on #154
I have done most of the harmonization work now with #155

The last thing that needs to be settled is the templates for the id styles. Indeed I feel that they could be improved to be more explicit. Here is a proposal using slash `/` to denote a fixture union alternative

 - 'explicit' would lead to `<arg_names>/<argvalue_idx>-<argvalue_id>` , so something like `inputs_request_data/P0-current_object

[2020-12-03 22:01] mkolopanis opened #156 "Doctest setup failure"
Hello my collaborators and I love `pytest-cases` and use it to do some heavy lifting with our parametrizations during test suites. We have noticed an issue when trying to run a doctest in an environment with `pytest-cases` installed.

We are receiving an attribute error associated with the `item._request` looked up in the lines I have linked in plugin.py. This seems to only have become an issue af

[2020-12-03 23:11] plammens opened #157 "Can't get cartesian product of cases depending on fixture"
In the same way that this
[code]
tests on the cartesian product of `x` and `y`, I would have expected this
[code]
to test on the cartesian product of `[1, 2, 3]`. However, when I run the test it only runs for `1-1`, `2-2` and `3-3`, i.e. it's using the same fixture instance for both parameters.

Is this the expected behaviour?

I also tried this:
[code]
with the same result.

Basically I'm looking

[2020-12-04 09:00] smarie commented on #157
This is the expected behaviour indeed. In `pytest`, when a fixture is used twice in the same test node (directly or indirectly), its parameters are used only once.

The only way I know to do this in pytest is to have two distinct parametrized fixtures (that may reuse the same lower-leverl root fixture or routine)

[2020-12-04 10:15] plammens commented on #157
Thanks, I guess I'm still very much confused when I should use fixtures, cases, parameters, or something else 😅

[2020-12-04 10:15] #157 closed

[2020-12-04 10:20] plammens opened #158 "Cases depending on other cases getting a LazyValue is problematic"
Sorry for the issue spamming Sylvain.

Very briefly, if I have a case `case_a` that is parametrised with another case, `case_b`, `case_a` doesn't get an actual value, it gets a `LazyValue`. So when I do e.g. `MagicMock(spec=value_of_case_b)`, it uses the attributes and methods of the `LazyValue` object, not the value itself. Is there a way around that? Are case functions supposed to be aware that

[2020-12-04 10:28] smarie commented on #156
Thanks a lot @mkolopanis for this very detailed report !! I'll have a look

[2020-12-04 10:32] smarie commented on #158
Thanks @plammens for testing all these situations !

Well, `lazy_value` is at the heart of `pytest-cases` because a case function is basically a parameter that is a function, and should only be called when a test node is run. My idea was that maybe it would be overkill to transform all case functions into fixtures, I have no idea how many fixtures `pytest` can handle.

So at least one workaround i

[2020-12-04 10:47] smarie commented on #154
@plammens you might have an opinion on this last comment ? do not hesitate

[2020-12-04 11:03] plammens commented on #158
I see. So if I understand correctly, the case is getting a lazy value because its parameterised with a case, and cases get collected at the test collection stage (hence the need for LazyValue). But a fixture would get the actual value because it is run "immediately" before the test node.

Is this more or less what's going on?

[2020-12-04 11:08] arut-grigoryan commented on #154
Thanks for your hard work. I don't really understand why the name of the test should change if there is a fixture in the arguments of the case function but it is not parameterized?
https://github.com/smarie/python-pytest-cases/issues/154#issuecomment-738283417 - very good idea i like)

[2020-12-04 12:51] plammens commented on #154
Personally I find these aspects of the current naming system confusing:

- Referring to two "unpacked" case-parametrized parameters by just joining the names with underscores, e.g., the parameters `inputs`, `request_data` are shown as `inputs_request_data`. As you add more and more parameters and fixtures, the test node id becomes increasingly unreadable; it's just a long string of underscores and

[2020-12-04 17:04] plammens commented on #158
This makes me think, are cases parametrised with other cases even supported, or did I just dream that up?

If they are supported, I think an exception should be made for these, in that the LazyValue should be actually computed before passing it to the dependent case—you can't do anything useful at all with a lazy value if you need that value to construct the dependent test case. And if the depende

[2020-12-04 17:15] plammens opened #159 "Referencing a specific case function within a class"
What is the correct way to reference a specific case function that is part of a class (for case grouping)?

For example, this
[code]
doesn't work because `CaseGroup.case_x` is an unbound method and there's nothing to fill the `self` parameter with (pytest complains that there is no fixture named `self`).

One way maybe would be to instantiate the case group before referencing the method:
[code]
al

[2020-12-04 17:45] smarie commented on #159
I can definitely find a way to directly support `CaseGroup.case_x`. Wow you're testing every single possibility here :) thanks for being so active !

Note: that particular issue could be quite easy to handle in a PR, look for the file `cases_parametrizer_new.py` if you're interested. You'll see that I create partial functions when cases are collected inside a class, for example.

[2020-12-04 18:32] plammens commented on #159
Hahaha it's more about having no idea what I'm doing so I have to restructure my test code every five seconds, and every time I do so I find something 😆

Thanks, I'll take a look!

[2020-12-08 22:43] #156 closed

[2020-12-08 22:47] smarie commented on #156
I was able to reproduce and fix this. 2.7.2 will contain the fix (about to ship). Let me know if this works for you!

[2020-12-09 17:17] mkolopanis commented on #156
Thank you! We also no longer see this error with version 2.7.2.

[2020-12-11 10:29] arut-grigoryan commented on #154
Hello. What is the status of the issue?

[2020-12-11 17:23] smarie commented on #154
Thanks to both of you for the feedback ! I am finalizing a PR with the following principles:

**`fixture_union`**

 - the notation appearing in the test ids should be easily identifiable as "this is a fixture union alternative". I prefer not to choose `::` (even if it the suggestion is cool!) because this symbol is used already in pytest ids to separate the python file, test class and test functio

[2020-12-12 21:58] plammens opened #160 "Nested case classes supported?"
Nested case classes seem to be supported:

[code]

runs with 1, 2, and 3. I don't know if this is on purpose or not, but I think it's a great feature! However I can't find it in the docs, I think it's worth mentioning and specifying this mechanism explicitly. For example, this only works if the nested class has "cases" in its name (probably a good idea).

[2020-12-12 22:09] plammens opened #161 "Support for "online" case generation"
Currently there seems to be no support for "online" test case generation (correct me if I'm wrong), i.e. generating test cases *in function of* any sub- parameters, other cases, or fixtures the case function might be dependent on.

For example, suppose we have a `foo` fixture which has (the returned fixture, not the function) an iterable attribute `attr`, and we want to generate every possible pai

[2020-12-13 10:18] plammens commented on #159
Meanwhile, I have seen that currently all static and class methods get skipped silently:

https://github.com/smarie/python-pytest-cases/blob/8febdeeb52f6dcfcb54aa1e8e7d966427d030ad5/pytest_cases/case_parametrizer_new.py#L613-L615

I wanted to use static methods so I could refer to test functions without instantiating the class. I expected that to work fine, but to be fair it's not mentioned in the

[2020-12-13 11:06] plammens opened #162 "Development: AttributeError in pytest_cases tests collection"
I forked the repo to work on #159 but I can't seem to run the tests in `pytest_cases.tests`, I'm getting a bunch of `AttributeError`s at test collection when running `pytest pytest_cases/tests`, e.g.:

[code]

This happens for all tests; the error happens here:

https://github.com/smarie/python-pytest-cases/blob/8febdeeb52f6dcfcb54aa1e8e7d966427d030ad5/pytest_cases/plugin.py#L652-L656

Version det

[2020-12-13 11:11] plammens commented on #162
Ah, nevermind. Apparently my IDE, upon seeing the `setup.py`, had made some weird editable install of the repo that messed things up:

[code]

Fixed with
[code]
and then running the tests as mentioned above works fine.

[2020-12-13 19:21] plammens commented on #162
Actually, no, this is an issue with `pytest_cases` when using `pytest` 6.2.0. Commit pytest-dev/pytest@d6becfa177a8105696fb6fd16777312a5e9c601e changed `_getautousename` to a generator so the code shown above is no longer getting a list, which causes the error.

[2020-12-13 22:27] plammens opened #165 "Using an empty parameter set causes an error"
Example:

[code]

Note the empty argvalue list. (In practice this will be some dynamically computed value, e.g. a set intersection of dynamically computed sets that results in an empty set).

Traceback:

<details>

[code]

</details>

This is caused by setting `config` in `MiniMetafunc` to `None`:

https://github.com/smarie/python-pytest-cases/blob/8febdeeb52f6dcfcb54aa1e8e7d966427d030ad5/pytest_c

[2020-12-14 21:57] #162 closed

[2020-12-16 10:46] smarie commented on #154
Finally, all tests pass of all versions of python and pytest: https://travis-ci.com/github/smarie/python-pytest-cases/builds/209061483  . I'll merge this PR #155 and release version 2.8.0 in a few minutes.

I opened an issue on pytest because it was quite hard to make the extra useless id from the multi-param fixture disappear in pytest 5.4+ : https://github.com/pytest-dev/pytest/issues/8155

Plea

[2020-12-16 10:46] #154 closed

[2020-12-16 15:53] smarie commented on #154
3.0.0 released (I finally chose to make it a major version bump since it was quite a major refactoring!). Let me know !

[2020-12-16 15:58] smarie commented on #159
:) thanks for challenging me on this. Well, there is definitely no rationale: this was a quick way to get the nominal use cases work and not care too much. I need to fix this indeed, I'll open a dedicated issue

[2020-12-16 16:00] smarie commented on #158
They were not working correctly because of some premature optimization. In 3.0.0 I fixed it so they should be working fine, at the cost of some extra fixtures being created. I'll probably need to re-optimize it again: if a case is parameterized it does not always need to be turned into a fixture (as it is for now). But doing this properly, as you noted with nested lazy values, requires an extra ca

[2020-12-16 16:02] smarie opened #168 "Support static methods and class methods as case functions"
As mentioned in #159 , static methods and class methods are currently silently ignored by cases collection. We should handle them correctly.

[2020-12-16 16:06] smarie opened #169 "Re-optimize cases collection: parametrized cases do not always need to be turned into fixtures"
As noted in #158 , since 3.0.0 all parametrized cases are turned into fixtures. This ensures solid support for all kind of complex nesting and fixtures depenencies. However maybe we could simplify this when a case is parametrized but the parametrization does not contain any fixture reference ? In that case we still need to make sure that if there are lazy values, the "lazyness" needs to be intelli

[2020-12-16 16:07] smarie commented on #165
I can reproduce this issue. See my comment on #166 about a proposed cleaner way to access the config

[2020-12-16 16:12] smarie commented on #161
Thanks @plammens ! Unfortunately this falls into the now "classical" pytest pitfall: it is not possible by design in `pytest` to use the contents of a fixture to parametrize tests, because the list of all tests nodes has to be known in advance (i.e. BEFORE the fixtures are evaluated) by pytest.

See [this stackoverflow answer](https://stackoverflow.com/questions/42228895/how-to-parametrize-a-pytes

[2020-12-16 16:12] #161 closed

[2020-12-16 17:00] smarie commented on #146
Trying to reformulate this ticket in order to leave it open: when `@parametrize` finds a `fixture_ref` in its `argvalues`, the parameter is not anymore accessible through `request.getfixturevalue`.

Minimal example:

[code]

This is due to the fact that `a` does not exist as a parameter in the second case. Indeed `@parametrize` replaces `test_with_fixture_ref` with a wrapper function, depending on

[2020-12-16 17:02] #140 closed

[2020-12-16 17:02] #160 closed

[2020-12-16 17:06] smarie commented on #140
Hi @romanponomaryov , for now I have implemented a basic fusion of both naming convention: now `AUTO` (default) will look for `test_<name>_cases.py`, then `cases_<name>.py`.

This will be released in 3.1.0.

Feel free to open a new ticket referencing this if there is any other of your suggestion you would like to pursue.

[2020-12-16 20:20] smarie opened #170 "Improve the fixture union engine to support hybrid param+fixture mode"
The latest developments about test ids uniformization, as well as #146 and https://github.com/pytest-dev/pytest/issues/8155, made me realize that maybe the fixture union engine could be extended to natively support hybrid param+fixture unions.

If this works this would have two benefits:

 - first, `@parametrize` would not have to generate a global union fixture for the parameters as of today, imm

[2020-12-16 21:40] arut-grigoryan commented on #154
Thank you very much, we are working on)

[2020-12-16 22:14] #168 closed

[2020-12-17 10:26] arut-grigoryan opened #171 "Strange test name, version 3.1.0"
Python 3.6.8
pytest-6.1.2
cases-3.1.0

test file
[code]
db, flaskClient, clearMongo, mocked_oid, mocked_uuid - fixtures

case file
[code]

test names:
[code]
**13h#987__36a721f8Z44526!8*720** ??
test names when idstyle="compact":
[code]
test names when idstyle="explicit":
[code]

[2020-12-17 10:27] plammens commented on #154
Yes, thank you for all the hard work @smarie !

[2020-12-17 11:00] smarie commented on #170
After sleeping on this:

 - 1. `@parametrize` does not need to create a test wrapper anymore. It needs to stop creating `ParamAlternative`s and instead just pass the argvalues as is.

 - 2. in FixtureClosureNode._build_closure, there is a need to detect that this parameter is special. For this, the argvalues are inspected with https://github.com/smarie/python-pytest-cases/blob/b0681bb12e479469d416

[2020-12-17 11:08] smarie commented on #171
Dammit. this special id `"13h#987__36a721f8Z44526!8*720"` is my only way to create "no id" ids in pytest>=5.4. It works with pytest 6.2 so I guess this is maybe different with pytest 6.1 ?

[2020-12-17 11:29] arut-grigoryan commented on #171
The pytest 6.2.0 and 6.2.1 has the same problem

[2020-12-17 11:38] smarie commented on #171
Ah, better then. I'll have a look

[2020-12-17 11:54] smarie commented on #171
Found it and fixed in 3.1.1, that should ship soon (when travis has completed)

[2020-12-17 11:55] #171 closed

[2020-12-17 11:58] smarie commented on #154
You're welcome. Completing this made me realize that there is still progress to do in terms of simplification, I opened #170 .

Double-thanks to both of you for taking time to try the features and let me know of the issues !

[2020-12-17 21:24] plammens commented on #158
Thanks! Now I'm getting an error though, and I'm not able to make a minimal reproducible example :(

My case code looks like this:

[code]

and the test function:

[code]

I'm getting

[code]

Could you give me a pointer perhaps as to where to put breakpoints for debugging?

[2020-12-18 04:56] shaunc opened #173 "question: skipping cases?"
Thank you for your library! I am interested in using it to organize the tests for my machine learning library. (I am now using ad-hoc methods to combine fixtures with parametrize.)

Running on some cases, however, is very slow; I don't want to always have to run these cases.

For my tests themselves, I have defined the following decorator:
[code]

Can I use this or something similar with test case

[2020-12-18 05:34] shaunc commented on #173
Oops -- found [the doc](https://smarie.github.io/python-pytest-cases/#pytest-marks-skip-xfail) that answers my question!

[2020-12-18 05:34] #173 closed

[2020-12-18 07:55] smarie commented on #173
Perfect ! Thanks for the feedback @shaunc

[2020-12-18 08:05] shaunc commented on #173
Already partially working! Great package; thanks @smarie!

Only thing that tripped me up in the beginning: I was creating my fixtures in modules of a package, whose "__init__" was importing them. Then when I used fixtures, which depended on other fixtures which were annotated with @parametrize_by_cases, I would get weird "not found" errors -- I thought that chaining case-annotated fixtures wasn't

[2020-12-18 08:24] smarie commented on #158
ouch. this will be hard then, as I won't be able to help. I'll try random examples this afternoon

`@parametrize_with_cases` is the place where you might wish to put a breakpoint. Applied on a function `test_foo(a)` it does three things:

 - 1. first it collects the list of case functions to use. Class methods that are not staticmethod nor classmethod are partialized here so as to remove 'self'.

[2020-12-18 08:55] plammens commented on #158
Thanks, this was the key to the issue! Now I was able to make a MRE, I was trying to do that in a single module but that wouldn't have reproduced it due to the nature of the error :) I will open a separate issue since it is kind of unrelated to this one.

[2020-12-18 08:55] #158 closed

[2020-12-18 09:00] plammens opened #174 "Fixture creation for parametrized case not visible to test function in different module"
When a fixture is created for a parametrized case, if that case is used in a test that lies in a separate module, the fixture won't be visible and test collection will fail.

## Example

In the file `test_foo_cases.py`:
[code]

In `test_foo.py`:

[code]

Trying to run `test_foo` will result in an error during collection:

[code]

[2020-12-18 13:11] smarie commented on #173
Actually I have put some safeguards here to generate unique names. But you're right, your point is the same as the one we discussed in #158. @plammens opened #174 for it.

More generally the new engine #170 should remove all hidden fixture creation, as it was a good way to get me started but has a lot of side effects. Thanks for the feedback !

[2020-12-18 13:14] smarie commented on #174
Nice workaround `from test_foo_cases import *` ! I did not think it would work but actually there is no reason it shouldnt

Another possible solution is : stop creating hidden fixtures in `@parametrize` (#170). A bit ambitious/challenging but not impossible.

[2020-12-18 13:18] smarie commented on #170
Another way to say the above is "before I thought that fixture unions were the core and parametrize would reuse this, but we have to revert this pattern: a fixture union is "just" a parametrized fixture with only `fixture_ref` argvalues. So `@parametrize` should be the core mechanism.

Another thing we'll need to do in this refactoring, as discussed in #158, is to support parametrized `lazy_value`

[2020-12-18 13:19] smarie commented on #169
Note that #170 may solve this by supporting parametrized `lazy_value`s

[2020-12-18 13:21] #165 closed

[2020-12-20 04:03] shaunc commented on #173
Is there a good workaround for typing these hidden fixtures, btw?
[code]
[and a bunch more such errors from mypy...]

[2020-12-22 16:27] smarie commented on #173
I'm afraid not :( in general I would not recommend using typing/mypy on the test folder, but of course this is a personal decision. If you wish you can open a dedicated issue on this topic (in that case please try to provide a minimal reproducible example) so that users can try to help/have a look

[2020-12-22 16:50] shaunc commented on #173
ok ... well for the moment doing `# type ignore` on fixture import. Hopefully these hidden fixtures will go away. I'll open an issue if necessary on the new implementation in the new year! :)

[2020-12-27 13:49] ftruzzi opened #175 "Use only same parameters for fixture and tests"
Hi,

I'm very new to both pytest and pytest-cases and I'm trying to set up tests with the following structure (example):

A few test cases:

[code]

A fixture that fetches search results from an API based on the test cases:

[code]

Test cases that leverage the search fixture:

[code]

It looks like all test combinations are being created, for example, there is a case where `test_search_results_le

[2020-12-27 18:04] ftruzzi commented on #175
Sorry, not sure why I didn't see it -- the solution was to parametrize the fixture only and have it return both the result and the test case:

[code]

wondering if this is the best way or a good practice though. Thanks!

[2021-01-02 14:25] smarie commented on #173
ok, thanks!

[2021-01-07 18:14] HMaker opened #176 "Support pytest plugins that modify the fixture closure list"
I tried to parametrize a test function marked by [pytest-asyncio](https://github.com/pytest-dev/pytest-asyncio)
[code]
but `pytest_cases` raises `NotImplementedError: When fixture unions are present, inserting a fixture in the closure is non-trivial. Please report this so that we can find a suitable solution for your need.`

That works with [pytest-lazy-fixture](https://github.com/TvoroG/pytest-la

[2021-01-10 20:59] smarie commented on #176
thanks for the feedback @HMaker  ! I'll have a look

[2021-01-19 06:23] kousu opened #177 "Why do I need fixture_ref?"
Hi! Thanks for your work on pytest-cases. It's really great to see innovation in making expressivity better for testing. Maybe kind of a dry topic for some, but I'm into it right now :P

So here's my deal, I want this to work:

[code]

This doesn't work, of course, because pytest doesn't support mixing @parametrize and fixtures. That's what led us to find pytest-cases in the first place, and it do

[2021-01-19 08:17] kousu commented on #177
I've written this little wrapper and it seems to do exactly what I want:

[code]

You can see [it](https://github.com/neuropoly/spinalcordtoolbox/blob/7bbce7ab7c113c0d9725fdf7ab8406ea432a9ae7/unit_testing/test_utils.py#L13-L27) in use at https://github.com/neuropoly/spinalcordtoolbox/blob/7bbce7ab7c113c0d9725fdf7ab8406ea432a9ae7/unit_testing/test_reports.py#L46-L62 and passing a test at https://tr

[2021-01-19 09:03] smarie commented on #177
This is a great idea @kousu . Indeed, when the fixture symbol is locally available this makes sense to detect it automatically.

Would you like to open a PR for this or would you like me to do it ? Note that instead of your explicit test I'll ask you to use `is_fixture` (from `.common_pytest` module). As always tests (under tests/pytest_extension/parametrize_plus) and docs (pytest_goodies.md and a

[2021-01-19 20:20] kousu commented on #177
Awesome, I'm glad I was on the right track. Yes, I would like to take that on :)

It might take me a bit to figure out how to slot it into the codebase. I am also wondering if there are any caveats (like maybe conflicts with `lazy_value`?) that prevented this in the first place.

[2021-01-21 07:42] WIRUT opened #178 "Fixtures defined in conftest.py not found"
Hello!

Thanks for making pytest-cases! I believe it's exactly what I'm looking for in writing my tests. Alas, I am still new to python and I am running into an issue. I'm not quite sure if this is related to #174.

Example:

[code]

The `fixture_obj` has a method that makes a remote request. It is defined in the `conftest.py` module and contains the necessary methods to make such a request and su

[2021-01-21 23:39] WIRUT commented on #178
PEBKAC. My conftest.py was inside a sub-folder.

[2021-01-21 23:39] #178 closed

[2021-01-22 20:37] smarie commented on #177
The method that you want to modify is [`_process_argvalues`](https://github.com/smarie/python-pytest-cases/blob/a9083f2195714c49e5606b5191c6fe26d298a691/pytest_cases/fixture_parametrize_plus.py#L1139)

As you'll see it performs some processing on the values tested with `isinstance(v, fixture_ref)`. So you'll want to replace fixtures by a fixture reference just before these checks so that the actio

[2021-01-23 12:38] reyreaud-l opened #179 "Nested parametrize_with_cases does not collect test if fixture is used multiple times"
Hello there!

First of all thanks for that package for it is very awesome!

I was working on doing some weird matrix testing to test permissions of user against other users resources. In order to do that I had large cases classes that boiled down to the minimum example below:

[code]

I know the example could be simplified, but in my use case, CaseX's case need to have db_access to create a user,

[2021-01-25 10:11] smarie commented on #178
Thanks @WIRUT for both opening and closing this ticket ! Glad you found a solution to your problem, that may also help others if they run into the same issue.

[2021-01-25 11:42] smarie commented on #175
Thanks @ftruzzi for the feedback ! Indeed it is not always easy to get the fixture design right.

There is no "official" method but I would do the following thinking: start from the test and be very clear about what you need. Here your test need two things: the test "case" (the query) and the search results. If everything is independent and does not need to be reused, you can create it with parame

[2021-01-25 11:50] smarie commented on #179
Thanks @reyreaud-l for posting this ! Indeed this is strange, I'll need to have a closer look.

As a workaround, you can create a fixture for x, it seems to work fine:

[code]

[2021-01-25 13:31] smarie commented on #179
I found the issue: the `<func>.place_as` magic attribute supported by pytest and set by `parametrize_with_cases` was not supported by `parametrize_with_cases` (in this nesting scenario). Therefore the two case functions in CaseY were assigned with the same line number (1) and would override each other.

I fixed this, and in addition added a safeguard ensuring that no function would be silently dro

[2021-01-25 13:34] #179 closed

[2021-01-25 13:35] smarie commented on #176
(Unfortunately I only fixed half of the issue yet)

[2021-01-25 14:17] reyreaud-l commented on #179
Awesome, thanks for fixing it!

[2021-01-25 14:34] #146 closed

[2021-01-25 14:40] smarie commented on #150
Proposal to close this: I'll issue a warning when indirect=True and fixture refs are present in the parametrize.

[2021-01-25 14:40] #150 closed

[2021-01-25 14:57] smarie commented on #177
Hi @kousu , I was in a refactoring today for other issues, so I decided to take a stab at it considering the above comment where I realize that it creates quite a barrier to entry in the code.

I hope that you did not spend too much time on it since my last message!

[2021-01-25 16:14] smarie commented on #179
Should be available in 3.1.2 in a few minutes. Please let me know if this does not work for you !

[2021-01-25 16:56] #177 closed

[2021-01-25 20:40] smarie opened #180 "Test ordering issue on linux targets when several `@parametrize` are used to decorate the same function."
discovered on travis builds for release 3.2

the cause is that the first decorator set `place_as` correctly, but the second does not propagate it

[2021-01-25 20:43] #180 closed

[2021-01-26 13:57] smarie opened #181 "No syntax highlighting in documentation ?"
Apparently syntax highlighting stopped working in the documentation. There is a "new" way to do it, see https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#inlinehilite

[2021-01-26 13:59] #181 closed

[2021-01-28 22:41] smarie commented on #176
@HMaker can you confirm that this new version 3.2.0 works for you ? thanks !

[2021-02-09 15:44] mcstarioni opened #182 "Fixture breaks when defined in class method"
Using pytest_cases's fixture in a test which is a class method leads to the following error: `fixture 'self' not found`,. While using pytest.fixture doesn't result in error.
Minimal code to reproduce:
[code]

Versions: pytest: '6.2.1', pytest_cases: '3.2.0'

[2021-02-19 09:11] smarie commented on #176
Up @HMaker  ?

[2021-02-19 09:12] smarie commented on #182
Thanks @mcstarioni for reporting this issue, sorry for not having seen the notification :(
I'll have a look

[2021-02-19 09:29] smarie commented on #182
Indeed. The reason seems to be that I was adding a `request` dependency as first argument as it should be last

[code]

This additional argument is used when this fixture is used in a union: pytest will always try to call it even if it is not used in this branch of the union, so I create a wrapper inspection the `request` to detect if it should *really* be called or not.

[2021-02-19 09:40] #182 closed

[2021-02-19 09:41] smarie commented on #182
Fixed in version 3.2.1 that should be available in a few minutes when travis has completed. Let me know !

[2021-02-20 01:43] shaunc commented on #175
Works for me! :) ... I think I figured this out once before, but was having trouble with some new tests and ended up here. I might suggest the documents for @fixture -- say -- (and/or ref in parametrize_with_cases) should give a similar example.

[2021-02-20 17:39] smarie commented on #175
Perfect, thanks for the feedback @shaunc  ! Closing this ticket then. @ftruzzi feel free to reopen if the various answers do not entirely solve your initial issue

[2021-02-20 17:39] #175 closed

[2021-02-23 07:29] saroad2 opened #186 "Drop Python 2.7 support"
As of January 2020, Python 2.7 (and Python 2 in general) is not supported by the Python Software Foundation (PSF). The same implies to Python 3.5 as from December 2020.

I think it's about time that `pytest-cases` will do the same. This will allow us to use f-strings, type hints (not as comments), data classes, and many more abilities which are currently out of reach.

What do you think?

[2021-02-23 13:57] smarie commented on #186
I have considered this but I would prefer not to do it for now. The pros are much lower than the cons (you can use pyfields if you need dataclass in python 2, even though I agree that type hinting class attributes without type comments is a bit less convenient :)  )

Even if PSF dropped support, for the month of december 2020 only 73.6% of the total pytest-cases downloads were on python 3... So py

[2021-02-23 17:52] saroad2 commented on #186
I suggest keeping this issue open and marking it as blocked.

I'm pretty sure that one day we would want to drop Python 2.7 and 3.5 support. This issue can help us track it.

[2021-02-23 20:58] smarie commented on #186
Good point

[2021-02-25 16:31] HMaker commented on #176
Sorry for late answer, I ran the code I sent above and the same error still happens. Steps to reproduce (linux env):
[code]
That error happened with Python 3.9.1 and following deps from `pip freeze`
[code]
Did not you run that code before closing the issue?

[2021-02-26 10:55] smarie commented on #176
Lol it seems that pytest-asyncio inserts it at the beginning of the closure instead of putting it at the end (append). Maybe they changed behaviour in the lastest version ? Or I just dreamed it, but I thought I tested it locally...

This will make it a little bit more complex to fix. I'll have to have a go again, thanks a LOT for reporting it !

[2021-02-26 11:18] #131 closed

[2021-02-26 11:19] smarie opened #187 "Finalize PR 184 (filters)"
Following #184 I should update `api_refence.md` and check why setting `case_dom` in the test without `@case(id=)` explicitly set does not pass

[2021-02-28 04:04] HMaker commented on #176
pytest-asyncio 0.14.0 was released in Jun 23, 2020 as shown in its [pypi page](https://pypi.org/project/pytest-asyncio/), so I was  using that version (actually it's set to "*" in requirements file, i.e. unpinned) when reported that error for the first time. Anyway, thanks for your attention.

[2021-03-02 04:35] shaunc opened #188 "Question: how to select case in test using derived fixtures"
I have a case class with a number of cases, from which a series of fixtures (corresponding to steps in a machine-learning pipeline) are derived. For tests where I want to run all the cases, this is quite convenient. But is there a way to mark/select for a particular case so for a given test I can use a "downstream" fixture and only compute a particular case for that test?

Currently, I am checking

[2021-03-02 05:18] shaunc commented on #188
Aha:
[code]
The one improvement I might suggest is to allow:
[code]
As I really don't care about the case. Indeed a specialized decorator would be nice, e.g.:
[code]
:)

[2021-03-02 05:42] shaunc commented on #188
Oops! I spoke too soon. Seems that fixtures for other cases run after all. I know that I can focus on a particular case for a particular test using a fully-specified ID, but I'm not sure how to make this work for a subset of tests/cases, and would like to have this happen programmatically.

[2021-03-02 08:10] smarie commented on #176
Yes I saw that. Sorry, I don"t know what have happened. Anyway, I'll try to fix this now.

[2021-03-02 08:16] smarie commented on #176
Confirmed: I was using `pytest-asyncio 0.10.0` locally, and the fix works correctly for it.

[2021-03-02 09:47] smarie commented on #176
I made it work. Here are the current limitations, that should hopefully be quite tolerant to most existing plugins:

 - Removing a fixture from the closure using `closure.remove(fixture_name)` is supported as long as the  `fixture_name` or one of its dependencies is not a fixture union (no tree)
 - Appending a fixture to the closure with `closure.append(fixture_name)` or `closure.insert(len(closur

[2021-03-02 10:07] #176 closed

[2021-03-02 10:38] smarie commented on #188
I am not sure that this pytest design is the right one to reach your goal - although I have no specific proposal to suggest here :(

 - the first thing to ask yourself is "do I need this single fixture here" ? Indeed it seems to be the bottleneck. I tend to separate the data cases from the algorithm cases, from other fixtures, so that each they can be freely combined when needed and separated when

[2021-03-02 15:57] shaunc commented on #188
Apropos your first point:

Here, the cases will be different datasets, and the fixtures precomputed steps along a machine learning pipeline. As they are compute intensive (relatively -- even for teensy example datasets), I am eager to avoid computing twice. I could separate out the logic:
[code]
... then I could create a new fixture for `f2` that just takes the case(s) I want. But this doesn't avo

[2021-03-02 17:36] shaunc commented on #188
Aha -- so you put a mark into markers with the case name. So I can mark my test:
[code]
Then in contest.py:
[code]
... and the unwanted branches are pruned! :)

My question is -- can I rely on the "internal" of the case name appearing in `item.keywords`?

[2021-03-02 20:45] smarie commented on #188
A few comments:

 - concerning session fixtures: I was thinking the same as you but pytest does not guarantee that a session-scope fixture is not created several times, in case of parametrization. So "caching" is not really the feature provided by pytest fixtures, think of it as "sharing resources that take time to setup/teardown" (a database connection, etc.). A fixture is probably rather a resou

[2021-03-02 21:18] shaunc commented on #188
Thanks @smarie --

* session fixtures: in fact, the fixtures do depend on the cases, so they need to be created several times when we actually are running several cases. In my experience currently, they are created once per parameter setting/case. Just that I want to prevent creation if eventually I am going to skip the whole case.

In fact, when I delete the tests for the other cases, the fixture

[2021-03-02 22:00] smarie commented on #188
Concerning the case id availability:

 - if you have access to `item` in a `pytest` hook, you can access the current case name with `item.callspec.params[param_name].get_id()` where `param_name` is the name of the parameter filled with cases (typically, `'case'`).

 - the same can be done if you can access the `request` fixture: `request.node.callspec.params[case_param_name].get_id()`

To clarify

[2021-03-02 22:43] shaunc commented on #188
Ah -- thanks! That clarifies your suggestion a lot. Hmm... ok: you might be right that doing it that way might be easier than "tricking" pytest into creating the fixtures appropriately.

[2021-03-02 23:08] smarie opened #189 "Helper function to get the current case id"
from #188 this arised and could benefit from a documented API

[2021-03-02 23:10] smarie commented on #188
The "how to get the id" part of your comments is worth a proper API/documentation though, so I opened a dedicated issue.

Let me know when you have made some tests, if I can then close this issue or if you have more questions/suggestions.

[2021-03-02 23:46] shaunc commented on #189
Hmm... is this really working in case of multiple argument names? For parametrize in the case of multiple argument names, `argnames` might look like "a,b" ... but passing "a,b" as a string to this function doesn't seem the right thing.  (`main_fixture_style_template` comes out to be something like "foo_a,b"...).

[2021-03-03 04:55] shaunc commented on #188
Now rewriting my "pipeline" fixture DAG. One issue I'm struggling with is side dependencies. So currently, if I have fixtures:
[code]
Where X is a non-case dependency, consumers of `B` don't have to worry about `X` -- `B` simply takes as a dependency. Of course, B can simply take X privately, but if X feeds into multiple other fixtures, and/or has some teardown, using the fixture machinery was con

[2021-03-03 06:27] shaunc commented on #188
Ok ... this is what I've come up with so far -- comments welcome!

I've created objects for the cases themselves, which are instances of:
[code]
Cases are setup with initial data, still using a pytest fixture to trigger teardown:
[code]

I've actually got a disk-based cache (extending lrucache) which stores cached data with clear names, so I can cache fixture values between tests. (Adding a pytest

[2021-03-03 19:37] smarie commented on #189
Good point, I need to check this a little more in depth. Having a few minutes only to work on this every day makes it sometimes quite superficial :) thanks for the feedback !

[2021-03-03 20:04] #189 closed

[2021-03-03 20:15] smarie commented on #188
I still have trouble to understand the high-level use case without implementation-specific details. So far what I understand:

 - you have a DAG of processing steps operating on data
 - you have a bunch of tests that act on output of these steps

So far, using functions (not fixtures) with cache + tests works.

If I understand well, the thing that makes the above not suit your need is that the pro

[2021-03-03 21:44] shaunc commented on #188
That is one challenge. The other challenge is that the DAG can have pieces that are not session scoped.

You are right that, in theory, I could factor out all the resources, but in the case:

Resource_1...Resource_n -> [Snarl of DAG] -> test I have to pass back all the resources to all the fixtures in the DAG. This is hard to do uniformly because not all resources are needed for every DAG. Also, s

[2021-03-04 02:13] shaunc opened #190 "feature request: ability to write decorators wrapping "parametrize_with_cases""
I wanted to write a decorator to wrap `parametrize_with_cases` call, to provide for simpler tests, which could more easily be written by outside contributors without knowledge of test case setup details:
[code]
However, this gives an error:
[code]
Debug output as follows:
[code]
I'm wondering if its `parametrize_with_cases` is injecting into the wrong module, despite the `@functools.wraps(f)`.

Yo

[2021-03-04 02:20] shaunc commented on #190
NB .. `get_function_host` seems to be returning the right module:
[code]
But from the error message it seems perhaps to be injecting the test function itself into the module where the wrapping decorator is defined (`...base`), after injecting the fixtures into `test_container`.

[2021-03-04 03:31] shaunc commented on #190
In fact, even wrapping the test function in a separate decorator and explicitly wrapping with parametrize_with_cases doesn't work (?!)
[code]
still gives
[code]

[2021-03-04 06:09] shaunc opened #191 "Bug: concatenation of marks when creating cases"
I have a class case:
[code]

Using `parametrize_with_cases` like:
[code]
I get the following error while decorating the test:
[code]
The problem is here:
[code]
where:
[code]
simply wrapping `fun_marks` in `tuple()` would suffice, but I leave to you to decide if `get_pytest_marks_on_function` shouldn't better return a tuple in the first place.

[2021-03-04 08:13] smarie commented on #190
This is probably because of `@functools.wraps` and I probably do not check for the `__wrapped__` magic attribute.
If you use `@makefun.wraps` instead it should work (not yet checked though)

[2021-03-04 09:31] smarie commented on #191
Nice one ! Thanks @shaunc it seems that you are on "bug killing spree" mode :) I'll fix this and add test

[2021-03-04 22:45] shaunc commented on #190
Unfortunately, changing `functools.wraps(f)` to `@makefun.wraps(f)` in `release_scope()` doesn't make any difference -- still "fixture 'case' not found".

[2021-03-23 10:38] smarie commented on #176
@HMaker I managed to finally release version 3.3.0 that contains the fix. Sorry for the delay, I had to migrate from Travis to Github Actions to get [my CI/CD pipelines back](https://github.com/smarie/python-pytest-cases/actions).

Could you let me know if this is working for you ? Just in case the tested configuration is slightly different from the one you're using.

[2021-03-23 10:38] smarie commented on #189
@shaunc  I managed to finally release version 3.3.0 that contains the fix. Sorry for the delay, I had to migrate from Travis to Github Actions to get [my CI/CD pipelines back](https://github.com/smarie/python-pytest-cases/actions).

[2021-03-23 17:08] #191 closed

[2021-03-23 17:14] smarie commented on #190
@shaunc I am not able to reproduce your issue. Would you be able to provide a reproducible example please ?

[2021-03-23 17:14] shaunc commented on #191
Nice -- I see you fixed the right way. :)

[2021-03-23 17:16] shaunc commented on #190
In the middle of something now, but will try to brew one (that doesn't depend on too much extra code) on the weekend. Thanks!

[2021-03-23 17:18] smarie commented on #187
This has now been done in 3.3.0

[2021-03-23 17:18] #187 closed

[2021-03-24 08:08] smarie commented on #191
Yes apparently tuples are more efficient than lists in general, so I tried to have most functions manipulating marks return tuples. However since `get_pytest_marks_on_function` was used in many places I was a bit lazy here and left it as it was (returning a list). Thanks again!

[2021-03-24 08:13] smarie opened #192 "Drop support for the legacy API"
`cases_data`, `cases_fixture`, `case_tags`, `case_name`, `cases_generator` , `test_target` are deprecated since version `2.0.0`. We can now safely remove them.

[2021-03-24 08:15] smarie commented on #192
The following symbols should be removed from `__init__`:

[code]

[2021-03-24 11:36] marvinpfoertner opened #193 "Fixtures defined in case files not found"
It seems that fixtures defined in case files can not be found.

Seems to be related to #174.
However, the workarounds/solutions described in #174 don't really work for my usecase, since I want to keep the fixture local to my cases file.

Example
--
File `test_foo_cases.py`:
[code]

File `test_foo.py`:
[code]

When running `test_foo`, I get
[code]

[2021-03-24 14:26] #159 closed

[2021-03-24 14:26] #192 closed

[2021-03-24 14:29] smarie commented on #159
Hi @plammens I finally managed to take a stab at this. I was not fond of users having to use an explicit metaclass, so I went down through the hell of determining the host and binding status of all kind of python functions :)

It seems to work though, I'll release this in 3.4.0 shortly.

[2021-03-24 15:51] smarie commented on #193
THanks @marvinpfoertner ! From the [documentation](https://smarie.github.io/python-pytest-cases/#cases-requiring-fixtures) indeed it is a bot ambiguous.

From what I remember, defining a fixture in a non test file does not work. I'll check this now to be sure there is no easy workaround

[2021-03-24 16:11] smarie commented on #193
@marvinpfoertner which version of `pytest-cases` are you using ? Indeed when I run the same example as you do, I get a different error. This might help me understanding if there was a regression.

[2021-03-24 16:16] marvinpfoertner commented on #193
Thanks for responding so quickly! I'm running version 3.2.1. But I also just noticed that I pasted the wrong code snippet for `test_foo_cases.py`. I just updated the issue.

[2021-03-24 17:50] #193 closed

[2021-03-24 17:53] smarie commented on #193
Perfect. So I confirm, from there are only two ways in pytest to share a fixture between two modules (in your case the module containing the cases contains the fixture on one hand, and the module using `@parametrize_with_cases` on the other hand requires the fixture) :

 - either the module "consuming" it (the module with `@parametrize_with_cases`) should import it explicitly

 - or the `conftest.

[2021-03-24 18:27] marvinpfoertner commented on #193
@smarie Thanks a lot! I'll try it out and keep you posted.

[2021-03-31 08:37] smarie opened #194 "Support indirect parametrization"
Sometimes a fixture is parametrized with cases using `@parametrize_with_cases`, but for a specific test one would like to only select a subset of these cases. This would for example solve the need in #188

[Indirect parametrization](https://docs.pytest.org/en/stable/example/parametrize.html#indirect-parametrization) is the answer of pytest to this need. For example :

[code]

Leads to

[code]

Apa

[2021-03-31 12:09] eavanvalkenburg opened #195 "filter/skipif combination of cases from multiple parametrize_with_cases decorators"
Hi, loving the library! I have a instance where I create a large number of test cases based on a combination of multiple parametrize_with_cases, a simple example here:

in test_package_cases.py:
[code]

and in test_package.py

[code]

This is a simplified example of what I want to achieve (I have one test that has 5 parametrize_with_cases, with a total of 80 tests coming out of it, which I love!),

[2021-03-31 14:19] eavanvalkenburg commented on #195
yeah, the get_current_case* isn't much easier then just using a if condition block against the actual parameters that were passed in because of the cases, so this will work for now, but would be cool if you guys think of something here, because that would make it much more explicit, to see a skipped in the log instead of a passed for those instances!

[2021-03-31 14:28] shaunc commented on #195
I had this problem too, and I think I was mostly able to overcome it using tags. You can pass a list of tags to both case decorator and parametrize_with_cases. Tags seem mostly for inclusion rather than exclusion, (@smarie - how about boolean tag expression support?) but since you can tag with a list, with a little work you can often come up with a way to exclude. (e.g., "not_encrypted" tag, toget

[2021-03-31 14:59] smarie commented on #195
If this is the point that bothers you, you can write `pytest.skip(msg)` in your `if` statement !

@shaunc thanks for adding your thoughts here ! The filtering features, with the new helper functions from @saroad2 (`filters` module, described in the very last paragraph of [this section](https://smarie.github.io/python-pytest-cases/#filters-and-tags)) indeed does the trick for a each `@parametrize_w

[2021-03-31 15:01] eavanvalkenburg commented on #195
Indeed crossing the decorator boundary is the issue! and thanks for the tip about the pytest.skip, didn't know that one, will use that for now, you can close this if you want (or keep it open in case you want to refer to it later as a feature)!

[2021-03-31 15:19] shaunc commented on #195
@smarie -- two cases -- ah, sorry.

One could make new cases individual items of cross product in a pair, leaving some out, then gather together and unpack again to get fixtures running over the desired subset. A lot of writing to do manually, but perhaps a helper could automate.

[2021-04-06 16:21] lyz-code opened #196 "ValueError: Internal error - config has not been correctly loaded. Over 3.2.1"
Since pytest-cases 3.2.1 I'm getting the following error:

[code]

# Steps to reproduce

[code]

I've tried debugging it without success. Can you please help me?

Thanks!

[2021-04-07 08:30] smarie opened #197 "Support the new `idgen` style in `param_fixture`"
The new `**kwargs` parametrization style `@parametrize(foo=[1, 2])` automatically generates ids `foo=1`, etc.

This is not yet supported in `param_fixture[s]`, maybe we should add it.

Current workaround is to use `@parametrize` on an identity `@fixture`

[code]

[2021-04-07 09:04] smarie commented on #196
Thanks @lyz-code ! This seems to be caused by usage of cases in the `conftest.py`.

I found out that `conftest.py` files are loaded before the `pytest_configure` hook. I'll fix this now by simplyreading the early config in pytest_load_initial_conftests hook instead.

[2021-04-07 09:11] #196 closed

[2021-04-07 09:12] smarie commented on #196
Fixed in 3.4.4. Let me know if this works for you ! Thanks again for letting me know

[2021-04-07 09:29] lyz-code commented on #196
Yes it did! thanks for the quick fix :)

[2021-04-07 16:04] smarie opened #198 "ValueError when running a test module outside of pytest"
I have a main function in a test file with at least one `@parametrize_with_cases`. Loading the module raises a `ValueError`

`ValueError: Internal error - config has not been correctly loaded. Please report`

[2021-04-07 16:11] #198 closed

[2021-04-09 12:27] smarie opened #199 "Make `LazyValue`, `LazyTuple`, etc. hashable"
From https://github.com/smarie/python-pytest-steps/issues/41

Of course it is not really mandatory, but just in case another plugin falls into the same trap we might wish to have all our parameter types hashable.

[2021-04-12 10:00] #199 closed

[2021-04-15 17:15] kloczek opened #200 "3.4.6: cannot import name 'cases_data' from 'pytest_cases'"
I've just packaged pytest-cases into rpm package using setuptools and after install that new package I found problem on using it on decopatch  module packaging (https://github.com/smarie/python-decopatch/).
Part of my packagin procedure is execution of the decopatch  test suite over pytest duting that test suite fails.
As I can interpret output Looks like it is some issue with python-pytest-cases.

[2021-04-16 07:27] last-partizan opened #201 "How to unpack fixtures from parametrize_with_cases?"
I want to use pytest-cases with [pytest-drf](https://github.com/theY4Kman/pytest-drf), which makes testing DRF looks like this:

[code]

but, actual check `test_it_returns_200` is inside Returns200 class, and i have no way to parametrize it with parametrize_with_cases.

Well, i can do this:
[code]

but this is too much boilerplate. Any ideas how to simplify this?

Ideal variant would be something

[2021-04-29 14:48] marvinpfoertner opened #202 "Bug: Parametrizing fixture with cases breaks function scope"
The following test code should pass according to the documentation, but it doesn't.
When checking the IDs of `obj1` and `obj2`, one finds that the object are not created anew for each test function.

[code]

Workaround
-----
The following tests pass.

[code]

[2021-04-29 14:55] marvinpfoertner commented on #202
FYI @NinaEffenberger

[2021-04-29 14:56] marvinpfoertner commented on #202
FYI @JonathanWenger, @pnkraemer, @nathanaelbosch

[2021-04-29 18:41] smarie commented on #200
THanks @kloczek for the feedback. So this seems to be an issue with decopath test suite that should either be updated, or put a version limit on pytest-cases as it relies on an old version

[2021-04-29 20:14] smarie commented on #200
May I ask why you need to execute the tests again, since decopatch has a released wheel on PyPi ? This is usually not necessary.

[2021-04-29 20:39] kloczek commented on #200
It is very siplme to explain that :)
I'm packaging python-pytest-cases for distribution on which I'm workinhg on.
Part of the packaging process is execute test suite or any other testing procedure whicj may confirm that just packaged files are OK. Even no one may expect anythithing wrong it is quite possible that because during testing procedure are used components installed in build env it will b

[2021-04-29 20:42] kloczek commented on #200
Going back to the subject .. so in your opinion it is python-pytest-cases issue or decopath? :)

[2021-04-30 09:53] smarie commented on #94
Superseded by #170

[2021-04-30 09:53] #94 closed

[2021-04-30 10:01] smarie commented on #188
@shaunc I'm doing a bit of backlog cleaning: closing this ticket in favor of #194 for backlog readability. Once #194 is fixed we may come back to this, if it does not fix your issue.

[2021-04-30 10:01] #188 closed

[2021-04-30 10:02] smarie commented on #190
@shaunc I'm cleaning a bit the backlog here: were you able to find a reproducible example of this issue ? Thanks in advance for either posting it here or closing if the issue is not relevant anymore :)

[2021-05-04 10:10] fabaff opened #203 "Remove circular dependency"
`pytest-cases` depends on `decopatch` and `makefun`. [`decopatch`](https://github.com/smarie/python-decopatch/blob/master/setup.py#L19) depends on `pytest-cases`. This is problematic for distributions as constellationa like that require additional work or don't allow to run the test suite.

Thanks

[2021-05-04 10:30] fabaff opened #204 "'pytest_plugins' in a non-top-level conftest is no longer supported"
Test can no longer be run, e .g., during the package build process for distributions:

[code]

[2021-05-04 14:33] smarie commented on #203
Thanks @fabaff for your feedback.

`makefun` does not require any of the other two at runtime (see [installation requirements here](https://github.com/smarie/python-makefun/blob/main/setup.cfg#L30))

`decopatch` solely requires `makefun` at runtime (see [installation requirements here](https://github.com/smarie/python-decopatch/blob/master/setup.py#L16))

And finally `pytest-cases` requires both.

[2021-05-04 14:36] smarie commented on #200
Oh this is a decopatch issue for sure, I'm opening it there.

Thanks for pointing out, indeed the tests in decopatch require an older version of pytest-cases. https://github.com/smarie/python-decopatch/issues/20

I'm closing this ticket in favour of the one in decopatch

[2021-05-04 14:36] #200 closed

[2021-05-04 14:45] smarie commented on #204
Thanks @fabaff  for reporting this.

I'll have a look.

[2021-05-04 14:46] smarie commented on #201
Thanks for reporting @last-partizan  and sorry for the delay in answering ! I'll investigate

[2021-05-04 14:47] smarie commented on #202
Thanks for reporting @marvinpfoertner  and sorry for the delay in answering ! I'll investigate. Thanks for posting the workaround in the meantime :)

[2021-05-05 11:37] fabaff commented on #203
Not for runtime but for the tests as mentioned in the first comment (I updated the title to reflect that). `pytest-cases` is a [test requirement](https://github.com/smarie/python-makefun/blob/main/setup.cfg#L40) for `makefun`.

It's works for PyPI and other distribution channels as they don't require to run the tests. For most operating system distributions is preferred to run the test suite when

[2021-05-05 17:10] smarie commented on #203
See https://github.com/smarie/python-decopatch/issues/20#issuecomment-832856125 that might be related. It is basically a matter of what you choose to package in RPMs: applications (including all the libraries they require) or individual libraries. If you choose to package individual python libraries, then the best quality you can aim for is the one of PyPi and conda, the reference repositories.

T

[2021-05-07 09:39] #202 closed

[2021-05-07 09:43] smarie commented on #202
I finally found the time to look at this this morning - I was finalizing the new feature `current_cases` for version 3.5.0, sorry !

This was a cache issue: the cache for `lazy_value`s used as tuples was not taking into account the pytest request context, resulting in the leakage you could see.

I remind that this cache is unfortunately mandatory for compliance with other plugins: if another plugi

[2021-05-07 09:49] smarie commented on #204
@fabaff it seems that this issue can not be reproduced by the CI: https://github.com/smarie/python-pytest-cases/runs/2526121779?check_suite_focus=true#step:8:88

Maybe this is just due to the command you're running ?

`pytest pytest_cases/tests/` should work.

By the way this default test path is written in `setup.cfg` so running pytest in the root folder should do the job too.

Let me know if thi

[2021-05-07 10:03] smarie commented on #195
@eavanvalkenburg I found a way for you to solve this issue: with the new fixture `current_cases` you can access the exact case function currently in use for each parameter. You can therefore do

[code]

Note that cases used to parametrize a fixture appear in this dictionary too, but one level deeper (under the fixture name).

Let me know if this solves your problem, and I'll close the issue then.

[2021-05-07 10:15] smarie commented on #201
Indeed applying `@parametrize_with_cases` to a whole class is not supported as of today. Indeed the way `@parametrize_with_cases` works is that it wraps the decorated function with a modified-signature function. Until this changes (see major refactoring changelist #170  that may not be soon), then you'll have to find workaround, maybe with helper functions.

The workaround that you provide seems v

[2021-05-08 07:24] last-partizan commented on #201
@smarie thanks for investigation :)

Unpacking directly into `url,data` does not work, becouse `pytest_drf` declares it's own url and data fixtures in APIViewTest, and they are not overriden by unpacking.

I copied http resonse test just for clarity here.

[2021-05-12 08:55] smarie commented on #190
Thanks a lot @shaunc for the response !

[2021-05-12 09:07] smarie commented on #201
I confirm: unpack into creates the corresponding fixtures in the module.

I had a quick look whether I could fix it by using `.common_others.get_class_that_defined_method(fixture_func)` to determine the class and create the unpacked fixtures there, but it seems that I cannot do it at the time where I create the main fixture to unpack, since this happens when the `@fixture` decorator is called and

[2021-05-12 11:23] last-partizan commented on #201
Probably, such deep dive into pytest is not the right way to fix this, and i don't know pytest internals to do this.

Maybe this could be solved some other way, like this.

[code]

I'll take a look at it later.

[2021-05-12 11:56] smarie commented on #201
Oh yes of course, this should do the trick !

But note that for the same reason, this would not be "clean": a and b would be defined in the class (because you assign the output to variables that are in the class), and also in the module (because `unpack_fixture` performs the same dirty hack than its equivalent in the `@fixture` decorator: it finds the parent module and adds the unpacked fixtures t

[2021-05-12 21:56] jclerman opened #205 "fixture_ref usage causes "This fixture_ref has not yet been initialized""
Thank you for this library - I found it while seeking ways to parameterize test-cases over values returned from a database, and it looks like exactly what I need.  However, I'm stumped while trying to use it.

Basically: Whenever I try to use `fixture_ref()` in a list comprehension, I get the error message:
[code]

Sample code demonstrating the error:

[code]

Results in (I've replaced sensitive/p

[2021-05-16 09:57] davidstrouk opened #206 "fixture_ref not working with cached property/dataclass objects"
Hello,

I would like to use the enhanced `parametrize` function to call fixtures within the parameters.

I have a dataclass object with some cached property:
[code]

In tests file I have a fixture returning this object:
[code]

When using it in some parametrized tests, for example:
[code]

I'm getting the error
[code]

Any idea on what could cause this issue? My guess is that when creating the `fi

[2021-05-17 08:34] smarie commented on #206
Thanks for reporting this @davidstrouk ! I can not reproduce your issue :(
(apart from the fact that in this extract you forgot to wrap the fixture ref into a list)

Can you try to provide a minimal reproducible example ? Thanks in advance !
Oh by the way note that `fixture_ref` is now optional, using the fixture symbol works:

[code]

This runs fine on my end

[2021-05-17 08:38] smarie commented on #205
Thanks @jclerman ! It seems that you fell into the now well known pytest trap :)

Basically it is not possible with pytest to use a fixture to create a list of parameter values. This is by design. See this post that explains it in details : https://stackoverflow.com/a/56865893/7262247

Now nothing prevents you to connect to the db and retrieve that list during the module collection phase: simply d

[2021-05-17 14:43] tirkarthi opened #207 "Importing ABC directly from collections causes ImportError in Python 3.10"
https://github.com/smarie/python-pytest-cases/blob/6c31064dd605600e284117428641ecba1929f3d2/pytest_cases/fixture_parametrize_plus.py#L5

[code]

[2021-05-17 16:31] #207 closed

[2021-05-18 10:58] davidstrouk commented on #206
Hello and thanks for your quick answer.
I guess this is the minimal reproducible example:
[code]

[2021-05-18 13:02] smarie commented on #206
Indeed, you use `.index` on the `fixture_ref` so it does not work. If you wish to get the `.index`, then you should get it either in the fixture or in the test code. For example :

[code]

I'll close this now. Feel free to reopen if there is a different problem !

[2021-05-18 13:02] #206 closed

[2021-05-18 13:08] smarie commented on #204
@fabaff I'll close this now as it does not seem reproducible. Feel free to reopen if you do not agree!

[2021-05-18 13:08] #204 closed

[2021-05-18 13:09] smarie commented on #195
@eavanvalkenburg I'll close this now, but feel free to reopen if this did not solve your issue !

[2021-05-18 13:09] #195 closed

[2021-05-18 13:16] smarie opened #209 "Unfriendly error message when `fixture_ref` is not used correctly"
Discovered while investigating #206 and #205

[code]

and more generally, iterating from a `fixture_ref`

raise a non-friendly error message mentioning `This fixture_ref has not yet been initialized`. We can improve this.

[2021-05-18 13:23] davidstrouk commented on #206
When is the `fixture_ref` transforming the fixture variable into the real
object?

In my usecase I can't use the attribute in the fixture because I would like
to call a function that gets the object A and gets its index among other
things.

On Tue, May 18, 2021, 16:03 Sylvain Marié ***@***.***> wrote:

[2021-05-18 13:26] #209 closed

[2021-05-18 13:34] smarie commented on #206
`@parametrize` is the one doing the job of injecting the right thing in the parameter. In presence of a `fixture_ref` (or a fixture symbol, directly), it will create a dependency between your test and that fixture, but just when the fixture ref is actually used (just for the test nodes with this parameter value). The fixture will be setup/teardown by pytest as usual, and injected into your functio

[2021-05-19 06:05] wonboyn opened #210 "ModuleNotFoundError when trying to reference class in @parametrize_with_cases"
Hi there,

I have a test function file "test_constants.py" and a test cases file "test_constants_cases.py" in the same directory.

In the test cases file I have defined a class called SmartBooleanTestCases with a bunch of functions such as:
`
    @case(id="Lower case true")
    def case_true_lower_case(self):
        return "true", None, True

    @case(id="Camel case true")
    def case_true_came

[2021-05-19 08:04] smarie commented on #210
Thanks @wonboyn ! Simply import the class:

[code]

[2021-05-20 01:38] wonboyn commented on #210
Thanks for that.

[2021-05-20 01:38] #210 closed

[2021-05-20 06:42] wonboyn opened #211 "Question: How to conditionally skip a generated test case"
Hi there,

I have a test case function that's using the @parametrize decorator:
`
@parametrize(name=(HelperUtil.get_all_widgets()))

def case_widget(self, name):
   return name
`

Then on the test function I have @parametrize_with_cases:
`
@parametrize_with_cases('val', cases=MyClassName)

def test_function(val):
`

This is working perfectly & processing the dozen odd values that get returned from

[2021-05-21 09:19] smarie commented on #210
You're welcome!

[2021-05-21 10:06] smarie opened #212 "Bug in `current_cases` fixture: missing case function or case function not the original one"
Found while working on #211 👍

[code]

Raises a `KeyError` for the first case (bar)

[2021-05-21 10:14] smarie commented on #212
Another issue:

[code]

raises an `AssertionError` because `case_func` is a partial and not the original class function.

[2021-05-21 12:56] #212 closed

[2021-05-21 13:29] smarie opened #213 "Minor issue in `current_cases` fixture: empty entry when a parametrized case is not parametrized with cases"
Consider this code:

[code]

It prints

[code]

So there is an empty entry for the parameter of fixture `foo`, that is just not useful.

[2021-05-21 13:59] smarie commented on #213
Same happens with

[code]

The second node prints `{'a_fix': {}}`

[2021-05-21 14:03] #213 closed

[2021-05-21 14:55] smarie commented on #211
Thanks for this question @wonboyn

We'll need a complete reproducible example to discuss. Let's use this one:

[code]

This generates 4 test nodes:

[code]

The first 3 test nodes use the case `widget` while the last one uses case `foo`.

Your question is about selecting **both** `foo` and some parametrized versions of `widget`, for example `not widget "bob"`.

### Filtering cases: KO

Unfortunate

[2021-05-21 15:24] smarie commented on #201
@last-partizan did it do the trick eventually ?

[2021-05-21 15:25] smarie commented on #169
One aspect that needs not to be forgotten is how easy the parameter of a case function can be accessed afterwards. With the current situation (parametrized cases = fixtures) it is relatively easy, see https://github.com/smarie/python-pytest-cases/issues/211#issuecomment-846010431

[2021-05-22 17:53] last-partizan commented on #201
@smarie no, it didn't.

[code]

Results in
[code]

[2021-05-25 08:28] wonboyn commented on #211
Thanks for getting back to me.

In the short term I've gone with the option of evaluating each case in the test function & skipping if not appropriate.
It works but is a little cludgy.

I guess the better longer term option is a custom function to filter the results currently being parametrized.

[2021-05-25 08:28] #211 closed

[2021-05-27 08:51] smarie commented on #211
Thanks @wonboyn for the feedback!

[2021-05-27 08:53] smarie opened #214 "Modify the `current_cases` fixture in order to add parameter values if any"
From #211

Modify `current_cases` so that each entry is a tuple containing 3 things instead of 2: `(case_id, case_func, case_params)`

`case_params` would contain a dict of param name, param value

[2021-05-27 09:34] smarie commented on #201
Ok thanks @last-partizan , the issue is the same as for the other : when `unpack_fixture` is called it does not know that it is called inside a class. So it creates fixtures that do not have the `self` first positional argument. Therefore the `case` argument is not detected by pytest as a ficture dependency: it receives `self` (an instance of `TestAPIView`), hence the error message.

I will add an

[2021-05-31 15:31] #214 closed

[2021-05-31 19:18] smarie commented on #205
Hi @jclerman , quick check : did the above answer make the trick for you ?

[2021-05-31 19:33] smarie commented on #211
Hi @wonboyn , just for information: #214 has now been fixed in 3.6.0 so you can now solve your problem easily with the `current_cases` fixture alone:

[code]

Let me know if this works ok for you

[2021-06-01 07:18] smarie commented on #194
A first difficulty, even without adressing `fixture_ref`s and cases, is to include parameter names in this `indirect` mechanism. Indeed, in pytest fixtures do not support several parameters so using `indirect` just requires the user to pass the fixture name.

With pytest-case since `@fixture` is compliant with multiple parametrize (multiple args), then indirect will require users to tell which arg

[2021-06-01 07:20] smarie commented on #188
Hi @shaunc even if the `indirect` feature (#194) is not there yet, I think that you can solve your initial problem with the `current_cases` fixture now : https://smarie.github.io/python-pytest-cases/#c-accessing-the-current-case

With this you can skip tests conditionally based on the case id, case function/tags/marks, case parameters... See doc for details and examples

[2021-06-01 07:22] smarie commented on #201
Hi @last-partizan , there is a new `in_cls` argument in https://smarie.github.io/python-pytest-cases/api_reference/#unpack_fixture .

Can you please check that it fixes your issue ? (version is 3.6.0)

[2021-06-01 07:28] last-partizan commented on #201
Yes, it works as expected. Thank you!

[2021-06-01 07:28] #201 closed

[2021-06-01 08:23] smarie commented on #201
Cool ! Thanks for the quick feedback @last-partizan

[2021-06-01 08:26] smarie commented on #203
Hi @fabaff coming back to you about this issue: how does it sound to run the tests of each package in a venv/virtualenv ? Would it solve your issue for packaging ? Let me know.

Note that for most of my projects I try to migrate to using github actions and nox, so it is relatively easy to run the tests: simply running nox does the trick.

[2021-06-01 08:30] smarie commented on #153
@phistep do you remember what was your need about this ? (from #147) . Do you still think that the 4 filters mechanisms ([described here](https://smarie.github.io/python-pytest-cases/#filters-and-tags)) are not satisfying for daily use ?

Let me know, and feel free to propose something if needed !

[2021-06-02 17:59] jclerman commented on #205
Hi @smarie, thanks for checking, and for your quick response!  Your explanation is clear; that does resolve the issue for me.

[2021-06-02 19:34] smarie commented on #205
Thanks!

[2021-06-02 19:34] #205 closed

[2021-06-03 15:13] smarie opened #215 "ValueError: parameter 'xxxx' not found in test function signature 'TestClass()"
Using `@parametrize` on a class does not work as usual `pytest`:

[code]

raises a ValueError

[2021-06-03 15:15] smarie commented on #215
Note that on python 2 this raises `ValueError: callable <class TestFoo at 0x0000000005725708> is not supported by signature`

[2021-06-03 15:29] #215 closed

[2021-06-05 09:02] smarie opened #216 "Improve the `current_cases` fixture: when a case depends on a parametrized fixture, add the fixture parameters"
In the `current_cases` fixture, the entries for cases currently contain the id, case function, and a dict of parameters.

I am not sure that this dict of parameters would contain fixture parameters if the case requires a fixture.

We should at least add a unit test, and make sure they work :)

[2021-06-05 09:02] smarie opened #217 "Improve the `current_cases` fixture: add the full case id"
With [the `current_cases` fixture](https://smarie.github.io/python-pytest-cases/#c-accessing-the-current-case) one can access all information about the case currently being used for a given parameter.

However if the case is itself parametrized, the id available in `current_cases[argname].id` only corresponds to the "base" of the case, and is therefore not unique. This is a problem if we wish to u

[2021-06-05 09:06] smarie opened #218 "Make it easier to access information about a case: add a `info=` parameter to `@parametrize_with_cases`"
The [`current_cases` fixture](https://smarie.github.io/python-pytest-cases/#c-accessing-the-current-case) makes it relatively easy to access information about the case currently active for a parameter.

However it requires a line of code, that bloats the test or fixture function body.

We could propose a mechanism to directly inject this in the function arguments:

[code]

[2021-06-05 09:09] smarie opened #219 "Either make sure that pytest-pattern is up to date, or bring it back here"
See https://github.com/smarie/pytest-patterns/

[2021-06-08 22:45] kloczek opened #220 "`pytest` run fails if `test/` folder is moved outside of the `pytest_cases/` folder (packaging scenario)"
After install  in install prefix I'm trying to test installed resources using pytest.
Maybe I'm doing something wrong but this is what I've got:
[code]
And indeed there is no /home/tkloczko/rpmbuild/BUILDROOT/python-pytest-cases-3.6.1-2.fc35.x86_64/usr/lib/python3.8/site-packages/pytest_cases/tests directory in installed resourrces.

[2021-06-09 08:51] smarie commented on #220
Hi @kloczek , thanks for reporting this issue !

I have trouble understanding what this ticket is about. Are you trying to build pytest-cases from sources ? Are you trying to use it after installing it with pip ? Please provide a reproducible set of steps that some independent reader (me or even someone else having the same issue) could follow to reach the problem. That way it will be much easier

[2021-06-09 09:33] kloczek commented on #220
I'm building python-pytest-cases as rpm package.
Part of the typical rpm packahge build process is try to execute included test suite.

Here it is kind of example:
[code]

[2021-06-09 11:16] smarie commented on #220
Ok so you seem to be in the same kind of attempt as in #203 .

In general the best way for you to get a reproducible script on a linux target is to check one of the last exectuted Github Actions workflow: https://github.com/smarie/python-pytest-cases/actions/runs/903366727

As you'll see, the build system is based on `nox` in order to execute all tests in independent virtual python environments (b

[2021-06-09 11:50] kloczek commented on #220
Please .. may I ask point on exact list of commands?
Github actions graphical representation really is not best to read and try to understand :/

Nevertheless what you just wrote suggest that nox is not testing installed resources but yet another copy in venv.
It that is true it is kind high probability that tests may be OK and installed resources still not.
Am I right?

[2021-06-09 12:16] kloczek commented on #220
In case of python modules more than 90% uses setuptools.
Just checked my ~450 python modules spec files
[code]
None of those packages (so far) uses nox.
I've checked Fedora python-*.spec
[code]
and even in that module nox is not used because "nox" word is used in the comment line
[code]
In Fedora `nox` is not even packages.
I've checked Fedora python-pytest-cases and looks like that package is wit

[2021-06-09 13:52] smarie commented on #220
`nox` is just a wrapper to create the venv and then execute actions. This module uses setuptools and pytest as for most modules.

[here](https://github.com/smarie/python-pytest-cases/runs/2738531807?check_suite_focus=true#step:8:89) you see how tests are executed:

[code]

[2021-06-14 13:12] smarie commented on #220
Hi @kloczek did the above answer solve the issue for you ?

[2021-06-14 23:01] kloczek commented on #220
Issue is that on typical cycle of building python module from non-root account to form rpm packahe which consist from:
- "setup.py build":
- "setupy install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to setearch and sitelib inside </install/prefix>

there is no in `</install/prefix>`  pytest_cases.tests module
[code]
and pytest executed as `pytest` script cannot find that. It wor

[2021-06-15 09:11] smarie commented on #220
I am sorry but I really do not understand :(

You do not have the possibility to write `pytest <pytest_cases_src>/pytest_cases/tests`  in your script ? That would work!
Can you share the URL to your repo, so that I can fix it for you ? It is very easy.

Your last point about the difference between `python -m pytest` and `pytest` is not really related, many other people in the python planet have va

[2021-06-15 09:56] kloczek commented on #220
OK will try to rephrase that.
If you will run pytest as the script (which usually is in /usr/bin) it dose not uses current directory to load necessary modules. and after installing module by `.setu.py install --root </install/prefix>` there is no in that prefix `pytest_cases.tests` module and pytest fails.
In your CI you are running pytest over `python -n pytest` which adds to the python sys.path

[2021-06-15 13:23] smarie commented on #220
In my CI, if I run `pytest` it works.

This is because as I am trying to explain, the `pytest` command accepts an *argument* to explicitly tell where is the folder that contains the tests. Please use this argument to tell where the tests folder is :)

[2021-06-15 16:22] kloczek commented on #220
But it doesn't:
[code]
Again .. in units under that directory is used:
[code]
Just try `python setup.py build` and than check `/build/lib/pytest_cases/` directory to you see after build `tests.py` or `tests/` directory.
And alredy you pointed me to your CI where is used nox which uses `python -n pytest` and it able to see `pytest_cases/tests` conntesnt because pytest executed that way adds upfront

[2021-06-15 19:19] smarie commented on #220
Ok so the problem is that the test files import symbols from `conftest.py` using a reference to the wrapping package... which does not actually exist.

I have not seen this need before so I do not have a clue about what to modify in this file to make this work. I'll poke around to try and see what I can do. I think that using relative imports is not feasible with 3 levels of nesting..

[2021-06-15 23:46] kloczek commented on #220
Thank you :)

[2021-06-16 07:49] smarie commented on #220
I confirm what I was stating previously: CI *does not* reproduce the issue (see for example [this log](https://github.com/smarie/python-pytest-cases/pull/221/checks?check_run_id=2836879282#step:8:91)), even if I use `pytest` instead of `python -m pytest`.

This is due to the fact that current working directory (`cwd`) is <pytest_cases_src_root> when I execute it, and therefore it is added to the p

[2021-06-16 10:52] kloczek commented on #220
Did you ever try to reporduce what I've reported?
Pelase look on top of this ticket were you have excat env variables and command which Ive been executing.
Just try below:
- "setup.py build":
- "setup.py install --root </install/prefix>"
- execute in source tree root "pytest with PYTHONPATH pointing to setearch and sitelib inside </install/prefix>

In that log there are some steps showing that pyt

[2021-06-16 11:31] smarie commented on #220
It is very easy to reproduce what you've reported.

However I provided a workaround to you. Can you try it or is your script un-modificable ?

[2021-06-16 11:47] smarie commented on #220
Oh, another important thing that can also be seen in the nox log: you should use `pip install . --root </install/prefix>` rather than the two lines `setup.py build` and `setup.py install`. Indeed this project follows the "modern" python packaging approach

[2021-06-16 11:57] smarie commented on #220
Following my own guidelines I am trying to re-read your message and I see "execute in source tree root". Is it really the root where you're located at ? Does this folder contain the `pytest_cases/tests` folder ? Does it work correctly if you do *not* setup/pip install the package beforehand ? It should, as this is identical to the CI setup.

Does the following work in the folder where you execute

[2021-06-16 13:20] kloczek commented on #220
[code]

Just in case .. during build, install and test package with python-pytest-cases moduleall is executed from source tree root directory.
[code]
And the same with PYTHONPATH set to <i/nstall/prefix>
[code]

Ansd additiopnally strace output when is used pytest script:
[code]
So clearly in this case it tries to access to files provided in PYTHONPATH which points to paths with /BUILDROOT/

And t

[2021-06-16 14:41] smarie commented on #220
Ok so what you are saying is that using `python3 -m pytest` works, but this is not how it should work because current directory is added to the path and therefore the package installed in `$PYTHONPATH` is not even used.

This is fine in my opinion, as long as you trust that my packaging procedure works well already (and since this lib is actually used actively, you can trust it).

So I guess that

[2021-06-16 14:44] smarie opened #222 "Make the CI workflow execute the tests based on installed package, not source"
As pointed out in https://github.com/smarie/python-pytest-cases/issues/220

The nox and CI build currently run the tests against the source, not the installed package. This is not nice, as it could miss some packaging issues.

In order to make this move, we would need the `tests/` folder to be outside of the `pytest_cases` folder, otherwise an import issue happens as noted by @kloczek in #220. Thi

[2021-06-16 16:27] kloczek commented on #222
So looks like it would be good to contact nox maintainer ..🤔 (?)

PS. FYI I'm trying to use everywhere pytest instead tox and other because I'm building my packages in dedicated system created only to build exact package in which are installed only build dependencies listed in rpm spec file co wrapping for example test suite and install for example nox or tox does not make to much sense.

[2021-06-16 16:30] kloczek commented on #220
Exactly that is what I'm trying to tell 😀
Good that now we are on the same page ..

[2021-06-29 08:48] smarie opened #223 "Use flake8 and genbadge to report qualimetry"

[2021-06-29 08:49] smarie opened #224 "Drop `unfold_expected_err` and `assert_exception` (symbols from the old v1 API)"

[2021-06-29 08:52] smarie commented on #224
Afterthough: these seem to be usefool pytest goodies, but are not documented. They should be

[2021-07-05 14:10] JonathanWenger opened #225 "Unresolved `_LazyValueCaseParamValue` in parametrized case"
# In a Nutshell
When parametrizing a case with another case that depends on a fixture, sometimes parameters are not resolved and remain `_LazyValueCaseParamValue` objects. This goes against the philosophy of case parametrization.

# Detailed
When trying to build up more complex test cases from simpler ones, it can happen that parameters of cases are not resolved. This behaviour is similar to the o