[2021-07-05 14:13] JonathanWenger commented on #225
@marvinpfoertner FYI: This is not resolved when replacing the parametrized case with a fixture in `conftest.py`.

[2021-07-08 14:12] smarie commented on #225
Thanks so much @JonathanWenger for finding this extremely nasty one !

This happens when the "auto-simplify fixture" happens in `@parametrize`: a fixture with a single parameter was automatically simplified into a fixture without parameter, but unfortunately if the parameter was lazy, this was not taken into account.

This will be fixed in 3.6.3 in a minute, let me know if this solves the issue fo

[2021-07-08 14:13] #225 closed

[2021-07-09 07:30] JonathanWenger commented on #225
Thank you so much for the fast response! That'll be very useful for our testing framework.

[2021-07-09 08:44] smarie commented on #225
Great !

Well honestly, you've done most of the job here : I wish all users could provide such a neat reproducible example !

[2021-08-22 08:15] jaemolihm opened #227 "Lazy evaluation of fixtures"
Hi, I am new to this package, so I apologize if I am asking something trivial.

I want to parametrize a fixture by fixtures. But I find that the fixtures (`one` and `two`) are both run before each test (both "evaluating one" and "evaluating two" are printed at each test). I want only the fixture that is chosen to be run. Is it possible to achieve what I want?

[code]

[code]

[2021-08-23 10:00] smarie commented on #227
Thanks @jaemolihm for the feedback !

The trick is to use the `@fixture` decorator from pytest-cases, not from pytest.

Indeed pytest does not know about fixture "unions", it always assumes that all fixtures required by a test function should be activated. pytest-cases `@fixture` adds a small wrapper around your fixture so that it is not executed when it is not needed.

[code]

yields

[code]

Let

[2021-08-23 10:17] jaemolihm commented on #227
Thanks a lot for the explanation! It works nicely :)

[2021-08-23 13:49] smarie commented on #227
great, thanks for the feedback !

[2021-08-23 13:49] #227 closed

[2021-08-26 12:59] Jasha10 opened #228 "Feature Request: Ability to define fixtures in case file"
Currently it seems that fixtures must be defined in `test_foo.py`, and defining a fixture in `test_foo_cases.py` does not work. It would be nice if fixtures defined in `test_foo_cases.py` could be used within the same file.

## Motivation
If the test cases defined in `test_foo_cases.py` will use a fixture, being able to those fixtures in the same file would be good for organization (data locality)

[2021-08-28 04:32] Jasha10 commented on #228
I had not tried this. It works! Thanks for the tip :)

[2021-08-28 20:19] Jasha10 commented on #228
For those who use the `from ... import *` trick, make sure your fixture names do not start with an underscore!

According to the python [docs](https://docs.python.org/3/tutorial/modules.html#more-on-modules), `from pytest_cases import *` "imports all names except those beginning with an underscore (_)."

[2021-08-30 09:23] smarie commented on #228
Indeed, thanks for the trick @Jasha10  !

[2021-09-01 10:22] smarie opened #229 "Support generator cases"
Currently if we wish to perform some setup/teardown activity on a particular case, we have to create a distinct fixture to do so and reference it in the case.

Generator case functions could directly be supported out of the box instead.

[2021-09-14 07:08] wonboyn opened #230 "SyntaxError when a case id is a reserved keyword and the case is transformed into a fixture behind the scenes"
Hi there,

I've just started getting an error during pytest discovery/collection.
The error is for one specific test function but I'm struggling to understand what the issue is.

When I run discovery, it reports the following error:
`
/usr/local/lib/python3.6/dist-packages/_pytest/python.py:578: in _importtestmodule
    mod = import_path(self.fspath, mode=importmode)
/usr/local/lib/python3.6/dist-

[2021-09-14 22:50] wonboyn commented on #230
Hi there,

I found the issue. I had a couple of test cases where I had used a reserved word as the case id - specifically I had used the following as case id's: None, False, True

It would be nice to be able to use any string as a case id & not have to worry about this sort of issue.

Thanks

Tim

[2021-09-17 07:46] smarie commented on #230
Thanks @wonboyn  !! Indeed I was able to reproduce the bug. It arises when a case function is transformed into a fixture, and that fixture gets a name that can not actually be used as an argument name (False, True, None, ... as you pointed out).

Here is a reproducible example

[code]

[2021-09-17 08:41] smarie opened #231 "Scope of parametrized cases or cases requiring fixtures"
Currently when a case function is parametrized or requires a fixture, it is transformed into a fixture.

The scope of this fixture is "function".

This may lead to a `ScopeMismatch` error if the case is used to parametrize a broader-scoped fixture.
For example:

[code]

Both tests lead to a `ScopeMismatch` error at setup phase.

[2021-09-17 08:41] smarie commented on #231
Nevermind, I forgot that we actually have a `scope` parameter in `@parametrize_with_cases`, that is meant for this :)

This works:

[code]

[2021-09-17 08:41] #231 closed

[2021-09-17 10:18] #230 closed

[2021-09-17 11:29] smarie commented on #230
Fixed in 3.6.4 to be released soon

[2021-09-17 13:40] smarie commented on #222
Hi @kloczek

I tried to fix this by moving to the reference structure described [here](https://docs.pytest.org/en/6.2.x/goodpractices.html#tests-outside-application-code).

The PR is here #232, would you mind letting me know if this fixes your issue ?

[2021-09-17 13:47] smarie commented on #230
3.6.4 is available. Can you try and let me know ? Thanks !

[2021-10-06 01:34] wonboyn commented on #230
Thanks for that. Works a treat

[2021-10-06 07:09] smarie commented on #230
Thanks for the feedback @wonboyn !

[2021-10-14 12:01] andioz opened #233 ""--import-mode=importlib" not working?"
Hi,

I want to make my first steps with pytest-cases, but I'm stumbling immediately. I added a simple test using `@parametrize_with_cases`, but this fails with `ModuleNotFoundError`:

[code]

The example project was extracted from my real project, including the `pytest.ini` file. After some time I recognized, the `addopts = --import-mode=importlib` line in the config causes the problem.

Well, OK,

[2021-10-14 19:08] andioz commented on #233
I'm not sure, but it looks like the `pytest-flake8` plugin has no problem with this option, but `pytest-pylint` has trouble to find the modules too. Maybe worth to have a look.

[2021-10-15 12:07] andioz commented on #233
Thank you for spending time on this! Like you, I run flake8/pylint without pytest plugins manually at the moment. Otherwise, I use the coverage plugin on a regular basis, especially with CI runner, this is a nice single command to get all information at once.

[2021-11-05 13:14] lilo-d opened #234 "Problem parsing testfile when tests are decorated with pytest.mark.parametrize() using keyword args"
When introducing pytest_cases into our codebase, existing tests start to fail when using named args in the pytest.mark.parametrize() decorator:

Simple example:

[code]

Trying to run pytest with pytest_cases installed, results in:

[code]

[2021-11-07 21:35] DavidDahan1 opened #235 "Help needed - using @fixture to parametrize a test"
Hey fellow maintainers, I'll be glad to have your guidance..

I'm trying to use pytest cases to parameterize a test with a list of tuples(str, iterable) that is yielded from a (pytest-cases)@fixture, but something isn't working for me.

It goes like the following:

[code]

To clarify, the yielded value looks something like:
[('event_name': {'uuid1','uuid2'}), ('another_event_name': {'uuid3', 'uuid

[2021-11-08 13:31] smarie commented on #235
Hi @DavidDahan1, thanks for this issue ! I updated it because it was not readable "as is" ..
I'll have a look

[2021-11-08 13:38] smarie commented on #235
It seems that you want a fixture to return a list of parameters. This is not possible with `pytest`, by design. See this post that explains it in details : https://stackoverflow.com/a/56865893/7262247

See also this answer: https://github.com/smarie/python-pytest-cases/issues/205#issuecomment-842136833

Note that pytest-cases is not repsonsible for this limitation, it is the way fixtures and param

[2021-11-08 13:42] smarie commented on #234
Hi @lilo-d , thanks for posting this issue ! I'll have a look

[2021-11-08 13:46] smarie commented on #234
I confirm the issue, thanks ! I'll fix it now

[2021-11-08 14:03] smarie commented on #234
I found the issue and fixed it in PR #236.
I'll tag and release as soon as CI confirms there is no side-effect.

[2021-11-08 14:22] smarie commented on #234
3.6.5 should be available in a few minutes. Let me know if this solves the issue on your side ! Thanks again @lilo-d for spotting this.

[2021-11-09 00:45] kloczek commented on #220
Just tested 3.6.5 and pytest still is failing
[code]

[2021-11-09 09:03] smarie commented on #220
Quite normal: the PR has not been merged yet :)
#232
I'll try to merge it now so that you can tell me if it works.

Note that I already did the change in `makefun`, if you wish to try: https://smarie.github.io/python-makefun/changelog/

[2021-11-09 09:10] #222 closed

[2021-11-09 09:12] smarie commented on #220
Merging is now done. Can you please let me know if the issue is solved on `main` branch ? Do you need the new version to be released to perform the test ?

Let me know.

[2021-11-24 04:59] wonboyn opened #237 "Assistance with @parametrize"
Hi there,

I am trying to generate a bunch of cases from a function using the following:

[code]

I have this working without issue when get_tasks() returns a list of strings.
However, in my scenario the get_tasks() returns a list of objects.

What I'm trying to achieve is one case per object (from the list returned by get_tasks()) and to use the object.name property as the case id

Any guidance o

[2021-11-24 09:17] smarie commented on #237
Thanks @wonboyn !

You can provide a callable to `ids` or to `idgen` in order to create the test node id. The difference between the two is what happens when there is a tuple of parameters:

 - `ids` will be called for each parameter separately
 - `idgen` will be called with all parameters, as keyword arguments

So the following works:

[code]

[2021-11-24 09:19] smarie opened #238 "Setting `ids` in `@parametrize` leads to "ValueError: Only one of ids and idgen should be provided""
Using `ids` without setting `idgen` to None explicitly leads to this error.

[code]

A workaround is to set `idgen=None` too: `@parametrize(task=get_tasks(), ids=lambda task: task.name, idgen=None)`

See also #237

[2021-11-25 00:06] wonboyn commented on #237
Thanks @smarie. The example above using idgen did exactly what I wanted.

[2021-11-25 00:06] #237 closed

[2021-11-26 14:24] smarie commented on #237
Great ! Thanks for the feedback @wonboyn

[2021-12-11 08:27] jannsta1 opened #239 "Using pytest marks with parametrize_with_cases? (or how to configure which cases are run from the command line?)"
Hi! Thanks for developing this great pytest plugin.

I have been experimenting with using pytest-cases as a benchmarking aid. Now that I have built some test cases, I am interested in a method for running a subset of tests, ideally from the command line. This is for convenience during development, i.e. when I make a change to an algorithm I can run some quick tests to check a particular aspect of

[2021-12-11 13:21] smarie commented on #239
Thanks @jannsta1 for the feedback ! I developped pytest-cases originally for benchmarks creation actually :)

By the way once this ticket is solved, you might wish to look at [pytest-pilot](https://smarie.github.io/python-pytest-pilot/) to create markers that are easier to understand and use.

Now trying to better understand your issue, my first reaction (as I do not have the time to try today) wo

[2021-12-11 17:24] jannsta1 commented on #239
Thanks for the very quick reply and the `pytest-pilot` suggestion, that indeed looks like another interesting pytest plugin. Moving some of the marker logic from conftest and making it more explicit would indeed be welcome.

I have now tried your initial suggestions. Unfortunately neither seemed to do the trick.

- For the first suggestion, I tried decorating the class methods with `pytest.mark.XX

[2021-12-13 12:56] Ben621 opened #240 "parametrize fixture list"
Hey,
i would like to parametrize a fixture list
see on below the code:

according to the documentation, we can use `fixture_ref` or `param_fixture`.
but it's not very clear.

***i know it's possible without fixture (function, or make the return as a variable)***
but on the root cause, my fixture is a dynamic list

my goal is to test each element and not the entire list
[code]

[2021-12-15 09:16] smarie commented on #239
Hi @jannsta1 , the first suggestion works for me :

[code]

[2021-12-15 09:32] smarie commented on #239
Update: it also seems to work with fixtures:

[code]

Leads to the exact same result as above.

Maybe you were not using the latest version of pytest-cases?

[2021-12-15 13:35] smarie commented on #235
Closing this now - please feel free to reopen if the above answer does not correspond to your actual question

[2021-12-15 13:35] #235 closed

[2021-12-15 13:37] smarie commented on #240
Thanks for the feedback @Ben621  ! It seems that this is a duplicate of #235 . I pinned the issue so that it is more visible.

This is not possible with pytest, but there is a very easy workaround in #235

[2021-12-15 13:43] jannsta1 commented on #239
Hi @smarie. So having looked at your example code, the mistake I was making is that I assumed I would also have to *mark* the test function, i.e. the one decorated with `parametrize_with_cases`. Once I removed all marks from this function everything worked as per your example and exactly as desired so I will close the "issue".

Thank you for taking the time to look at this, it was very much apprec

[2021-12-15 13:43] #239 closed

[2021-12-16 09:25] smarie commented on #239
Great ! I personally use pytest-pilot to have some cases run for some python environments, and some others in other environments. Typically the cases representing the challenger algorithms.

Note that the example you refer to is a bit obsolete, I did not update it recently :( hopefully most of it will still be valid.

The "test_synthesis" function is really optional: you can instead write one part

[2021-12-18 23:03] jammer87 commented on #239
I found this issue investigating a problem I was having getting class marks propagated to cases in the class. If the case is marked as a static method, the marks from the class won't be applied, unlike marks applied to classes containing test cases. For example:

[code]
[code]
test_params[two] is missing, but would be included if the staticmethod decorator was removed. Thought I'd leave this hear

[2021-12-21 16:27] The-Compiler opened #241 "Refactored scope handling in pytest 7"
Thanks to https://github.com/pytest-dev/pytest/discussions/9415, we found out that `pytest-cases` breaks with pytest 7.0.0rc1:

[code]

this is due to this change: https://github.com/pytest-dev/pytest/pull/8913 - looks like scopes are now an enum in a new [scope.py](https://github.com/pytest-dev/pytest/blob/main/src/_pytest/scope.py).

[2021-12-23 18:16] twsl opened #242 "Issues with multiprocessing"
I am having issues with multiprocessing triggering this error message:
https://github.com/smarie/python-pytest-cases/blob/4976c0073a2fad5fbe5de34a5d1199efda0b7da9/src/pytest_cases/common_pytest.py#L647

Here is a minimal example to recreate the issue.
[code]

Is multiprocessing not supported?

[2021-12-26 14:08] twsl commented on #242
Added an example to recreate the issue. When running the test it just keep retrying.

[2021-12-30 08:55] Jasha10 opened #243 "Confusing error message with forgotten `self`"
In the following example, forgetting to pass a `self` argument to a pytest case defined in a class results in a confusing error message:
[code]
The resulting error could be more clear:
[code]
It's true that the error message does mention "incorrect arguments".
Maybe polished error messages are a lot to ask from an experimental proof-of-concept library such as this one, but I thought I'd submit thi

[2022-01-02 19:49] #243 closed

[2022-01-02 19:49] smarie commented on #243
Thanks for reporting ! I added some extra checks

[2022-01-03 08:46] smarie opened #246 "Class marks do not seem propagated to static case functions"
_Originally posted by @jammer87 in https://github.com/smarie/python-pytest-cases/issues/239#issuecomment-997297074_

I found this issue investigating a problem I was having getting class marks propagated to cases in the class. If the case is marked as a static method, the marks from the class won't be applied, unlike marks applied to classes containing test cases. For example:

[code]
[code]
test_

[2022-01-03 08:47] smarie commented on #239
Thanks ! This sounds like a bug so I created another issue for it

[2022-01-03 08:56] #241 closed

[2022-01-03 08:56] smarie commented on #241
Thanks @The-Compiler ! I have tried to fix it in a blind way (not being able to grab 7.0.0rc1 from pypi and being extremely lazy), based on the diff. Let me know if 3.6.7 does not fix the issue !

[2022-01-03 09:05] smarie commented on #242
Thanks @twsl ! Multiprocessing should definitely supported, if it is supported by pytest.

As a workaround I guess that you can put the multiprocessing code in a separate module (for example the conftest.py or another file in the tests folder). That should prevent `pytest-cases` to be loaded several times in parallel.

I'll have a look one of these days

[2022-01-04 04:24] kloczek commented on #220
Just tested 3.6.7.
Closing.

Thank you :)

[2022-01-04 04:24] #220 closed

[2022-01-04 04:27] kloczek opened #248 "3.6.7: pytest warnings"
Looks like latest pytest shows some warnings.
[code]

[2022-01-04 12:24] smarie commented on #220
Thanks so much for the feedback ! I appreciate @kloczek

[2022-01-04 12:34] kloczek commented on #220
BTW .. it that not similar case like with `pytest-harvest`?
https://github.com/smarie/python-pytest-harvest/issues/56

[2022-01-04 13:00] smarie commented on #220
It does, I'll have to follow the same recipe - now that I know it works :)

[2022-01-04 16:16] ThomasTNO commented on #233
Personally I think it would be nice to roll out the above 'hack' without supporting relative imports when using importlib import-mode. Maybe even raise an exception when one does try to use the unsupported combination, for now.

[2022-01-07 10:41] smarie commented on #242
I was able to reproduce the issue.
First, we can check that it works with pytest:

[code]

Running it yields to the two tests failing as expected, and it completes correctly.

While the following hangs as you point out:

[code]

[2022-01-07 11:16] smarie commented on #242
Apparently we can detect if a process is the main process using this:

[code]

We could therefore use this to only raise the `ValueError` if `not is_main_process`.
See https://stackoverflow.com/questions/30790660/python-multiprocessing-name-of-the-main-process

However if we spawn a single process like below, then `is_main_process` seems to return `True`

[code]

So this workaround is not satisfay

[2022-01-07 13:40] #238 closed

[2022-01-07 13:40] #242 closed

[2022-01-07 13:40] #246 closed

[2022-01-07 14:43] #248 closed

[2022-01-07 15:13] kloczek commented on #248
Tested. Looks clean now.
Thank you :)
[code]
I have some additional question (if may I ..)
In case some modules pytest calls after above outpu I vale sometimes some number of lines with some errors in (looks like) some temporary python scripts generated by pytest.
It looks like that:
[code]
It does not cause that pytest is finishing with non 0 exit code however it look a bit odd.
Do you know maybe

[2022-01-07 15:27] smarie commented on #248
Thanks @kloczek !

Not sure where this comes from. Sometimes the pytest `tmpdir` fixture of pytest or something similar, has issues deleting the temporary directory created. May this be the case in your situation ? Otherwise, the `pytester` plugin (the pytest plugin that is used to launch pytest inside pytest) may also be originating this kind of behaviour.

It is hard to investigate without reduc

[2022-01-07 15:29] smarie commented on #242
Should be fixed in 3.6.8. let me know !

[2022-01-07 15:31] kloczek commented on #248
Do you thingk that it may be worth to ask `pytest` maintainer?🤔

[2022-01-07 15:32] kloczek commented on #248
Just found that `pytest` has dicussion forum https://github.com/pytest-dev/pytest/discussions.
Will try to ask ..

[2022-01-24 12:23] lilo-d opened #249 "module 'pytest_cases' has no attribute 'CasesCollectionWarning'"
Hi,

started integrating pytest_cases in our unit testing suite (already did before in our integration testing suite), but I'm facing an issue at collection when running with xdist:

`pytest -c ../pytest.ini -n 1 --rootdir=.`

`
[Running Unit Tests]
=========================================================================================== test session starts ======================================

[2022-01-25 08:30] smarie commented on #249
It seems from the traceback that the issue comes from `xdist` in unserializing the warning message:

`xdist/workermanage.py` (`unserialize_warning_message`) seems to expect that the warning class is always a top-level attribute of the main package: `cls = getattr(mod, data["message_class_name"])`

I found a similar issue in pytest-xdist: https://github.com/pytest-dev/pytest-xdist/issues/404
I aske

[2022-01-25 21:10] Gutifarra opened #250 "Enable @parametrize for test classes even if it uses a fixture"
I'm currently using fixtures as a base to generate cases with, in order to perform a bunch of tests which are grouped into various classes. An simple example which illustrates something similar to what I'm doing:

[code]

If I attempt to parametrize the actual tests class, pytest-cases raises a NotImplementedError:

`E   NotImplementedError: @parametrize can not be used to decorate a Test class wh

[2022-01-26 08:55] smarie commented on #250
Thanks @Gutifarra for pushing pytest-cases to the limits !

`pytest` has foundamental limitations in its design that prevent most of the use cases in `pytest-cases` to be achievable without hacking the engine. One of these limitations is that the pytest parameter values of `pytest.mark.parametrize` are not allowed to reference fixtures. Indeed that creates a "fixture union", that is, pytest would

[2022-01-26 11:52] Gutifarra commented on #250
On the contrary, thanks for taking the time to make something which makes pytest feel so much more satisfying to use! I've never been particularly fond of the syntax used for some of their parametrizations and was particularly peeved by not being able to parametrize using fixtures, so pytest-cases was a great find, and is really allowing for a lot of flexibility and building natural test hierarchi

[2022-01-26 13:33] smarie commented on #250
Thanks for the feedback and kind words @Gutifarra ! I'll leave the ticket open so that we can process it later then.

[2022-02-04 13:13] pnkraemer opened #251 "Support for pytest 7.0.0?"
Hi,

Thanks a lot for coming up with a very useful package!

I was wondering: do you plan on on adding support for the newest pytest release? (7.0.0, https://github.com/pytest-dev/pytest/releases).   I know I am super early, pytest 7 is quite fresh and I understand that there hasnt been a chance to update pytest-cases.
Part of the reasoning behind this issue is that I stay up-to-date on potential

[2022-02-04 13:41] MarkoBox opened #252 "Cases parameter and cases module location"
Hi,
This is a very useful package, thank you for putting in the effort to maintain it :)

I'm struggling a bit with cases parameter and defining proper folder structure. What would be correct way to achieve this:

test function:
@parametrize_with_cases("rule", cases="tests.integration.test_foo_cases.py")
def test_is_rule(rule):
...

test case inside test_foo_cases.py:
def case_foo():
    return Tr

[2022-02-04 18:33] bhazelton commented on #251
We are seeing similar errors on our pyuvdata package (https://github.com/RadioAstronomySoftwareGroup/pyuvdata).

[2022-02-07 11:18] Jasha10 opened #254 "Bug: attr.exceptions.FrozenInstanceError"
Hi,

I'm getting an exception whose traceback involves pytest-cases.

Here is a minimal reproducer:
[code]
[code]

This is with the latest versions if pytest and pytest-cases installed from pypi.org.

[2022-02-07 17:57] jammer87 commented on #254
Same issue as #251

[2022-02-08 01:55] Jasha10 commented on #254
I see, thanks @jammer87. I will close this issue in favor of #251.

[2022-02-08 01:55] #254 closed

[2022-02-08 12:59] smarie commented on #251
Thanks for reporting ! I'll ship a fix very shortly based on @jammer87 's PR

[2022-02-08 17:10] smarie opened #256 "Simplify the nox file now that nox can parametrize the session python"
Since this feature is now available : https://nox.thea.codes/en/stable/config.html#parametrizing-the-session-python

We can now get rid of my hack to reach the same feature (the ENVS dict passed to the `envs` argument in `@power_session`)

[2022-02-08 17:24] #251 closed

[2022-02-15 20:29] nor3th commented on #252
Hey @MarkoBox

What worked well for me were relative imports.
Example:
[code]
test_foo.py:
[code]

test_foo_cases.py
[code]

Hope this helps

Regards

[2022-02-17 13:27] eddiebergman opened #257 "[Doc] `parametrize_with_cases` takes list of such elements"
Ello,

While the [documentation](https://smarie.github.io/python-pytest-cases/api_reference/#parametrize_with_cases), the type signature for `cases` doesn't seem to indicate it takes lists
of such items `Callable`, `Type` and `ModuleRef` while the description below says it does.

[code]

_typo in "suported" that can be fixed :)_

I understand this would complicate the type signature but I was hopi

[2022-02-19 20:33] eddiebergman opened #258 "[Question] Pre-filter cases"
Hi @smarie,
I was looking through the documentation and couldn't find any way to pre-filter cases into some kind of iterable that can then be passed to `parametrize_with_cases("x", cases=...)`. My use case is generally to have cases in a `cases.py` file that is shared throughout the test module.

[code]

This is useful for testing hierarchies where `A` and `B` inherit from `Base` so much of their

[2022-02-21 14:54] smarie commented on #258
Hi @eddiebergman , thanks for this suggestion !

I guess that [`get_all_cases`](https://smarie.github.io/python-pytest-cases/api_reference/#get_all_cases) could do the trick, however you currently have to pass it some function as the first argument, in order for it to find the host module.

Maybe we could transform it so that it accepts a module instead ? Otherwise for now you can just pass a fake

[2022-02-21 15:02] smarie commented on #252
Indeed, relative imports are the way to go here. Thanks @nor3th !

Note that alternately you may import the module explicitly using whatever means you prefer, and pass the module object to the `cases` arg. I usually do not do this, as relative module passed as string is more convenient

[2022-02-21 15:24] eddiebergman commented on #257
I can look into this later this week, I assume some tests to actually verify that this behaviour is correct might be required i.e. That a `CaseType` is possible or a list of any possible `Iterable[CaseType]` is possible?

I havn't looked through the tests of `pytest_cases` so it may already be there

[2022-02-21 15:33] eddiebergman commented on #258
Ahh I never thought about the dummy function approach, I thought it might do some introspection into the arguments of the function. Does this introspection occur?

An ideal interface as far as I could imagine doesn't rely on an actual function being defined? I don't see the reason for the function needing to be passed other than to allow for the argument `cases="."` or `cases=AUTO` in which it loo

[2022-02-21 15:41] smarie commented on #258
Yes I think that it was to grab the module, so that relative module names (not only "." but ".xyz", either alone or in an iterable) and AUTO mode is supported.

It would indeed be preferable to improve `get_all_cases` so that it can receive a function OR a module (name ?) , and so that this argument can be optional (default None).

[2022-02-21 15:43] smarie commented on #257
Yes the tests already support it since the corresponding code is covered https://smarie.github.io/python-pytest-cases/reports/coverage/d_e0f0fa8c1f5d62a2_case_parametrizer_new_py.html#t240  (line 245)

This is really just type hints, sorry for this :'(

[2022-02-21 15:44] eddiebergman commented on #257
Cool, thanks for pointing me to it, it should be a quick doc update then :) I'll have a look later today so!

[2022-02-22 11:46] smarie opened #261 "Improve `@parametrize`: accept a dict for argvalues so that the id can be passed as the key"
`@pytest.mark.parametrize("a", [0, 2], ids=["Null", "Positive"])`

could become

`@parametrize("a", dict(Null=0, Positive=2)`

[2022-02-22 22:11] eddiebergman commented on #229
Seems like some fun, any pointers?

[2022-02-23 20:46] jlorieau opened #262 "Case sets"
I'm relatively new to pytest cases, so this feature may already be implemented in some way that I have not found.

I have a series of data test cases in a root file for multiple datasets. These include reference datasets and datasets that have been modified in some specific way by an external program:

cases.py:
[code]
For individual cases, I can import these pretty easily:

test.py
[code]

Howeve

[2022-02-24 08:18] saroad2 commented on #186
Hey @smarie .

I'm bumping this issue again. I think that a year later, it's about time to drop python 2.7 support.

Keeping 2.7 makes the code a lot harder to read than it should be. I truly believe that people should have moved to python 3 by now.

Would love to hear your opinion about this.

[2022-03-01 20:56] smarie commented on #186
Thanks @saroad2 for coming back at this point !

Indeed this could be something doable, if you are motivated.

Knowing the details inside pytest-cases, I am just afraid that by far the largest complexity by far is not due to python 2 support, but to working around the pytest engine with tweaks that are more or less ugly (creation of fixtures behind the users' back in particular, and manipulating t

[2022-03-01 21:07] smarie commented on #229
A case function is "just" a `pytest_cases.lazy_value` fed to a `@pytest_cases.parametrize`, or a fixture. It is turned into one or the other depending on whether it requires parametrization.

Below you can find info on lazy values, but the more I think about it, the more I think that the simple way is to detect generator cases and force-turn them into fixtures (the same way as for parametrized cas

[2022-03-07 08:52] eddiebergman commented on #229
Hi @smarie, I'll take a look throughout this week, thanks for the detailed write up :)

[2022-03-07 13:23] jlorieau commented on #262
Thank you @smarie for the response. That suggestion is helpful, but I'm concerned that it may be unwieldy for a large sets of case comparisons. The alternative approach I took, which may be helpful to other other users but may not align with the scope of pytest cases, is as follows:

[code]

Then these are used with parametrize as follows:

[code]

I might have a large number of modified datasets

[2022-03-08 18:48] jlorieau commented on #262
Great thank you!

[2022-03-09 14:58] smarie commented on #262
You're welcome @jlorieau . So do you confirm that the first option works ? And/or maybe the second ?

[2022-03-13 19:48] marshall7m opened #263 "Parameterize class fixture with current index of another class parameter"
Hi there,

Thank you for putting this package together. I hope that it will be able to handle the complexity of this use case since I haven't found a native pytest solution.

**Background:**

I'm writing integration tests that include a base pytest testing class (`TestScenarioOne`) that parametrizes a sub pytest testing class (`TestIntegration`) with the base pytest testing class `data` attribute.

[2022-03-14 08:45] smarie opened #264 "importerror with pytest 7.1"
see https://github.com/pytest-dev/pytest/issues/9762

[2022-03-14 09:25] #264 closed

[2022-03-14 09:31] smarie opened #266 "Remove `bandit<1.7.3` line in flake8-requirements"
same as https://github.com/smarie/python-decopatch/issues/29 :

when this is fixed https://github.com/tylerwince/flake8-bandit/issues/21

[2022-03-14 09:43] smarie commented on #264
Fixed in pytest-cases 3.6.10

[2022-03-18 20:29] smarie commented on #252
@MarkoBox do you confirm that this worked for you ? If so I can then close the ticket

[2022-03-19 10:58] MarkoBokic commented on #252
Yes it did, thank you.

[2022-03-19 13:55] smarie commented on #252
Thanks !

[2022-03-19 13:55] #252 closed

[2022-03-21 13:12] smarie commented on #263
Any progress on this @marshall7m ? Just to be sure you found a way out

[2022-03-21 14:35] smarie commented on #262
I tried today and confirm that the first option works, but not the second. I updated the examples, there were a few typos.

[2022-03-21 14:50] smarie commented on #262
I made the second one work too, just in case you're still interested. I edited the example above.
Let me know @jlorieau !

[2022-03-21 15:03] smarie commented on #249
I found the culprit: https://github.com/smarie/python-pytest-cases/blob/8d11b7de97bd8c18891aa7d5f21cd45539486843/src/pytest_cases/case_parametrizer_new.py#L682-L686

The issue is that I set `__module__` myself so that the warning message looks nice... However then the `__init__` should contain the class for consistency.

[2022-03-21 15:08] smarie commented on #249
@lilo-d please note that the `CasesCollectionWarning` means that there is at least one class containing cases, that is ignored in your tests because it contains `__init__` or `__new__`. So, probably something to check on your side as well (even when the bug is fixed)

[2022-03-21 15:20] smarie commented on #258
Closed in #260

[2022-03-21 15:20] #258 closed

[2022-03-21 15:24] smarie commented on #257
Closed by #259

[2022-03-21 15:24] #257 closed

[2022-03-22 23:57] rawrgulmuffins opened #268 "`pytest-cases` Doesn't Add Pytests CLI Option When Using `parser.addoption` Pattern"
# Description
In the Pytest [documentation](https://docs.pytest.org/en/6.2.x/example/simple.html) there's a section that covers adding CLI options to your tests. The basic pattern is

[code]
The issue is that if you're using pytest-cases @fixture (or even @pytest.fixture) and then use `@parameterize` or `parametrize_with_cases` the `parser.addoption` call is never made. This blocks someone from ad

[2022-03-23 05:56] rawrgulmuffins commented on #268
I asked this same question [over at stack overflow](https://stackoverflow.com/questions/71580001/parameterize-list-returned-from-fixture-in-pytest-or-pytest-cases/71582324#71582324). It looks like this is an issue with the addoption declaration being in the same file as the tests.

[2022-03-23 08:23] smarie commented on #268
Thanks @rawrgulmuffins for the feedback !

This issue is indeed not related to pytest-cases, but to the fact that the pytest_addoption hook is a pytest plugin hook. pytest does not support that you place such hooks in the test files.

I added my two cents in the explanation here : https://stackoverflow.com/a/71583889/7262247

[2022-03-23 16:40] rawrgulmuffins commented on #268
I think there's an argument for adding an explanation that explains that the `cases=.` case doesn't let you include pytest hooks to the test file. That probably sounds obvious to you but it would have saved me hours of my life. =P

[2022-03-23 19:39] smarie commented on #268
Indeed. Well, I guess that the stackoverflow ticket + this issue will definitely help save other user's time.
If you feel that adding an explicit mention in the documentation would also help, do not hesitate to also propose a PR.
Thanks again @rawrgulmuffins  !

[2022-03-23 19:39] #268 closed

[2022-04-01 10:02] PiQuer opened #269 "pytest-cases not compatible with pytest-repeat"
Pytest-repeat is a plugin for, well, repeating tests :)

Tested with pytest-cases  3.6.11 and pytest-repeat 0.9.1, python version 3.9.9:

` ` `
$ python -m venv venv
$ . venv/bin/activate
$ pip install pytest-cases pytest-repeat
` ` `
A minimal example to reproduce the issue is this test_repeat.py:

[code]
When run with `pytest test_repeat.py` it works, but with `pytest test_repeat.py --count=10`

[2022-04-14 11:27] BorjaEst opened #270 "pyright error: Argument missing for parameter on `parametrize`"
I am getting the following error when I use [pyright](https://github.com/microsoft/pyright) to check typing `parametrize` function:

[code]

This errror is related to my piece of code:
[code]

[2022-05-07 14:52] smarie commented on #270
Thanks @BorjaEst  ! I'll have a look

[2022-05-07 15:17] smarie commented on #269
Thanks @PiQuer for spotting this ! Could you please let me know the version of pytest-cases you are using ? Indeed the latest version of pytest-cases should have fixed this specific line popping in the stack trace.

Thanks in advance !

[2022-05-07 15:19] smarie commented on #270
I created a PR that should hopefully fix this. Can you please confirm that it does the trick for you ?

[2022-05-07 18:24] PiQuer commented on #269
I can reproduce the error with pytest 3.6.11 and with the latest master def94ce5826c177d74f14bc05ab1b6bf1057713b.

[2022-05-07 18:51] smarie commented on #269
super, thanks for the confirmation ! I therefore have to investigate in order to understand why there is some fixture reordering when pytest-repeat is enabled. It seems strange that simply repeating tests would trigger re-ordering, but I do not know what they actually do...

[2022-05-07 18:59] PiQuer commented on #269
Thanks for investigating! I guess it is practically impossible to be compatible with all pytests plugins out there, if they have a certain complexity.

I just thought it would be good to document the incompatibility. Pytest-repeat looked like a good fit to easily get statistics about unstable tests, but for me it is not top-priority to get this working ;)

[2022-05-08 13:24] smarie commented on #269
It seems that they define a `__pytest_repeat_step_number` fixture statically, but they append it dynamically and parametrize it dynamically : https://github.com/pytest-dev/pytest-repeat/blob/master/pytest_repeat.py#L61

I'll see what I can do

[2022-05-08 14:17] smarie commented on #269
Well I do not clearly understand why this happens, so I can not really fix it without advice from the pytest team :(

I tried to run the following simple example :

[code]

And then put a breakpoint in `pytest.fixtures.prune_dependency_tree` line 393 (the line appearing in your stacktrace). So, at:
`self.names_closure[:] = sorted(closure, key=self.names_closure.index)`

Inspecting the variables:

[2022-05-09 06:50] BorjaEst commented on #270
Thanks @smarie, I confirm that for my cases (and so the above) the PR fix the issue.

[2022-05-10 15:47] smarie commented on #270
Super, thanks @BorjaEst ! I'll ship a release asap

[2022-05-10 15:57] #270 closed

[2022-05-12 09:41] smarie commented on #269
It should be fixed in 3.6.12, available in a few minutes. Let me know if this works for you !

[2022-05-12 09:41] smarie commented on #270
It should be fixed in 3.6.12, available in a few minutes. Let me know if this works for you !

[2022-05-12 19:38] PiQuer commented on #269
Looks good! Thanks for the fix :)

[2022-05-13 12:14] smarie commented on #269
Thanks again @PiQuer for the contribution

[2022-05-20 08:08] BorjaEst commented on #270
Yes, it works. Thanks @smarie .

[2022-05-20 12:34] smarie opened #274 "`_LazyValueCaseParamValue` is injected instead of the case function result"
When at least two "basic" cases are present next to each other in a set of cases where there is at least a fixture case (parameterized case or case requiring a fixture), then the case function is not called and a `_LazyValueCaseParamValue` is wrongly injected.

Reproducible example:

[code]

yields

[code]

[2022-05-20 12:48] smarie commented on #274
The bug does not happen when the cases are used to parametrize the test (not a fixture).
The following works:

[code]

[2022-05-20 15:32] smarie commented on #274
Decoding what happens in the original (failing) example:

 - `@parametrize_with_cases` creates the `dummy3` fixture for case 3 and `lazy_value`s for the first 2 cases and calls `@parametrize`
 -  `@parametrize` creates the `dataset_dset_is_P0toP1` fixture, parametrized with the first two lazy values
 - `@parametrize` creates the "union" fixture `dataset_dset` with alternatives ['dataset_dset_is_P0

[2022-05-20 16:07] #274 closed

[2022-05-20 19:15] smarie commented on #270
Thanks for the feedback !

[2022-06-10 14:03] smarie opened #277 "add citation file"
See https://github.com/data-centric-ai/dcbench/blob/main/CITATION.cff

[2022-06-15 23:51] vyasr opened #278 "`fixture` does not work with lambdas"
First of all I want to say thanks for a great plugin! I've been making extensive use of it recently. I've found a few minor issues that I wanted to raise, so I wanted to say thank you first!

The problem that I'm running into is that `pytest_cases.fixture` does not support lambdas, but `pytest.fixture` does.

[code]

For context, I am basically doing what is described in [this comment](https://git

[2022-06-15 23:56] vyasr opened #279 "`fixture` gets confused by functions with all default parameters"
If all the parameters to a fixture function have default values, `pytest.fixture` handles them appropriately but `pytest_cases.fixture` does not.

[code]

My use case is the dynamic generation of fixtures in a loop and using default parameters as a way to avoid late binding issues. I could of course make use of `functools.partial` or in general find some other way to introduce another stack frame

[2022-06-16 00:27] vyasr opened #280 "Wrapper functions for cases that do not use `wraps` don't work"
There are a few issues here, so I think it will be easiest to demonstrate with a sequence of examples since I don't know what the appropriate solutions are here for `pytest_cases`. We start with this code:
[code]
There are two problems that I observe now. First, in addition to needing the name to be assigned correctly in the `globals()` dict (which is necessary for all pytest fixtures), cases in `

[2022-06-18 19:58] smarie commented on #278
Hi @vyasr , thanks a lot for your positive feedback !

Would you mind letting us know the stacktrace and when it happens (module loading time or later ?)
Thanks in advance!

[2022-06-19 13:27] smarie commented on #279
Thanks for reporting @vyasr  ! as for other issues, it would be great to have a stacktrace/explanation rather than "this fails" :)
I'll have a look

[2022-06-19 13:31] smarie commented on #278
I tried on my side and if I use I get the following error at test collection time:

[code]

This is an error in `makefun`, not `pytest-cases`. It seems that it will be closed with this PR: https://github.com/smarie/python-makefun/pull/80

[2022-06-19 13:45] smarie commented on #279
I am able to reproduce the issue.

[code]

The issue comes from the fact that in `ignore_unused` I modify the signature of the wrapper I add the "request" parameter at the end of all parameters. We could modify the code so that `request` is inserted just before the first argument with a default value if any exists, or last.

Note that the same issue happens at another place in the code, the proble

[2022-06-19 13:55] smarie commented on #280
Nice use case @vyasr :)

I think `makefun` might be the answer to all of your needs: it is an "improved" version of functools able to deal with signature modifications while strictly preserving the behaviour (as opposed to functools.wraps, that does not raise an exception when the arguments do not comply with the signature)

Check it out here: https://smarie.github.io/python-makefun/

[2022-06-19 15:15] vyasr commented on #278
Yes, that is the correct error and I can confirm that https://github.com/smarie/python-makefun/pull/80 fixes the error when I patch that onto the PYTHONPATH. Thanks! I searched through issues on this repo but I didn't recognize that it was coming from the other package!

[2022-06-19 15:24] vyasr commented on #279
Apologies, I spent a lot of time trying to strip these issues down into easily reproducible MWEs and conveniently forgot to post tracebacks :) I'll remember (if there is a) next time.

Yes, that error is that I observe, and your proposed fix is consistent. Thanks for the help in tracing it back! I didn't spend all that much time trying to identify the root cause since I assumed that this issue (an

[2022-06-19 15:59] vyasr commented on #280
If I understand correctly, you're suggesting that I do something like this instead:

[code]

If so, that seems to replace the old issue with a new one. Here is the traceback I get by using this new version of the decorator:

[code]

I suspect that this has something to do with the signature remapping, but I'm not sure. Is it somehow thinking that `wrapper` and `func` will call each other, creating

[2022-06-20 07:44] smarie commented on #280
I think that your initial error is now solved, now the error is a `pytest` fixture dependency error: pytest is telling you that there is a fixture dependency loop involving fixture `two`. So maybe fixture `two` requires another fixture, which itself requires `two`.
Fixtures can depend on other fixtures but this should be an acyclic directed graph (no cycles).

[2022-06-20 07:46] smarie commented on #279
Perfect ! Thanks for the feedback

[2022-06-21 16:20] vyasr commented on #280
Apologies if I wasn't clear, the error is from the exact MWE that I posted above, just redefining the decorator. I did not try this in the context of a larger workflow. However, as I was preparing to post the same MWE as above I realized what the problem is. Here's a MWE:

[code]

The resulting traceback is the confusing recursion issue that I mentioned above:
[code]

However, I don't think this i

[2022-06-21 19:46] smarie commented on #280
Very good diagnosis indeed @vyasr !

Indeed, when a case function is parametrized or requires a fixture, it is replaced with a fixture with the same name as its id (hence, `two` for `case_two`). This name is intelligently modified if it already exists, so that it does never conflict with an existing fixture or symbol. **However**, in your case, there is no existing symbol named `two`. So, `case_tw

[2022-06-21 19:46] #280 closed

[2022-06-22 20:40] smarie commented on #278
This should now work with makefun 1.14. Do you confirm ?

[2022-06-25 13:57] smarie commented on #278
Closing for now, but feel free to reopen @vyasr

[2022-06-25 13:57] #278 closed

[2022-06-26 02:45] sgbaird opened #281 "Hierarchical pairs of fixtures and values to check against (like a zipped for loop over fixtures and "check" dictionaries)"
I have two fixtures that each return a class instance where the classes are different from each other, and I want to compare the attributes of each class instance for a fixed set of inputs to a fixed set of expected outputs. The fixed inputs are the same between the two fixtures, but the list of attributes to check and the associated values are different between the two classes.

[This question](h

[2022-06-26 03:33] sgbaird commented on #281
Not working either, as the fixture is left as a callable inside the test function.

[2022-06-27 17:35] vyasr commented on #278
Apologies for the delayed response. Yes, I can confirm that the newest release of makefun solves the problem!

[2022-06-27 17:37] vyasr commented on #280
Since the name is modified to avoid conflicts with fixtures that _do_ exist, I agree that there's not much to be done here. The error case of requesting a fixture that doesn't exist that also happens to conflict with the case name is definitely too specific to worry about.

[2022-06-27 19:18] smarie commented on #278
Thanks @vyasr !

[2022-07-29 19:01] volcacius opened #282 "Filter cases by parametrization"
Hello,

Thanks for the excellent work with this library. I have a scenario that I can't get to work and I was wondering if there is a way around it or not.
I have a case generator with some complicated logic and multiple `@parametrize` annotations. Depending on how it has been parametrized it should be tested by different functions. So I have been trying to use use the  `filter` argument in `@para

[2022-08-08 16:35] rena2damas commented on #150
I got here due to the following error:

[code]

Is this not supported?

[code]

[2022-08-22 19:57] lawschlosser commented on #230
@smarie Any chance this can be backported to a python 2.x release?  (sorry, had to ask)

[2022-09-12 13:10] smarie commented on #150
@rena2damas no this is not supported. Usually from my experience you can always find an (elegant) way to use pytest and pytest-cases without using `indirect`.

If a fixture is to be parametrized in two different ways for two different tests, I would suggest to create two fixture relying on the same code, or depending on the same root fixture. That way no need for `indirect`.

[2022-10-12 12:00] jgersti opened #283 "Marking cases fails when `--strict-markers` is used"
Marking a cases with ~~`pytest.mark.skip` (and I assume for atleast any other builtin mark)~~ any mark fails with
[code]
during collection when the cli option `--strict-markers` is used.

#### minimal example:
[code]
#### environment
##### interpreter
python 3.10.5
##### installed packages
pytest 7.1.3
pytest-cases 3.6.13
+dependencies

[2022-10-16 13:19] tokarenko opened #284 "Add zip join to combine fixtures"
Consider this issue as a feature request please. I suggest to add more flexibility to how parameters for tests are combined. In pytest tests are executed for each combination (cartesian product) of all parameters. I was glad to find fixture_union in pytest cases that introduces flexibility in combining fixture parameters for tests. I suggest to add further options to combine fixtures: zip join to

[2022-10-19 13:17] maria-pia-goicoechea-lenio opened #285 "Fixture not receiving values of test parameters"
Consider this example in which I have a test (`test_nums`) which has 2 parameters: `n1` and `n2`, and a fixture (`test_fixture`) that uses `n1` and `n2`.

[code]

Normally, using `@pytest.mark.parametrize`, from `test_fixture` I can access the values ​​of `n1` and `n2` for each test case, but using `@parametrize_with_cases`, the `test_fixture` does not receive the correct values. (see below screen

[2022-10-20 08:02] jgersti commented on #283
The offending piece of code is line 296 in the function `markinfos_to_markdecorators`:

https://github.com/smarie/python-pytest-cases/blob/112ca87a2a2ebfe55d5a9d64902832b80d9a1c55/src/pytest_cases/common_pytest_marks.py#L275-L322

With `--strict-markers` this an illegal since only known marks can be generated with the `MarkGenerator` mechanism hidden behind `pytest.mark`.

For newer version of pyt

[2022-11-17 11:15] dybi opened #286 "`pytest_cases.parametrize()` makes `pytest.mark.anyio` not working"
[code]

the above code produces the following error:
[code]

It looks like using `pytest_cases.parametrize()` would "cancel" `pytest.mark.anyio`. The order of the decorators doesn't matter - the same error is produced.

Versions:
[code]

[2022-11-25 21:37] smarie commented on #282
Hi @volcacius terribly sorry for not being able to answer earlier ! :(

Unfortunately the `filter` is only used to filter out entire case functions. https://github.com/smarie/python-pytest-cases/blob/main/src/pytest_cases/case_parametrizer_new.py#L143

What you are looking for is probably reachable by adding the following line of code in your test function:

[code]

Would that solve your issue ?

[2022-11-25 21:52] smarie commented on #285
Thanks @maria-pia-goicoechea-lenio  ! Very sorry to answer late.

If you actually need explicit fixtures named `n1` and `n2` parametrized with cases, you should create them explicitly before using them:

[code]

Would this solve your problem ? Otherwise could you please provide a fully reproducible example ? Indeed I cannot make this to work without getting `fixture 'n1' not found`.

[2022-11-25 21:56] smarie commented on #281
See also #284

[2022-11-25 21:57] smarie commented on #284
Nice proposal @tokarenko !
It reminds me of #281 but seems more straightforward. Would you like to propose a PR, similar to the `unpack_fixture` function ? https://smarie.github.io/python-pytest-cases/api_reference/#unpack_fixture

Note that the implementation could construct a namedtuple so that both index-based access and named access (as in your example) works.

[2022-11-25 22:00] smarie commented on #283
Good catch @jgersti  ! Not sure when I'll have the time to try a PR for this, as my bandwidth is fairly limited these days.
But I would be glad to review a PR if you would like to give it a go.
Note that the nox builder tries many versions of python and pytest, so it would easily help to spot if the fix flies for other versions.

[2022-11-28 13:15] maria-pia-goicoechea-lenio commented on #285
Thanks @smarie for responding!

No, I don't want `n1` and `n2` to be fixtures. They are just parameters with some vales given from `Cases_num`
For example, let's say `n1 = 10` and `n2 = 20`

What I need to do is to access the values of `n1` and `n2` (10 and 20 in the example) inside of the `test_fixture` as I would do inside of `test_nums`

do I explain myself?

[2022-11-28 13:44] volcacius commented on #282
No worries, I ended up going for something similar and it's good enough. Thanks!

[2022-11-28 13:44] #282 closed